[2019-09-16 15:19] BenParizek opened #343 "File Upload field doesn't save new Asset Source option"
### Description (screenshots, logs, ...)

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_wigz)

[2019-09-16 15:48] BenParizek opened #344 "Add integrated support to submit Forms using AJAX"

[2019-09-16 16:09] BenParizek opened #345 "Duplicating a form should duplicate everything"
Copy Integrations and Notifications and Rules when duplicating a Form.

[2019-09-16 16:10] BenParizek opened #346 "Improve Sprout Forms support for headless scenarios"
Sprout Forms makes some assumptions that Twig templates exist for certain behaviors. Review all code in the context of headless CMS scenarios.

[2019-09-16 16:11] BenParizek opened #347 "Improve Integration logging and failure reporting"
Improve logging and events to ensure users have good options when monitoring reliability of integration behavior.

[2019-09-16 16:13] BenParizek opened #348 "Ensure Title Format settings with field handles are recognized when field handles change"
In some scenarios, like Integrations and Title Format behavior, a setting could depend on a field handle and should be aware or throw an error when that field handle changes.

We can search for any number of matches of a handle that changed using the two following patterns:

- {fieldHandle
- object.fieldHandle

A field handle could be used multiple times, and we should replace in each instance tha

[2019-09-16 22:28] BenParizek commented on #338
@jeffreyschmitz87 @BrandonJamesBorders I trust something is up with your configurations however we're still unable to recreate this issue.

We recently added the Send Rule feature which can conditionally determine if an email is sent or not. It sounds like you are confirming that the database settings for that are correct and should be evaluating to true.

@jeffreyschmitz87 We took a look at the d

[2019-09-17 05:25] jeffreyschmitz87 commented on #338
@BenParizek I've received a test e-mail from Craft. Was this the only email you've sent? As mentioned above sending test e-mails works. Having a notification which should send an email after a form entry is saved doesn't work.

[2019-09-18 15:08] BrandonJamesBorders commented on #338
@BenParizek @jeffreyschmitz87 If you end up needing another datapoint after your hangout let me know!

[2019-09-25 13:40] jeffreyschmitz87 commented on #338
@BrandonJamesBorders I think I've found the problem. I did some research and the Javascript Captcha  Spam Protection seems to be the problem in version 3.4.2.

It seems the code it renders is missing a `<script>` tag which turns into failing the spam protection validation (which also fails an event) and faking the submission.

When I disable the Javascript Captcha Spam Protection everything is wor

[2019-09-26 10:14] jowhannez opened #349 "Unable to save entry with a sprout forms field when "validate related elements" is checked"
### Description (screenshots, logs, ...)

https://i.ibb.co/CWhKh3V/error.png

Unable to save entry with a sprout forms field when "validate related elements" is checked in the fields settings.

### Steps to reproduce

1. Create a "Forms (Sprout Forms)" field
2. Check "validate related elements"
3. Make a form
3. Add field to an entry
4. Go to entry and select the form
5. Try to save entry

### Add

[2019-09-26 12:59] BrandonJamesBorders commented on #338
@jeffreyschmitz87 Ah, good investigation!

[2019-09-27 00:45] #343 closed

[2019-09-27 00:47] #90 closed

[2019-09-27 00:52] #340 closed

[2019-09-27 00:52] #341 closed

[2019-09-30 13:35] BenParizek commented on #349
Thanks for reporting @jowhannez. Added to our list and we'll let you know when we have an update.

[2019-10-01 07:02] jeffreyschmitz87 commented on #338
@BrandonJamesBorders a quick update on this. After some messages with @BenParizek this is what I've come up with:
1) The `<script>` tag does get rendered but it's moved towards the end of page source
2) After some tests it seems using `{% if block('something') %}` (between the code that is used to render the form) is causing the Javascript to render two alojs checks but there's only one form on th

[2019-10-02 11:49] BenParizek commented on #338
I'm going to close this out for now, please re-open or post a new issue if this continues.

It appears in @jeffreyschmitz87 case the issue was caused by the use of the `block()` function in an if statement. This Twig function rendered the form template a second time during the page load and since the form templates use the `{% js %}` tag, the javascript captcha was being triggered twice on the pag

[2019-10-02 11:49] #338 closed

[2019-10-02 14:00] BrandonJamesBorders commented on #338
@jeffreyschmitz87 @BenParizek

My ``displayForm`` call was inside a `block.type` switch statement.

[2019-10-06 03:24] #114 closed

[2019-10-06 03:25] #35 closed

[2019-10-06 03:25] #30 closed

[2019-10-11 13:53] klick opened #350 "“A form submission failed the Duplicate Submission test.“"
Form fails to submit with `A form submission failed the Duplicate Submission test.` and `OnBeforeSaveEntryEvent is not valid` although form contents are unique. Immediately submitting it a second time works.

### Steps to reproduce

1. Fill out form
2. Press submit
3. Page just reloads with form pre-filled

### Additional info

- Craft version: 3.3.9
- PHP version: 7.2
- Database driver & version:

[2019-10-11 14:08] BenParizek commented on #350
@klick I can recreate this.

You can update and disable the Duplicate Spam check in `Settings->Spam Protection` area if that helps get around this issue in the short term.

I'll update this thread once we have a solution.

[2019-10-11 14:16] klick commented on #350
Thanks Ben, that does it for now.

[2019-10-15 00:47] engram-design opened #351 "Updating to 3.5.0 looses Default Form Templates setting"
Updating from 3.4.3 => 3.5.0 resets the "Default Form Templates" setting back to Accessible Templates. We were using custom templates, and occurred on two sites now.

[2019-10-15 00:51] engram-design commented on #351
This is because the setting variable was changed. This field was called `templateFolderOverride` and is now called `formTemplateDefaultValue`, but there is no migration of this setting.

[2019-10-15 10:16] welford-media-ops opened #352 "Entry not saving after hooking after save event."
We are using Sprout forms in order to capture details prior to redirecting users off site to a payment gateway.

Hooking into the EVENT_AFTER_SAVE and performing the redirect with "$this->redirect($redirect);" the form entry is never saved, I assume because of the redirect off site. This suggests that this event is not actually called "After Save".

### Steps to reproduce

1. Create a form
2. Hook

[2019-10-15 11:51] BenParizek commented on #352
@welford-media-ops

There are two "after save" events and, in both cases, Sprout Forms is extending Craft's Element class behavior for those events.

The Element's [EVENT_AFTER_SAVE](https://github.com/craftcms/cms/blob/3.3.9/src/services/Elements.php#L1975) happens within the save transaction and should use this class as it's trigger:
`barrelstrength\sproutforms\elements\Entry::EVENT_AFTER_SAVE`

[2019-10-15 12:03] BenParizek commented on #351
Thanks for reporting @engram-design. We'll update this thread once we release a fix.

[2019-10-15 13:31] BenParizek commented on #350
@klick In a second round of testing, I'm no longer able to recreate this.

If this persists for you, can you share what Form Templates you are using and, if possible, share the code of your form.twig template if you are overriding the default templates?

[2019-10-15 13:59] klick commented on #350
Hi Ben. Thanks for getting back.

That behavior now disappeared here as well instead another issue appeared: Forms aren’t being submitted when the Javascript-Option on the Spam protection settings page is active. It just redirects to the thank you-page.

The form in question: https://www.temedos.de/buchen-sie-ihren-persoenlichen-gesundheitscheck?utm_source=check-modul&utm_medium=check-modul&utm_ca

[2019-10-17 22:26] BenParizek commented on #351
@engram-design This should be solved in the latest release v3.5.1

[2019-10-17 22:26] #351 closed

[2019-10-17 22:31] #18 closed

[2019-10-18 16:13] andrelopez commented on #349
Hi @jowhannez We're unable to recreate this issue could you please confirm us your Sprout Forms version?

[2019-10-18 16:22] andrelopez commented on #350
Hi @klick

Could you please share the code of how are you displaying manually the fields in the form? In Craft3 is required to have the following line (required for spam workflow) inside your `<form>` tag:

`{% hook 'sproutForms.modifyForm' %}`

Best,

[2019-10-19 11:02] klick commented on #350
Hi @andrelopez.

That I did not know and it seems to resolve the issues. RTFM I guess. ^^

Thank you!

[2019-10-19 11:38] #350 closed

[2019-10-21 13:17] welford-media-ops commented on #76
Hi

Sorry to resurrect an old ticket however we have an issue related to this. We have recently attempted to upgrade our Craft 2 installation to Craft 3, and have installed the most recent version of Sprout Forms. When attempting to use our v2 form, we now receive the attached error.

Can you tell us how we can restore the functionality to add Matrix fields to our forms? These fields were provided

[2019-10-23 02:10] OscarBarrett opened #353 "Notification test can say it was successfull when it actually failed"
### Description (screenshots, logs, ...)
This may be specifically related to using SES or a similar email service that can respond with 554.

<img width="451" alt="image" src="https://user-images.githubusercontent.com/3511332/67350157-88b7af80-f57c-11e9-9d05-d6f3bfeb5ed2.png">
<img src="https://user-images.githubusercontent.com/3511332/67350227-c1f01f80-f57c-11e9-8dc7-c4e0d319b3d6.png">

### Steps

[2019-10-23 23:13] BenParizek commented on #353
@OscarBarrett Can you confirm where you are seeing that error message?

In general, when we say an email has been successfully sent from Craft we can only know that it has been successfully handed off to the service defined in the email settings. It is possible additional deliverability issues occur at that next layer.

We can look into correcting the message there if that's a Craft/Yii error mess

[2019-10-24 01:27] OscarBarrett commented on #353
The warning is in the request log on the POST request.

Looking into it further, it's hitting [this](https://github.com/barrelstrength/craft-sprout-base-email/blob/91bb5d92a69cf9d3a30434cc22643a120636d58e/src/mailers/DefaultMailer.php#L210) case in sprout-base-email.

The warning should be available from the [afterSend event](https://github.com/craftcms/cms/blob/004ab9ede036aa22bddd3f2b472c16e11bd

[2019-10-24 02:03] BenParizek commented on #76
Hi @welford-media-ops

In Craft 2, Sprout Forms extended the Craft Field Layout Editor and allowed you to add any field that Craft supported to a Form. While you could add any field on the back-end, the back-end Form UI was handled by Craft and Sprout Forms only added supported for the front-end output of the fields for a subset of the fields on the front-end. We only officially supported fields i

[2019-10-24 09:23] #352 closed

[2019-10-25 07:29] nickcobley opened #354 "Rename generic hidden class to prevent conflicts"
### Description (screenshots, logs, ...)

When using the simple method to output the form, eg {{ craft.sproutForms.displayForm('myForm') }}, it's rendering this style to inline into the page:

[code]

Trouble with this is it's using a generic class name, "hidden" which runs a pretty big risk of clashing with other styles. For example in our use case we are using Tailwind CSS, which also uses hidde

[2019-10-25 10:45] BenParizek commented on #354
@nickcobley Yes, it's a good idea and has been on my mind, but this gets it on the list.

In the meantime, you can use the [Template Override](https://sprout.barrelstrengthdesign.com/docs/forms/template-overrides.html) feature to set a folder for the global form templates for your site and copy over the form.twig file to update that to whatever you need.

[2019-10-25 19:24] kgi-cwells commented on #312
Hi, This issue popped up again when attempting to upgrade from v3.4.3 to v3.5.1, with a migration not properly checking the plugin schema, thereby forcing an exception when trying to migrate when `allowAdminChanges=false`.

I was able to fix it by manually editing the migration file `m191005_000000_update_form_settings.php` and correcting it per [https://docs.craftcms.com/v3/extend/project-config.

[2019-10-25 19:28] chadwells opened #355 "Migration requires allowAdminChanges"
### Description
Similar to #321

This issue popped up again when attempting to upgrade from v3.4.3 to v3.5.1, with a migration not properly checking the plugin schema, thereby forcing an exception when trying to migrate when `allowAdminChanges=false`.

I was able to fix it by manually editing the migration file `m191005_000000_update_form_settings.php` and correcting it per [https://docs.craftcms.

[2019-10-27 00:50] engram-design opened #357 "Fix deprecation error"
getError() has been deprecated. Use getFirstError() instead.

`/home/site/vendor/barrelstrength/sprout-forms/src/templates/forms/_editForm.twig:86`

[2019-10-27 00:54] engram-design opened #358 "Entries index blank, despite database records"
### Description (screenshots, logs, ...)
For some reason, the entries index is completely blank - https://d.pr/free/i/pvg6mR. This is despite having records in `sproutforms_entries` - https://d.pr/free/i/B3Ylv8

These elements haven't been deleted.

### Additional info

- Plugin version: 3.5.1

[2019-10-30 03:07] jaydensmith commented on #315
This issue is still present
[code]

[2019-10-30 03:36] engram-design commented on #358
So the clue here is that there are elements, but no rows in the content table. This made me look at each form's settings, which showed the issue.

https://d.pr/free/i/lxKg5B

Note my global settings for the plugin:
https://d.pr/free/i/t5fce7

I believe this is related to https://github.com/barrelstrength/craft-sprout-forms/issues/351 where this was messed up. Some migration has either taken place,

[2019-11-05 13:38] jerome2710 opened #360 "Deleting a duplicated form also deletes fields from original form"
### Description (screenshots, logs, ...)

The rows of `craft_fields` seem to be shared through multiple form copies. When deleting one of the forms, the corresponding fields get deleted leaving all other remaining forms corrupt.

### Steps to reproduce

1. Create form A and add some fields
2. Create form B by saving form A as a copy
3. Delete form B
4. All fields of form A are gone

### Additional

[2019-11-06 15:11] BenParizek opened #361 "Google Recaptcha may not check if captcha is completed"
https://github.com/barrelstrength/craft-sprout-forms-google-recaptcha/issues/10

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_13877)

[2019-11-09 11:39] BenParizek opened #362 "Notification Email viewContext column not found in migration"
See also: https://github.com/barrelstrength/craft-sprout-email/issues/128

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_12pxf)

[2019-11-09 11:58] BenParizek commented on #355
Thanks @kgi-cwells

We'll review and get this in the next release.

[2019-11-10 18:19] #210 closed

[2019-11-12 09:59] Ferrrrrre opened #363 "Update 3.5.0/3.5.1 fails on migrations"
### Description (screenshots, logs, ...)
When updating the plugin from 3.4.3 to 3.5.1 on one of our site, it keeps failing on the migrations.

[code]

If we delete all the sprout forms tables, we get yet another error about the foreign key of that table.

What are we doing wrong?

### Additional info

- Craft version: Craft Pro 3.3.14
- PHP version: 7.2.19
- Database driver & version:  MySQL 5.7.2

[2019-11-12 10:16] TomDeSmet opened #364 "General template override not working since latest update"
### Description (screenshots, logs, ...)
When overriding the templates in general settings, it just doesn't work.
When I override it on a per form basis, with the same templates, it does work.

### Additional info

- Craft version: 3.3.15 Pro
- PHP version: 7.3
- Database driver & version:  MySQL
- Plugins & versions: 3.5.1 Pro

[2019-11-13 19:31] Skartz opened #365 "Missing UI element to change multiple attribute on category field"
### Description (screenshots, logs, ...)

When using the "Categories" field, the "multiple" attribute is output on the select element. There is  no UI element allowing the modification of this setting.

![image](https://user-images.githubusercontent.com/16026365/68797073-200aa280-0611-11ea-97ce-868eff62c77b.png)

![image](https://user-images.githubusercontent.com/16026365/68797156-49c3c980-0611-11

[2019-11-14 13:37] BenParizek commented on #315
@jaydensmith Would you be able to share the database you are seeing this issue on with sprout@barrelstrengthdesign.com? If not the whole database, perhaps just the Sprout tables? This issue is feeling a bit like whack-a-mole and it would be helpful if we could confirm we're on the right track with a fix.

[2019-11-14 13:44] BenParizek commented on #363
Thanks @Ferrrrrre

We're looking into it and will update this thread once we have a fix.

[2019-11-14 13:44] BenParizek commented on #364
Looking into it @TomDeSmet

[2019-11-14 13:45] BenParizek commented on #365
Thanks @Skartz. We'll update this thread once we have a fix!

[2019-11-18 06:01] jaydensmith opened #366 "Craft 2-3 migration error - Console Request - Notification Email"
### Description (screenshots, logs, ...)
Another migration issue caused by accessing `Craft::$app->request` from a command-line request in `NotificationEmailQuery.php`.

[code]

### Steps to reproduce

1. Migrate from 2-3 via command line `./craft migrate/all`

### Additional info

- Craft version: 3.1.30
- PHP version: 7.1
- Database driver & version:
- Plugins & versions:

_For some issues, we m

[2019-11-18 15:02] BenParizek opened #367 "Add a Blacklist Captcha"
Allow users to flag spam that originates from predicatable IP addresses

[2019-11-19 03:54] jaydensmith opened #368 "Potential Craft 2-3 migration issue with user field"
### Description (screenshots, logs, ...)
I'm not sure if this is an issue with Sprout Forms or if the field is no longer supported. I can't find any info anywhere on this, however. I can see the value of the field in the entries but I can't edit the field or even delete it or change it to another field type.

![Screen Shot 2019-11-19 at 2 51 20 pm](https://user-images.githubusercontent.com/1634491

[2019-11-19 15:35] BenParizek opened #369 "Add Users Form Field"
Consider also adding a migration if someone added a Custom Users field on C2.
https://github.com/barrelstrength/craft-sprout-forms/issues/368

[2019-11-19 15:36] BenParizek commented on #368
@jaydensmith In Craft 2, Sprout Forms extended the Craft Field API and supported receiving data from Craft Fields but not all of those fields were officially supported. Generally, we didn't support any fields that required javascript on the front-end, however adding them to the templates manually could be done.

Users was one of those fields that could be submitted but had to be done so in a custo

[2019-11-19 15:39] BenParizek commented on #368
If you do need to create a custom field for this, here are the docs for [Custom Form Fields](https://sprout.barrelstrengthdesign.com/docs/forms/custom-form-fields.html).

And you may be able to use the existing Entries, Categories, or Tags Form Fields as starting points.

[2019-11-19 21:01] #355 closed

[2019-11-19 21:15] BenParizek commented on #315
@jaydensmith This should be resolved in the latest release (v3.6.1) now available in the Plugin Store.

[2019-11-19 21:15] BenParizek commented on #360
@jerome2710 Thanks for reporting this.

This should be resolved in the latest release (v3.6.1) now available in the Plugin Store.

[2019-11-19 21:15] #360 closed

[2019-11-19 21:17] BenParizek commented on #357
This is be resolved in the latest release (v3.6.1) now available in the Plugin Store.

[2019-11-19 21:17] #357 closed

[2019-11-19 21:19] BenParizek commented on #354
@nickcobley

This should be resolved in the latest release (v3.6.1) now available in the Plugin Store. Class has been updated to `sprout-hidden` and you may need to update that manually in any custom templates as described in the update notes: https://sprout.barrelstrengthdesign.com/docs/forms/installing-and-updating-craft-3.html#form-templates-2

[2019-11-19 21:19] #354 closed

[2019-11-19 21:33] #361 closed

[2019-11-19 21:39] BenParizek commented on #349
We are still unable to recreate this. Please re-open if the issue persists and we'll need to get more information about how to recreate. Following the steps above seems to work in our tests, so perhaps something else is at play.

[2019-11-19 21:39] #349 closed

[2019-11-19 21:48] #362 closed

[2019-11-19 21:50] #279 closed

[2019-11-19 21:56] BenParizek commented on #366
@jaydensmith Can you confirm what versions of the Sprout plugins you are updating to are?

I believe this was resolved in Sprout Base Email v1.1.5

[2019-11-19 21:57] BenParizek commented on #366
@jaydensmith If you can try updating again to the latest version, we just released Sprout Forms 3.6.0 which address a few other Craft 2 to 3 migration scenarios as well.

[2019-11-19 22:12] BenParizek commented on #358
@engram-design This should be resolved in the updates with the latest release v3.6.1

Let us know if any other issues arise.

[2019-11-19 22:12] #358 closed

[2019-11-20 00:24] jaydensmith opened #370 "Migration error in reports"
### Description (screenshots, logs, ...)
Encountered a migration error in m191116_000003_add_default_entry_status_datasource_settings.php line 44.

`$formEntriesReport` has no key `reports.id`, the correct key is just `id`.

[code]

[2019-11-20 04:43] jaydensmith commented on #315
Hey @BenParizek, thanks, the `viewContext` issue is gone, but now the same issue with the `sendRule` column missing.

[2019-11-20 10:53] tomdavies opened #371 "Adding a new form group fails if `allowAdminChanges` is set to`false`, even though no change will be written to project config"
### Description

Adding a new form group in Sprout Forms fails if administrative changes are disabled for the current environment, even though form groups are not written to `config/project.yaml`

### Expected behaviour

_Either_ that I can create form groups when `'allowAdminChanges' => false` is set, _or_ that form groups are tracked in project config (ideally the former).

### Steps to reproduc

[2019-11-20 11:52] BenParizek commented on #371
Thanks @tomdavies.

We'll review and get these instances cleaned up.

[2019-11-20 12:21] BenParizek opened #373 "Unable to find craft\base\ElementInterface::getSource"
PHP Fatal Error – yii\base\ErrorException
Class barrelstrength\sproutforms\elements\Entry contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (craft\base\ElementInterface::getSource)

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/t

[2019-11-20 13:14] BenParizek opened #374 "Updating Title Format does not update all historic Entry Titles"
When the Title Format setting is updated Sprout Forms should trigger a task that resaves the Title value of existing Form Entry Elements so that all Entry Elements for that Form use the same Title Format.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_13uf7)

[2019-11-20 13:48] BenParizek commented on #370
Thanks @jaydensmith.

We'll get this corrected.

[2019-11-20 16:17] BenParizek commented on #370
@jaydensmith This has been corrected in Sprout Forms v3.6.2

[2019-11-20 16:18] #370 closed

[2019-11-20 16:18] #225 closed

[2019-11-20 19:14] BenParizek opened #375 "Add User Element Integration"
Make it easy for folks to require firstName, lastName and password.

Make it easy to use reCAPTCHA for login/registration forms

[2019-11-21 05:05] jaydensmith commented on #366
Thanks @BenParizek that must be it

[2019-11-21 05:05] #366 closed

[2019-11-21 11:09] mklishevych opened #376 "Updating search index from the command line fails due to access to session"
### Description (screenshots, logs, ...)
Running craft queue from the command line results in the error for the Updating Search Indexes job. The cause is Invisible field implementation, which accesses session component, which is not available in the CLI environment.

barrelstrength/sprout-forms/src/fields/formfields/Invisible.php:160

[code]

### Steps to reproduce

1. Save the form with Invisible

[2019-11-21 12:50] BenParizek commented on #376
Thanks @mklishevych We'll get this fixed.

[2019-11-22 09:35] darylknight opened #377 "All fields disappeared from the form builder in 3.6.0 / 3.6.1"
### Description (screenshots, logs, ...)
I just updated Sprout Forms on a Craft 3 site locally with no issues from 3.5.1 to 3.6.1. When I deployed it to the staging site, all my fields disappeared in the contact form builder. I tried adding them again manually but it said the handle for the field was already taken, so I assume there weren't deleted from the database, but the Forms page in Sprout s

[2019-11-22 11:44] BenParizek commented on #377
@darylknight Would you be able to send your database and log files over to sprout@barrelstrengthdesign.com?

[2019-11-22 15:03] darylknight commented on #377
After discussing with Ben directly I'm going to close this and assume it's site-related rather than a core bug with Sprout Forms. Thanks!

[2019-11-22 16:42] riusi88 commented on #377
I just experienced the a similar issue, with the exception of one of my forms. This all occurred on a local Apache environment after updating Sprout Forms. The form that did not experience the issue was made just yesterday with 3 basic form fields.

- Craft version: 3.3.15
- PHP version: 7.3.7
- Database driver & version: MySQL
- Sprout Version: Updating from 3.3.9 to 3.6.2

@BenParizek  I can sen

[2019-11-22 18:32] BenParizek commented on #377
@riusi88 I wasn't able to recreate the issue with Daryl's db. If you could send over your before and after DB's to sprout@barrelstrengthdesign.com it'd be appreciated. It sounds like something may be up but it doesn't seem to happen in all environments so we need more info to narrow it down.

[2019-11-22 18:59] #373 closed

[2019-11-22 20:31] #371 closed

[2019-11-22 20:39] BenParizek commented on #363
@Ferrrrrre This should be resolved in Sprout Forms v3.6.4

[2019-11-22 20:39] #363 closed

[2019-11-22 20:39] #348 closed

[2019-11-22 20:40] BenParizek commented on #371
@tomdavies This should be resolved in Sprout Forms v3.6.4

[2019-11-22 20:48] BenParizek commented on #376
@mklishevych This should be resolved in the latest release.

[2019-11-22 20:48] #376 closed

[2019-11-22 21:23] BenParizek commented on #364
@TomDeSmet We've updated this behavior so the General Form Template setting should work again. A previous update changed the way that setting behaved to just define the default template selected when creating a form.

We reverted that and added a new "Default Form Template" option when creating a new form that just dynamically uses that global setting unless you choose to override it and be more s

[2019-11-22 21:23] #364 closed

[2019-11-22 21:27] BenParizek commented on #336
@tomdavies Two things here:

If you just need a single checkbox, the Opt-in Field is designed to be targeted at those types of use cases like Privacy Policy checkboxes and such. It's got a slightly different HTML output too that doesn't add the label above the field, but you can customize it like all the other fields how you wish as well. Just noting it as an option here.

To your original questio

[2019-11-22 21:27] #336 closed

[2019-11-23 07:59] tomdavies commented on #336
@BenParizek think you meant to tag @TomDeSmet

[2019-11-23 15:29] siebird commented on #377
Hey, Ben. We're having the same issue here. I'll DM the before/after dbs over to you

[2019-11-28 03:14] nicholashu commented on #344
I do this all the time. Craft 3 Headless, Next.js

`SproutForm.ts`
[code]

`formpage.ts`
[code]

`modules/csrf/controllers/CsrfController.php`
[code]

[2019-11-28 04:05] nicholashu commented on #377
I am in the same boat

[2019-11-29 10:10] TomDeSmet commented on #377
Happened here too. Not updating Sprout Forms for now...

[2019-12-02 09:40] SamLNL commented on #377
Same issue here

[2019-12-02 16:27] RyVeata commented on #377
Same.  On different server set ups, one being MySQL and others being Postgres.  Happens the moment you upgrade to v3.6.0.

[2019-12-02 16:31] natkuu commented on #377
I have the same issue upgrading to v3.6.0 on both MySQL and Postgres servers 😑.

[2019-12-02 17:19] lesaff commented on #377
Same issue here. Updated to latest Sprout Form and all my fields disappeared.

[2019-12-02 18:02] BenParizek commented on #377
Hi all. I'm working on this issue today.

Right now, the issue appears to be that the Field Layout ID of certain forms is getting reassigned to a new Field Layout ID value (which we need to do to address [another bug](https://github.com/barrelstrength/craft-sprout-forms/issues/360)) but somehow, that migration is getting applied to forms where it shouldn't be getting applied. And we can't seem to

[2019-12-02 18:27] lesaff commented on #377
@BenParizek Thank you for the update. While you are debugging this issue, how do we quickly restore our form(s)? Can we trace the field report ID and change it back to what it was before?

[2019-12-02 18:35] BenParizek commented on #377
@lesaff I'd recommend rolling back to your previous database if you could as I don't fully understand the issue yet.

I have not tested the below, and don't know if it would cause new issues or not, but if you wish to be daring and try to solve it in place, as I understand the issue right now, you would probably have to:

- Take a look in your db and find the fields that disappeared in the `craft_

[2019-12-02 18:40] lesaff commented on #377
@BenParizek Thanks for the instructions. That works. I was able to recover my form.

Cheers!

[2019-12-03 00:08] BenParizek commented on #377
A short update.

We've identified the issue. Some logic in a recent migration doesn't take into account Form Fields that don't have a column in the Form's content table (such as Asset and relations fields). Working on a fix.

[2019-12-03 02:23] engram-design opened #378 "SproutFormsAddressField - Cannot read property 'querySelectorAll' of null"
Getting the following JS error using the basic templates after an update to the latest version.

[code]

Caused by https://github.com/barrelstrength/craft-sprout-forms/blob/v3/src/templates/_components/formtemplates/basic/form.twig#L85

Change `new SproutFormsAddressField();` to `new SproutFormsAddressField('{{ id }}');`

[2019-12-03 02:26] engram-design commented on #378
Now I'm not so sure this is the correct fix. Fixing this throws a `Uncaught ReferenceError: SproutFormsCheckableInputs is not defined`. From what I can tell, this file is bundled in the `accessibility.js` file - should this be included in the basic template? This seems to be a new change including these JS files...

[2019-12-03 08:18] BenParizek commented on #378
Thanks for reporting @engram-design

Looks like we missed a couple of small details in the Basic Templates. You were on the right path, but there are a couple more edits that are needed that you can see here:
https://github.com/barrelstrength/craft-sprout-forms/commit/5de9deca2d44d62d31d8949a6392e6d7a9501bc3

We'll get these fixed in the next release which I'll have out shortly.

[2019-12-03 08:38] engram-design commented on #378
No worries, I thought after my second comment that it'd need someone more in the know to look at it. Thanks1

[2019-12-03 08:59] BenParizek commented on #377
Hi Folks. I've just pushed Sprout Forms v3.6.5 that (I hope) will address this issue.

The **recommended** upgrade path is to revert to your pre-upgrade database and re-run the update to the latest version of Sprout Forms.

If you are in a situation where you can't roll back, you will have to address this issue manually (we are unable to resolve it with migration because we would be guessing at ho

[2019-12-03 09:01] BenParizek commented on #378
@engram-design This has been addressed in v3.6.5 which is now released.

[2019-12-03 09:01] #378 closed

[2019-12-03 14:01] siebird commented on #377
Hey @BenParizek. I really appreciate your attention and support on this one. I can only imagine–now get some much need rest 😴

[2019-12-03 14:10] riusi88 commented on #377
@BenParizek thank you for the hard work! I can confirm that updating to v3.6.5 fixed the issue for me. I was fortunate enough to have a backup of my database before the update as well.

[2019-12-03 18:50] BenParizek commented on #377
It sounds like this is successfully resolving the issue so I'm going to close this out. Please reopen if you run into any additional issues.

For anybody who may be unable to rollback, here are the steps to upgrade manually with a bit more detail. We don't recommend this path as editing the database directly can lead to other issues if you don't make all the relevant, related updates, but the deta

[2019-12-03 18:50] #377 closed

[2019-12-04 16:31] BenParizek opened #379 "Form not submitting properly"
Fields not displaying in email and some submission issues.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_15937)

[2019-12-04 16:43] BenParizek commented on #344
Thanks for the example @nicholashu

[2019-12-04 16:49] BenParizek opened #380 "CSV download not working for all groups"
Some users unable to download reports

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_159c3)

[2019-12-04 17:05] BenParizek opened #381 "How to create a date field?"
How to best manage a date field in a form?

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_159hf)

[2019-12-04 23:38] #379 closed

[2019-12-05 00:10] #374 closed

[2019-12-05 13:20] nyehughes opened #382 "Incorrect label for Postcode, 3.6.5 Lite"
When using the Address form field with countries that have a postcode field, it is incorrectly labeled as "Postal", it should be be "Postcode":

<img width="958" alt="Screenshot 2019-12-05 at 12 58 01" src="https://user-images.githubusercontent.com/3296602/70238742-cdc92700-1761-11ea-8ae2-332ea5ec358a.png">

[2019-12-09 03:13] jaydensmith opened #383 "CSRF issues"
We seem to be getting many CSRF issues recently accross multiple sites recently. It's only ever when users submit a form:

[code]

[2019-12-10 00:17] BenParizek commented on #382
@nyehughes We're pulling those labels in dynamically from a Google dataset. Here's a similar issue from the library we're using for more context: https://github.com/commerceguys/addressing/issues/111

While I can't update that label specifically, it does look like a newer version of the addressing library is out so I will make a note to get updated to the latest in case they address this.

[2019-12-10 00:19] BenParizek commented on #382
https://github.com/barrelstrength/craft-sprout-fields/issues/97

[2019-12-10 00:24] BenParizek commented on #383
@jaydensmith I'll need more info to help troubleshoot. The most common reason CSRF issues happen is when Forms are cached. The first submission will work fine and cached submissions fail as the CSRF token isn't unique to the request. This could be due to {% cache %} tags in a parent layout or a server or plugin or third party service configured to cache entire pages.

If that's not your case, I'll

[2019-12-10 17:37] BenParizek commented on #377
If anybody else discovers they ran into this issue and can't roll back, I've created the below [Content Migration](https://docs.craftcms.com/v3/extend/migrations.html) that can help with updating the Field Layout IDs of several forms. You will still have to take the time to dig through the database to determine the proper Field Layout IDs for each form, but this can help push those changes to a di

[2019-12-10 23:51] away86 opened #384 "Report for Sprout Form Entries generates wrong id, dateCreated and dateUpdated"
### Description (screenshots, logs, ...)
The report for Entries - Spourt Forms gives wrong data for the following columns:
- id
- dateCreated
- dateUpdated

For id, all the rows show: 1
For dateCreated and dateUpdated, all the rows show: 2019-02-15 00:56:22

The records in corresponding table in the database shows correct data, so it's just the report somehow display incorrect values.

### Steps t

[2019-12-11 17:41] BenParizek opened #385 "Only trigger Notifications When Entry status not equal to spam"

[2019-12-11 18:39] BenParizek commented on #384
Thanks for reporting @away86. This is resolved in the latest release v3.6.6

[2019-12-11 18:39] #384 closed

[2019-12-12 00:04] BenParizek opened #476 "Address Field Country Checkboxes settings don't scroll"

[2019-12-12 02:33] BenParizek opened #386 "Unable to delete Form Entry Status"
- Add 4th Entry Status
- Select Delete "x" from Status listing page
- Refresh page and see it appear again.

Also, we need to add a "Default Status" concept. When the current default is deleted, no Entry has a default status. On delete we should check for default status and fallback to labeling "Unread" or the first item as default if no others exist.

[2019-12-12 02:47] BenParizek opened #387 "Update to use autosuggest fields"
See: https://app.breeze.pm/projects/15572/cards/3088474

[2019-12-12 05:13] BenParizek opened #388 "Subnav redirects could be improved"
Permission routing needs improvement.

If you limit a user's permissions to just have access to Entries and Reports in Sprout Forms when clicking on the sidebar nav it errors out claiming the person doesn't have access to the Forms section, which is where it redirects first. If no permissions exist for one section, it should check for what a user does have access to and route there.

When a user c

[2019-12-12 05:14] BenParizek opened #389 "Entry Integration should allow user to create "disabled" entries"

[2019-12-12 05:18] BenParizek opened #390 "Relations fields could support additional Front-end output types"
Currently, relationship fields display multi-select inputs and can be overridden using Custom Templates if alternate input styles are needed.

Consider adding support for more input styles out of the box such as checkbox fields or a dropdown if limit is set to one.

[2019-12-12 05:19] BenParizek opened #391 "Name Field should be mappable to text fields in Integration mappings"

[2019-12-13 04:06] BenParizek opened #392 "Dynamically load CSRF input"
Sprout Forms should provide a native method to output CSRF tags dynamically on pages with cached forms. Consider making this the default.

Users should not have to rely on a third party to provide this feature as there are several different caching approaches that could require this.

[2019-12-13 04:09] BenParizek opened #393 "Retire Duplicate Captcha"
This should be handled in the base template, it is a usability feature more than a spam prevention feature.

[2019-12-13 16:58] #116 closed

[2019-12-13 17:29] brettburwell opened #394 "Clarity on errors turning up in the Web.log file"
### Description
I recently upgraded a site from Craft 2 to 3, and have bumped into a couple issues with Sprout Forms along the way—most notably the disappearing fields described in #377.

I "fixed" the disappearing fields issue before seeing your recommendations in that thread—and did it manually by updating the DB to update the `fieldLayoutId` column of the `craft_sproutforms_forms` table to poin

[2019-12-13 18:59] BenParizek commented on #394
Hey @brettburwell

Glad you have got things resolved. This latest "error" you are seeing should be labeled "notice" or something like that. It's on my radar to improve on but I haven't had the time to figure out the best way to address it yet.

When you have a Notification Email setup to trigger on a "When a Form Entry is saved" event, the Notification Events get checked each time a form is submit

[2019-12-13 22:19] brettburwell commented on #394
Hi @BenParizek. Thanks for the quick and thoughtful reply. That's super helpful.

Those error notices aren't hurting anyone, so I don't mind that they're in there. I just wanted to make sure that form submissions weren't failing silently somewhere that I was somehow missing!

Happy Friday, duder.

[2019-12-16 05:02] jaydensmith opened #395 "Add Limit setting to Category Relations field"
You can no longer seem to be able to set a selection limit on categories, it wil always show a multiple select combo box.

[2019-12-16 21:37] jaydensmith commented on #383
@BenParizek I'll assume for now it's a site-specific issue.

[2019-12-16 21:37] #383 closed

[2019-12-18 02:01] BenParizek commented on #395
This hasn't yet been possible in Sprout Forms. Categories in the Craft CP have a Branch Limit and we hadn't decided on the best way to address this on the front-end. I'll add this to our list and revisit it when I can.

[2019-12-18 03:06] javangriff opened #396 "Notification email sent when reCaptcha has not been completed"
When submitting a form with reCaptcha enabled, if you inspect the `g-recaptcha-response` field and remove the required attribute you are then able to submit the form without completing the reCaptcha verification. While it appears that the form data is not saved within the forms entries, if a notification email has been setup for the form the form data is still sent to the recipients.

Versions
Cra

[2019-12-18 03:35] BenParizek commented on #396
Thanks for reporting @javangriff

I'm in the middle of a busy week here but will dig in when I can.

[2020-01-05 21:49] javangriff commented on #396
@BenParizek any update on this? It would be nice to get an ETA of when this will be looked at if possible.

[2020-01-06 11:39] thisisjamessmith commented on #382
I'd like to add to this issue, that "Post town" is a bit weird - most people would like the option of specifying simply "Town" or "City" or some combination like "Town/City". What's the advantage of pulling all this address data dynamically from commerceguys instead of generating it in Sprout?

[2020-01-06 17:45] BenParizek commented on #382
@thisisjamessmith We use the addressing library because there is no way we could curate or maintain the address specification and varying formats and changes over time on our own for over 200 countries.

You can read more about what Addressing provides in their [README](https://github.com/commerceguys/addressing) which also links to the Google Data set they use to generate Address formats and subd

[2020-01-07 21:40] BenParizek commented on #396
@javangriff I'm hoping to get to this by this coming week.

[2020-01-08 10:26] darylknight opened #397 "Email field type doesn't use html5 email input type"
If you create an email field on a form, it outputs this on the frontend:

`<input type="text" name="fields[email]" id="fields-email" class="email" required="" aria-required="true">`

That should be

`<input type="email" name="fields[email]" id="fields-email" class="email" required="" aria-required="true">`

The result is that if someone enters an invalid email address, the site crashes (Internal s

[2020-01-09 01:10] BenParizek commented on #397
Thanks for the heads up @darylknight

We'll get this in the queue. Until we get that released, you can create a template override and update that email field input, if you'd like:
https://sprout.barrelstrengthdesign.com/docs/forms/template-overrides.html

[2020-01-09 09:28] darylknight commented on #397
Thanks Ben - I'm aware of the overrides; just flagging that as there is an email input type, it should probably be used by default for the email field. Cheers!

[2020-01-09 18:15] ademers commented on #396
@javangriff I'm troubleshooting an issue where the form is submitting without completing the reCaptcha. I wonder if related?

Versions
Craft - 3.3.19
Sprout Forms - 3.6.6
Google reCAPTCHA for Sprout Forms - 1.0.6

[2020-01-09 22:27] BenParizek commented on #382
The latest release v3.6.8 updates to the latest addressing library. The same terminology is used.

As this item is outside of our control, I'm going to close this out. See [this post above](https://github.com/barrelstrength/craft-sprout-forms/issues/382#issuecomment-571108358) for a workaround if you have a preference on the address output language. Aside from that, you'll need to make this reques

[2020-01-09 22:27] #382 closed

[2020-01-10 00:45] wei2go commented on #396
I had a similar issue before. For some reason after a SproutForms update, the 'Save Data' setting of my forms have been switched off automatically. Since the entry is not saved, the event which the spam protection handlers hook into is not triggered (which I believe was EVENT_BEFORE_SAVE, but now seems to be changed to EVENT_BEFORE_VALIDATE?). So I guess even if your reCaptcha check fails on the f

[2020-01-10 01:08] wei2go opened #398 "Spam entries still send off the notifications"
### Description
The email notifications are still sent out even if Sprout Forms detects the submission as a Spam. No matter the setting "Sprout Forms -> Settings -> Save Spam to the database" is on or off, the email notification should not be sent off if it is a spam.

It's related to my comment in this post to some extent: https://github.com/barrelstrength/craft-sprout-forms/issues/396#issuecomme

[2020-01-10 02:43] BenParizek commented on #398
@wei2go I've got it on our list to add this as another option in the Send Rule dropdown. For now, you can manually update that send rule if you want to only trigger emails for form submissions that are not spam. You can find an example here: https://github.com/barrelstrength/craft-sprout-forms/issues/385

I'm going to close this out as a duplicate of the above issue.

[2020-01-10 02:43] #398 closed

[2020-01-10 20:49] BenParizek opened #399 "Add scrolling to Forms that display in "When a Form Entry is saved" Email Notification Event"
<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_18i9v)

[2020-01-10 23:20] BenParizek opened #400 "Form Notification Email not displaying in all views"
See ticket

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_18i6b)

[2020-01-10 23:21] BenParizek opened #401 "Improve UI behavior when initially creating a form with no fields"
See thread:

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_18i83)

[2020-01-11 00:27] BenParizek commented on #397
@darylknight Can you confirm the field in question is an Email field and not just a Single Line field named "Email"? Or that you don't happen to be already overriding this particular field with an older version of the email template somewhere?

It appears both the Accessible and Basic Form Templates provided are using the `email` input type:

https://github.com/barrelstrength/craft-sprout-forms/bl

[2020-01-11 02:05] BenParizek commented on #399
Fixed for next release of Sprout Base Email

[2020-01-11 02:09] #380 closed

[2020-01-11 09:24] darylknight commented on #397
Yes - as far as I can tell

![image](https://user-images.githubusercontent.com/1250017/72202122-9c303380-3464-11ea-8ab7-80c0bfae8c2f.png)

![image](https://user-images.githubusercontent.com/1250017/72202123-9f2b2400-3464-11ea-8fcc-56eda2e51022.png)

[2020-01-14 10:48] TomDeSmet opened #402 "Can't write; duplicate key in table 'craft_sproutforms_integrations_log'"
All websites that have Sprout forms before 3.6.5 (the migration bug see #377) are affected I believe.
Whenever I deploy the DB (with Capistrano) I get the error

`Can't write; duplicate key in table 'craft_sproutforms_integrations_log'`

When I look into the local database the table is empty, when I check the deployed database, the table doesn't even exist (neither does craft_sproutforms_rules).

[2020-01-15 10:11] rauwebieten commented on #396
I have the same problem. Is there a fix?
Our client recieves all notifications with spam data.

[2020-01-15 20:04] BenParizek opened #403 "Sprout Forms: empty phone field still shows error “Phone is invalid."
### Notify

- [x] [Stack Exchange Post](https://craftcms.stackexchange.com/questions/33417/sprout-forms-empty-phone-field-still-shows-error-phone-is-invalid-example-for)

[2020-01-15 20:50] #386 closed

[2020-01-15 20:50] #400 closed

[2020-01-15 20:52] #403 closed

[2020-01-15 21:16] BenParizek commented on #396
Hi All, I think there are a few things going on in this thread.

1. **Notification Emails triggered for spam entries.**

I just released Sprout Forms v3.6.9 which updates the 'When a Form Entry is saved' Event to make sure no captcha errors exist before validating and sending an email. @javangriff @rauwebieten

2. **Form is submitting without filling out captcha.**

@ademers I'm not sure if this i

[2020-01-15 21:16] #396 closed

[2020-01-15 21:32] BenParizek commented on #397
@darylknight Can you confirm what version of Sprout Forms you are using? We had a bug that was fixed in v3.6.7 where the "Field Type" setting was just outputting the same value as the "Name" of the field. So, if your Field was named "Email" it might appear to be the "Email" Field Type where it could really be the "Single Line" field under the hood.

[2020-01-15 22:39] BenParizek commented on #402
@TomDeSmet Can you give me a few more details

What version of Sprout Forms are you on? What steps are you taking to trigger the error? Can you clarify for me what is happening when you deploy your database? I need to understand how to try to recreate this. Are you dropping the existing tables before you deploy the new db? Are you trying to overwrite the tables? Do you have a custom migration scri

[2020-01-15 22:51] wei2go commented on #396
Thanks @BenParizek for the new update. It sounds pretty good. I'll try that when I got a chance.

Unfortunately I was probably within the window of that saveData setting migration bug late last year. It was a bit eventful, but we figured out how to fix it eventually.

[2020-01-16 05:02] BenParizek opened #404 "Forms not saving after editing a field name"
Described in ticket:

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_18z5v)

[2020-01-16 09:31] TomDeSmet commented on #402
Initial Sprout version: 3.5.1

**Steps to reproduce:**
1. Install Sprout version 3.5.1 on local dev (Valet)
2. Update Sprout to latest version on local dev
3. GIT push changes to production branch
4. Deploy GIT files to production
5. Deploy DB to production

**What is happening to the DB**
DB changes are applied, but with the exception for some tables in Sprout forms (as stated above) which breaks

[2020-01-16 11:28] darylknight commented on #397
Ah, that was it. I was on 3.6.6. I've just updated to 3.6.9 and it was a single-line field. I've updated this to an email field type and all correct now. Thanks Ben!

[2020-01-16 11:28] #397 closed

[2020-01-16 22:02] BenParizek commented on #402
@tomdavies First, just to note it I don't think this has anything to do with #377. That issue related to fieldLayoutIds being assigned incorrectly around duplicate forms.

The error message here is a MySQL data constraint error pertaining to the relationship between the `sproutforms_integrations_log` and how it's metadata defines it's column's relationship to other columns in the database that are

[2020-01-17 00:37] BenParizek commented on #402
@TomDeSmet It's also possible this issue is caused after the CREATE TABLE code run and the INSERT statement is adding something to the database. So if you could share whatever the INSERT statement you are running to populate the `sproutforms_integrations_log` we can take a look at that too.

[2020-01-17 08:30] TomDeSmet commented on #402
Hi Ben,

I'm using MySQL 5.7 locally and on staging/production.

This is my current DROP TABLE / CREATE TABLE but it dates from **after** updating the plugin, I don't have one from before unfortunately. I will try to find an older project that may have an older plugin version.

[code]

I can't seem to find any INSERTS (tables are empty in the DB anyway)

[2020-01-17 17:57] matthisamoto opened #405 "Array offset error in existing form with Address field after recent update, Dev Mode on, PHP 7.4"
### Description (screenshots, logs, ...)

Receiving error when trying to view form using address field locally on front-end, or to save the form in the back-end, even without actual changes.

`yii\base\ErrorException: Trying to access array offset on value of type null in [craft root]/vendor/barrelstrength/sprout-base-fields/src/services/Address.php:491`

### Steps to reproduce

1. Dev mode on
THE

[2020-01-18 05:30] BenParizek commented on #405
Thanks for reporting @matthisamoto

I just released v3.5.4 which should address this issue. We haven't overly tested on PHP 7.4 yet so let me know if you run into anything else.

[2020-01-18 05:30] #405 closed

[2020-01-18 06:12] #332 closed

[2020-01-22 05:34] BenParizek opened #406 "Entry Status filters do not appear"
See screencast in thread. Review how they sort as well.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_19mrn)

[2020-01-23 22:23] jaydensmith opened #407 "Craft 3.4 Issue"
I'm sure you're on it already, but with the release of 3.4 just around the corner it's worth pointing out that the form editor interface doesn't work at all in the RC.

Thanks!

[2020-01-24 00:03] BenParizek commented on #407
On it! I currently believe we're on course to have things ready next week, but still working through a few things that need updating.

[2020-01-28 12:29] BenParizek opened #408 "Entry Status table doesn't indicate error if status fails to delete"
FR here: https://github.com/craftcms/cms/issues/5507

This can happen if entries currently are assigned the status that is being deleted. A user would have to update those statuses before deleting the given status.

[2020-02-04 04:24] feijian opened #409 "Error message shows after save field"
### Description (screenshots, logs, ...)
When I create/edit form in back end. Every time when I edit field and save. Craft will show error message 'An unknown error occurred.' Also after this any new added field will not save.

### Steps to reproduce
1. Edit field details (e.g. Name, Required etc) or do nothing and click save.
2. Add new field (Any field e.g. Single Line)
3. Craft CMS show error m

[2020-02-04 08:56] TomDeSmet commented on #407
Any new ETA on this?

[2020-02-04 12:39] BenParizek commented on #407
@tomdavies Soon.

The big change in the Craft 3.4 UI for us was that Craft now handles overflow tabs in a way that broke how we handled re-ordering Form Tabs in the UI. We've refactored that and been able to add several other improvements in the process, but it's taken a bit longer than anticipated. At this point, the updates are mostly complete and I'm testing and polishing a few related releases

[2020-02-04 12:43] BenParizek commented on #409
@feijian This issue will be resolved in our next release, which we'll have out soon.

Until then, you may be able to work around the issue by saving the form between your actions such as after adding or after editing a field.

[2020-02-05 05:43] dwaring opened #410 "Unable to add fields to new form"
### Description (screenshots, logs, ...)

I've just installed the Sprout Forms trial to test the plugin and am seeing the same issue as reported in [issue #311](https://github.com/barrelstrength/craft-sprout-forms/issues/311).

On creation of a new form and attempting to add fields, I'm unable to add a field.

![image](https://user-images.githubusercontent.com/288552/73814188-3ac86e00-4832-11ea-96

[2020-02-05 12:49] jerome2710 opened #411 "Unable to re-submit a form after correcting a validation error"
### Description (screenshots, logs, ...)
Due to the `SproutFormsDisableSubmitButton` event listener, the submit button gets disabled to prevent multiple submissions. However, when a front-end validation error occurs, the user is unable to re-submit the form again after correcting these errors.

This event listener is added to the DOM when the form is loaded and there is no option to disable this.

[2020-02-05 13:24] BenParizek commented on #410
@dwaring We'll have a release out soon with Craft 3.4 compatibility updates. I'll update this thread when we do.

[2020-02-05 22:26] feijian commented on #409
@BenParizek Thanks! :)

[2020-02-06 03:19] BenParizek commented on #407
@jaydensmith @TomDeSmet We just released v3.8.0 which adds Craft 3.4 support.

The biggest change for Sprout Forms turned out to be Craft's addition of the overflow tab behavior, which forced us to refactor the Page reordering and Form Builder Field Layout UI in several ways. Enjoy!

[2020-02-06 03:19] #407 closed

[2020-02-06 03:21] BenParizek commented on #410
@dwaring We just released Sprout Forms v3.8.0 which adds Craft 3.4 support.

[2020-02-06 03:21] #410 closed

[2020-02-06 03:22] BenParizek commented on #22
Added via Form Page Manager modal.

[2020-02-06 03:22] #22 closed

[2020-02-06 03:24] #399 closed

[2020-02-06 03:24] BenParizek commented on #409
@feijian We just released Sprout Forms v3.8.0 which adds Craft 3.4 support and addresses this issue.

[2020-02-06 03:24] #409 closed

[2020-02-06 03:30] #404 closed

[2020-02-06 03:31] #401 closed

[2020-02-06 03:38] #408 closed

[2020-02-06 03:42] BenParizek commented on #411
Thanks @jerome2710

We'll look into improving this. In the meantime, if you need to correct it for your site before we get a release out, you can always set up global override templates and replace the default javascript with your own.

- [Form Template Overrides](https://sprout.barrelstrengthdesign.com/docs/forms/template-overrides.html)
- [The Disable Form Submit JS](https://github.com/barrelstr

[2020-02-06 08:09] TomDeSmet commented on #407
@BenParizek Great, thanks. Still a small (large) issue on Firefox and on Chrome with the 'upgrade to Pro' button.

![Screen Shot 2020-02-06 at 09 06 38 AM](https://user-images.githubusercontent.com/16959207/73917750-54b09200-48c0-11ea-809e-f8436abd6187.png)
![Screen Shot 2020-02-06 at 09 07 15 AM](https://user-images.githubusercontent.com/16959207/73917753-58441900-48c0-11ea-87df-33bfaadadc5f.png)

[2020-02-06 12:59] BenParizek commented on #407
Thanks @TomDeSmet. Looks like we overlooked loading a resource on that index page. I've just pushed v3.8.0.1 which should correct the issue.

[2020-02-06 13:17] BenParizek commented on #402
@TomDeSmet

From our two CREATE TABLE syntaxes, I don't see anything significantly different that would cause the issue you're describing. While I don't know enough to rule out Sprout Forms here (It is suspicious that it's just this table), I also don't think we can rule out other factors that may be causing this at the database level that we haven't identified yet.

Can you run the following comm

[2020-02-06 17:42] BenParizek opened #412 "Two forms on a page can result in a duplicate ID console error"
When outputting 2 forms on the page with the same field name 'email' will output duplicate IDs. Consider making field IDs namespaced by form handle 'contact-email1'.

This would be a breaking change so plan for a major update, 4.x

[2020-02-06 17:44] BenParizek opened #413 "Make JS assumptions configurable"
Make all class assumptions configurable in JS.

Developers should be able to disable JS in the CP and add it in their templates if they want.

JS assumes:

	1. You need to have the contact form ID set on the <form> tag. That value should be:
	<form ... id="{{ form.handle }}-form" ...>

	2. You need to have a .submit wrapper around the submit button:
	<div class="submit">
	    <button type="submit"

[2020-02-07 07:29] janmeeus opened #414 "Minimum Value on a number field set to 0"
### The problem (description, use case, screenshots...)
When using a number field, I can set the Min Value to "1", but when setting it to "0", it gets removed when Saving the form.

### The solution (that feature you'd like to see)
I would like to have a Min Value of 0, to prevent users going lower then 0 (like -1,-2,-3,…) by using the little arrow buttons on the number field.

### Alternatives yo

[2020-02-07 17:31] BenParizek commented on #414
Thanks for reporting @janmeeus. I can recreate this and will update this thread once we have a fix out.

[2020-02-07 19:12] BenParizek opened #415 "Entries getting marked as spam, failing Duplicate Submission Captcha"
Caching seems to be the culprit.Entries getting marked as spam, failing Duplicate Submission Captcha

The simple fix to this right now is to disable the Duplicate Submission Captcha until we get a fix out.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1cscj)

[2020-02-08 11:36] BenParizek opened #416 "URL Field does not validate as expected"
This was noticed when using the Entry Element integration

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1bqdf)

[2020-02-10 15:52] BenParizek opened #417 "Support importing pre-defined Forms"
Via import tool or project.yaml or some alternative.

[2020-02-11 00:18] BenParizek opened #418 "Support a Stripe Payments Integration"

[2020-02-11 12:06] TomDeSmet opened #419 "Checkbox field not selectable in field-rule"
### Description (screenshots, logs, ...)
I have a checkbox field in my form and want to use this field as a condition for a field-rule.
However, it's the only field I cannot select from the drop down in the field-rule settings, it's just not there.

I tried making the field required and give it a default value thinking those may be the triggers, but no cigar.

Docs don't mention anything about che

[2020-02-11 13:09] sfdrummer opened #420 "Getting unknown property: barrelstrength\sproutforms\elements\Entry::typeId when including form in layout"
I'm including my Sprout form in my main layout template which is extended by other templates.  This is done in the normal way with `{{ craft.sproutForms.displayForm('contactForm') }}`.

Craft is erroring with Unknown Property – yii\base\UnknownPropertyException - Getting unknown property: barrelstrength\sproutforms\elements\Entry::typeId.

### Steps to reproduce

1.  Add Sprout form to page
2.  Lo

[2020-02-11 13:41] BenParizek commented on #420
@sfdrummer Can you test outputting the form via the `displayForm` tag in a blank template where you don't extend any other template and let me know if you still see the error?

Do you happen to be using the Entry Integration? The only place I see `typeId` referenced in our codebase is in the Entry Element integration while it is being submitted, so I wouldn't expect that to be throwing an error on

[2020-02-11 16:35] sfdrummer commented on #420
@BenParizek It looks like the form is working fine now, and I did nothing.  Perhaps it was a stale cache?  I have just done an update.

I'll reopen this issue if it happens again, thanks for getting back to me so quickly!

[2020-02-11 16:35] #420 closed

[2020-02-11 20:06] sfdrummer commented on #420
@BenParizek I actually discovered that it was the CraftCMS Cookie Consent Banner plugin (https://plugins.craftcms.com/cookie-consent-banner) that was causing this issue.  Saw a reference to it in the stack trace and have now uninstalled it and the site is working fine now.  I'll probably open a ticket with that plugin to see whats going on.

[2020-02-11 23:03] BenParizek commented on #420
@sfdrummer Feel free to link to this ticket in your other one if it helps figure things out.

[2020-02-12 05:11] BenParizek commented on #419
@TomDeSmet We currently support fields with simple values out of the box and will add support for more complex data types as we can. In the case of checkboxes, checkboxes are a multi-select field (meaning multiple conbinations values can be submitted for the same field) so the underlying field logic and UI needs to be different than the single value field types.

I'll update this thread once we ad

[2020-02-12 05:27] jaydensmith opened #421 "Unable to preview notifications"
The preview button for notifications seems to go to the wrong URL.
![Screen Shot 2020-02-12 at 4 26 21 pm](https://user-images.githubusercontent.com/16344913/74305604-82ac3f80-4db4-11ea-916e-3d1eb865e438.png)

[2020-02-12 05:43] BenParizek commented on #421
Thanks @jaydensmith. I just released v8.3.1 that should address this issue.

[2020-02-12 05:43] #421 closed

[2020-02-12 22:58] BenParizek commented on #368
@jaydensmith We've added a Users relation form field in v3.8.2 along with a migration if a custom `craft\elements\Users` field was being used in Craft 2. The migration does not trigger when updating to the latest, but will trigger when migrating from Craft 2 anew.

[2020-02-12 22:58] #368 closed

[2020-02-12 22:59] #369 closed

[2020-02-12 22:59] BenParizek commented on #414
@janmeeus We've just released Sprout Forms v3.8.2 which should resolve this and let you set a min or max value to 0 now.

[2020-02-12 23:00] #381 closed

[2020-02-13 08:39] janmeeus commented on #414
@BenParizek Thanks for the update. This works in the admin; I can set an Min Value to '0' and it gets saved.

However, when I test it in the front-end, the input field doesn't get `min="0"`
When setting the Min Value to 1, the number field does get `min="1"`

[2020-02-13 15:35] BenParizek commented on #414
@janmeeus I am seeing zero output as a min value in my tests so perhaps we need to identify a difference in our setups to get to the bottom of this.

1. Have you copied the new Date field template from the latest release to your custom folder?
https://github.com/barrelstrength/craft-sprout-forms/blob/v3/src/templates/_components/formtemplates/basic/fields/date/input.twig

2. If so, You may want to

[2020-02-14 08:30] janmeeus commented on #414
@BenParizek
I have copied the new Date field template but this doesn't solve the issue. Are you testing with a Number field or a a Date field?

Here are screenshots:

Backend: Number field with Min value set to 0
![backend](https://user-images.githubusercontent.com/214060/74514064-2f4d0500-4f0c-11ea-9e28-9a3d14afe621.jpg)

Front-end Console: no min value on the input:
<img width="791" alt="Scherma

[2020-02-14 16:25] BenParizek commented on #414
@janmeeus My mistake. We had just released the date field and I probably just had it on my mind and mistakenly referenced it. I am testing with the Number field.

If you modify the Number field template and dump `{{ dump(field.minimumDate) }}`, what value does the template output?

[2020-02-14 19:13] BenParizek commented on #415
This appears to also happen with other Captchas, such as the Javascript Captcha.

Will be addressed in https://github.com/barrelstrength/craft-sprout-forms/issues/392

[2020-02-17 08:12] janmeeus commented on #414
@BenParizek you can see when I dump `field.min` it differs from when I dump `min`

<img width="181" alt="Schermafbeelding 2020-02-17 om 09 08 25" src="https://user-images.githubusercontent.com/214060/74634943-420e4680-5165-11ea-8fd3-d2e808ccaace.png">

So `{%- if field.min is not null %} min="{{ field.min }}"{% endif %}` works; the `min` variable doesn't.

[2020-02-17 16:34] rauwebieten opened #422 "Error when opening reports page in admin"
### Description (screenshots, logs, ...)

After a server crash, we needed to restore a previous database. We now have the following error in the logs, when visiting /admin/sprout-forms/reports

2020-02-17 17:31:46 [-][1][latkqrne15qk1np5c0i3450sho][error][yii\db\Exception] PDOException: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'sproutreports_reports.emailColumn' in 'field list' in Ph

[2020-02-17 16:36] rauwebieten commented on #422
The reports table looks like this:
https://pasteboard.co/IV7IYo0.png

[2020-02-17 19:12] BenParizek opened #423 "Metadata not saving for new entries"
Update behavior of normalizeValue

[2020-02-17 19:14] BenParizek opened #424 "Document using Checkbox in Send Rule"
More broadly document how to create a scenario to test Send Rules.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1csjn)

[2020-02-17 21:00] BenParizek commented on #422
@rauwebieten This suggests a migration was not run at some point. Did you update any plugins to more recent versions as you restored?

One scenario where this could occur may be if there was some sort of mismatch between the version of the sproutreports_reports table in the database and the installed version of the Sprout Forms files.

[2020-02-18 07:44] rauwebieten commented on #422
Hey, thanks for the quick reply.

Was the email column added/removed somewhere between 3.6.9 and the current release?

Is there a way to force migration updates, without loosing data?

[2020-02-18 09:35] rauwebieten commented on #422
I managed to fix the installation by upgrading craft and all plugins.
Thanks for the support

[2020-02-18 09:35] #422 closed

[2020-02-18 13:02] rauwebieten opened #425 "Updating search indexes exception"
### Description (screenshots, logs, ...)

It seems the queued jobs for reports are triggering an exception.
Error from php:
[code]

Job data:
[code]

### Steps to reproduce

1. Create a report
2. Updating search indexes fails.

Looks like this in the admin: (queue manager)
https://pasteboard.co/IVfItS0.png

### Additional info

- Craft version: 3.4.5
- PHP version: 7.3.11
- Plugins & versions: "ba

[2020-02-18 21:01] engram-design opened #426 "Improve asset-upload failure error-handling"
Getting some occasional errors on a site that allows asset-uploads in form submission. We're getting the following errors:

[code]

And If I check these temporary images out, they're 0 bytes. Not sure what's going on here (user error, or server), but at the very least, it should provide better feedback if something does go wrong. Right now, the user is hit with a 500 Internal Server Error, with no

[2020-02-19 09:21] rauwebieten opened #427 "notifications CC and BCC management gone"
### Description (screenshots, logs, ...)

After updating to latest release version, I see that the CC and BCC options in the notifications are no longer there.

After testing on our migrated project, I see the old notification entries still have CC's and BCC's defined in the DB, and these are also used to send the emails.

### Additional info

- Craft version: "craftcms/cms": "3.4.5"
- PHP version

[2020-02-19 09:30] rauwebieten commented on #427
Update:

When using send method "list", the CC and BCC options are not displayed, but there used to send mails.

[2020-02-19 15:51] BenParizek commented on #427
Thanks @rauwebieten

Working on a fix.

[2020-02-19 15:53] BenParizek commented on #425
@rauwebieten I can recreate this. Working on a fix.

[2020-02-19 15:54] BenParizek commented on #426
Thanks @engram-design.

I'll look into this when I have a chance and see if I can recreate it or get better logging in there for you.

[2020-02-19 16:00] BenParizek commented on #123
Re-opening as this is a feature we want to explore support for via the Element API as well as the GraphQL API

[2020-02-19 16:16] BenParizek opened #428 "Custom Email Template not found"
See ticket.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1d2v7)

[2020-02-20 01:49] BenParizek commented on #428
Related to session issue: https://github.com/barrelstrength/craft-sprout-forms/issues/425

[2020-02-20 01:52] BenParizek commented on #393
Should be solved by: https://github.com/barrelstrength/craft-sprout-forms/issues/392

[2020-02-20 03:56] BenParizek commented on #406
This has to do with how we are filtering the spam status out of the default index view. We'll need to review how that is implemented.

[code]

[2020-02-20 04:04] #416 closed

[2020-02-20 22:41] BenParizek commented on #427
@rauwebieten We just released Sprout Forms v3.8.3 which should solve this issue.

Just to note, the CC and BCC fields will only display for Single Emails. It's intentional that they no longer display for the Email List option as we wouldn't want to trigger the same CC/BCC email for every email in the list. This release also includes a migration to clean up those fields in the database.

[2020-02-20 22:41] #427 closed

[2020-02-20 22:42] BenParizek commented on #425
@rauwebieten We just released Sprout Forms v3.8.3 which should solve this issue.

[2020-02-20 22:42] #425 closed

[2020-02-20 22:42] #388 closed

[2020-02-24 08:17] rauwebieten commented on #425
thank you!

[2020-02-24 14:46] TomDeSmet opened #429 "Checkboxes not validating in accessible forms"
### Description
I want to validate a checkbox group.
I have copied the checkbox template from the accessible form templates and added some minor changes (added a class and a span to the label, nothing more) but it's not validating.

According to a previous bug report of mine (#336) this should work out of the box?
But the checkboxes keep validating on their own (browser validation, not Sprout vali

[2020-02-25 20:46] jeremyfrank opened #430 "Missing Entries After Plugin Update"
### Description
We just updated Sprout Forms from 3.3.0 => 3.7.1.1 to fix an issue described in #305. This appeared to fix the problem (no more service unavailable error on the front-end), however there are still a few issues:

* There was indeed a `ServiceUnavailableHttpException` error in our server logs.
* I do not see a record of the submission in the `craft_sproutformscontent_contact` table.

[2020-02-26 12:05] BenParizek opened #431 "Rules not working with Email Dropdown Field"
See ticket:

[2020-02-26 12:08] BenParizek commented on #429
@TomDeSmet Can you confirm what templates you are using? Is this a bug with the default Accessible Templates or did you add the default Javascript to custom templates and it's not working in custom templates?

[2020-02-26 12:15] TomDeSmet commented on #429
I'm using the default accessible templates (but overriding them because I need to add some classes to some fields).

But I'm not using any custom templates that output my form.

[2020-02-26 12:52] BenParizek commented on #430
@jeremyfrank Can you check the 'Save Data' setting on your forms and make sure it's set to enabled? Those Entries do not display if Sprout Forms is set to not to save the incoming entries to the DB.

[2020-02-26 13:15] jeremyfrank commented on #430
Thank you. It's strange, we have almost 1912 entries, but save data is turned off.

![image](https://user-images.githubusercontent.com/283397/75347980-f3049780-586f-11ea-9866-80e565189850.png)

![image](https://user-images.githubusercontent.com/283397/75348026-0d3e7580-5870-11ea-90bb-a5e6634bbf7a.png)

I've turned it on and will run some more tests.

[2020-02-26 13:27] BenParizek commented on #430
@jeremyfrank I believe the disabling of the setting happened in one of the migrations. Re-enabling that should get things working as expected again for you and I'll look into the broader issue.

[2020-02-26 13:32] BenParizek opened #432 "File Upload field throws "defaultUploadLocation" error in CP"
Introduced in Craft commit: https://github.com/craftcms/cms/commit/cb16a389a34d2d92f00a6e0b546c6ab3cfcb5273

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1dwhv)

[2020-02-26 13:42] jeremyfrank commented on #430
Re-enabling the "Save Data" toggle fixed the submission saving, and displaying all the old entries in the admin. Thank you! I ran a few tests, and what I'm seeing now is that only my first test displays in the admin, the rest of them do not, but all of them are definitely saved in the db table.

![image](https://user-images.githubusercontent.com/283397/75350025-ca7e9c80-5873-11ea-94e6-e75480dd816e

[2020-02-26 15:03] jeremyfrank opened #433 "File upload field db column missing"
### Description

We've have a file upload field on our form for some time, but the db column for this field is missing.

![image](https://user-images.githubusercontent.com/283397/75356220-a58f2700-587d-11ea-9a59-8c1a48de2dac.png)

![image](https://user-images.githubusercontent.com/283397/75356398-e850ff00-587d-11ea-8df9-de1e5e06e424.png)

The field does display on the front-end, and the files are

[2020-02-26 15:04] jeremyfrank commented on #430
I found another issue related to file upload fields. It's likely unrelated so I opened a new issue for that one: #433.

[2020-02-26 15:40] BenParizek commented on #433
@jeremyfrank This is expected. the File Upload field is a Relations field, so the data is stored in the `craft_relations` table and just tracks the relationship between the Element ID of your Form Entry and the Element ID of the Craft Asset that was uploaded. The specific details around the Asset itself will be stored in the Craft asset tables. You will see similar behavior with the other relation

[2020-02-26 15:40] #433 closed

[2020-02-26 15:45] BenParizek commented on #430
@jeremyfrank I'm unable to recreate this. Do you see any errors in your Craft logs or on the console tab in your Web Browser's developer tools?

[2020-02-26 15:47] BenParizek commented on #430
@jeremyfrank I believe I know what the issue might relate to. You mentioned you upgrade to v3.7.1.1 which makes me think your choosing to stay on Craft 3.3.x instead of upgrade to 3.4 right now. We have a bug relating to how we identified the proper dependencies in our composer files for the 3.4 releases. I'll post an update to this thread shortly with more info in how to make sure all the right f

[2020-02-26 15:54] jeremyfrank commented on #430
Yes, for now we are staying on Craft 3.3.x, but we hope to update to 3.4.x as soon as we have time to devote to testing and QA for plugins, due to their changelog note about [behavior changes for plugin developers](https://github.com/craftcms/cms/blob/develop/CHANGELOG-v3.md#340---2020-01-28).

[2020-02-26 15:58] jeremyfrank commented on #430
I checked the server's `web.log` file and saw some info for each of the Jane/Jon Doe submissions in that screenshot I added earlier. Looks like something to do with either duplicate entries or captcha errors (or both).

[code]

[2020-02-26 15:59] BenParizek commented on #430
Sprout Forms depends on a handful of other modules to support all of its features. We define in our composer.json file which of those modules to pull in. There is a bug in that composer configuration if you are trying to stay on Craft 3.3.x. When you update to the latest, some more recent versions of the modules get pulled into the project that assumes you have updated things to Craft 3.4. To reso

[2020-02-26 16:51] jeremyfrank commented on #433
Gotcha. I didn't consider that the data for this would be in a separate relations table. Thanks. I'll look out for that upcoming fix.

[2020-02-26 18:42] #432 closed

[2020-02-26 18:47] BenParizek commented on #433
Just to note it as we discussed it here, the fix for #432 has been released. It will only affect installs using Craft 3.4 where the bug existed and does not apply to the situation being discussed in this thread as it pertains to Craft 3.3.

[2020-02-26 19:47] JJefferyDev commented on #432
Hi Ben, while the file uploads are now visible on the direct form entries and inside the asset folder, they still don't translate through the Integrations.

[2020-02-26 19:57] BenParizek opened #434 "Relations Field no longer map in Entry Element integration"
Confirmed with Entries and File Upload fields.

### Notify

- https://github.com/barrelstrength/craft-sprout-forms/issues/432#issuecomment-591609567

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1dz5v)

[2020-02-26 19:58] BenParizek commented on #432
Thanks for reporting @JJefferyDev

I've opened a new ticket to track this item as it seems to relate to Relations field more generally:
https://github.com/barrelstrength/craft-sprout-forms/issues/434

I'll add a note here once we have a fix out.

[2020-02-26 20:38] jeremyfrank commented on #430
Thanks Ben for the detailed writeup. It makes sense that the sprout-forms sub-dependancies might not be in-sync with our particular 3.3 version of Craft. I chatted with the team here and we're going to put some time in this week on option 1, just updating Craft to the latest 3.4 and all plugins. I'll follow up after that's wrapped up to let you know how it went and if there are any lingering issue

[2020-02-26 21:38] ldennison-bsd opened #435 "Add file size validation in JavaScript to File upload fields"
Currently, file size validation for File upload fields only happens on the server side. Ideally, JavaScript's File API would be used to first validate the size on the frontend and prevent submission of the form until it is corrected. This could drastically reduce data to the server in cases where users are trying to upload files that are too large.

The would not be a security addition since JavaS

[2020-02-26 21:52] BenParizek opened #436 "Add GraphQL support for retrieving Forms"
Add GraphQL support for retrieving Forms

[2020-02-27 09:29] janmeeus commented on #414
@BenParizek Do you have time to look at this issue?

[2020-02-27 12:50] BenParizek commented on #315
This is the only instance where this came up. I'm going to close this out and if the issue persists, reach out to sprout@barrelstrengthdesign.com and we'll address it directly. My guess, in this case, is the follow-up issue had to do with the failure caused by the initial issue which was resolved.

[2020-02-27 12:50] #315 closed

[2020-02-27 13:04] BenParizek commented on #414
@janmeeus I'm seeing this behave as expected. Can you post the specific template you are using? The template you referenced – the [Basic Templates Number input](https://github.com/barrelstrength/craft-sprout-forms/blob/v3.8.4/src/templates/_components/formtemplates/basic/fields/number/input.twig) looks like this:

[code]

The `min` variable is set toward the top based on the `field.min` value avai

[2020-02-27 13:14] VdVChiel opened #437 "Rules not working with Section Heading or Custom HTML"
### Description (screenshots, logs, ...)
When you a rule combination of 'Multiple Choice' as Condition and a 'Section Heading' or 'Custom HTML' as Behavior.

You get the following JS error (both in custom and default templates)
![Schermafbeelding 2020-02-27 om 14 09 45](https://user-images.githubusercontent.com/10195598/75448059-d600bf00-596a-11ea-9e31-a08226cdb8ea.png)

### Steps to reproduce

1.

[2020-02-27 13:37] BenParizek opened #438 "Improve relationship between Rules and Field changes"
If a field's settings change, it may break an existing rule. At the very least, remind users that this relationship exists as they make relevant changes.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1e283)

[2020-02-27 14:06] BenParizek commented on #437
Thanks for reporting @VdVChiel. This is a bug.

This makes sense in that both of those field types don't behave like other field types because they are not <input> fields so they don't have the same field wrapper.

Our Rules js looks for the field wrapper to determine if it hides or shows something:

[code]

However, both of those fields are "Plain Input Fields" and don't get output in the same wr

[2020-02-27 14:27] BenParizek commented on #432
The Entry Element Integration mapping issue for File Upload fields noted above has been fixed in v3.8.5.

[2020-02-27 16:43] jrrdnx opened #439 "File upload field failing when variable used in subpath"
I'm attempting to segment file uploads into their own directories for each submission, but the File Upload field is failing to upload a file when using the variable `{slug}` in the subfolder path.

### Additional info

- Craft version: 3.4.8
- PHP version: 7.4.2
- Database driver & version:  MySQL 5.7.28
- Plugins & versions: Amazon S3 1.2.7
Sprout Forms 3.8.4

Applicable section from web.log:

[c

[2020-02-27 21:49] JJefferyDev commented on #434
Existing Integrations no longer populate on form submission with v3.8.5.  The form entry exists, but its integration copy no longer gets created.

[2020-02-27 22:09] JJefferyDev opened #440 "Integrations no longer populate on form submission with v3.8.5"
### Description (screenshots, logs, ...)

Integrations no longer work with v3.8.5.  An Integration set to create an entry when a form entry is created no longer works.

### Steps to reproduce

1. Create any type of Integration
2. Submit a form entry through the form front end

### Additional info

- Craft version: Craft Pro 3.4.8
- PHP version: 7.3.15
- Database driver & version:  MySQL 8.0.16
- P

[2020-02-28 10:18] adneforslund opened #441 "Sprout Forms on multi-site scopes forms to individual sites."
### Description (screenshots, logs, ...)

I have a Craft installation with several sites, and used Sprout Forms to make several forms that I assumed to be global, as there is nothing in the Sprout Forms settings that references sites.
 I then found out that one needs to change the "primary site" to access/create/edit forms on each site. Is this how this functionality works? It will anyways make it

[2020-02-28 10:39] SophietjesCode commented on #415
We have the same issue even with Duplicate submission captcha turned off. We only have Google Captcha.
When will this get fixed please?

[2020-02-28 11:21] BenParizek commented on #415
@SophietjesCode On the Form Entries that are getting marked as spam, what is the reason they say they are being marked as spam? When you edit one of these Entries in the control panel, you should see some information on why the given Entry was marked as Spam in the right sidebar.

[2020-02-28 11:39] SophietjesCode commented on #415
["Google reCAPTCHA can't be blank."] but they do eventually validate the checkbox and the form is being submitted but flagged as spam.
I also found out that IE11 doesn't show the Google Captcha and forms submitted via IE11 are being all flagged as spam.

[2020-02-28 22:12] brianjhanson opened #442 "`entrystatuses` table not created"
### Description (screenshots, logs, ...)
We're in the process of a Craft 2 -> 3 migration using Sprout Forms. In the process of the update, I ran `craft migrate/all` to run the migrations for Sprout forms but they would error out when they got to [`m191008_000000_add_spam_status.php`]( https://github.com/barrelstrength/craft-sprout-forms/blob/v3/src/migrations/m191008_000000_add_spam_status.php) w

[2020-02-28 22:21] brianjhanson commented on #442
After further digging, I'm pretty sure this is my bad 😬  I'll be sure to re-open if I find otherwise.

[2020-02-28 22:21] #442 closed

[2020-03-02 22:12] ldennison-bsd commented on #435
Updated the original post to request type validation (by file extension) support as well.

[2020-03-03 17:56] jeremyfrank commented on #430
Closing the loop on this. I got Craft and all the plugins updated and we QAd and verified everything working on our staging environment. We did uncover one migration issue with another third party plugin, and I logged that here (https://github.com/angell-co/Spoon/issues/91). Thanks for your help with all of this!

[2020-03-03 17:56] #430 closed

[2020-03-03 21:17] BenParizek commented on #389
One user reports that if a section is set to default to disabled, the Entry Integration should also respect that default setting.

[2020-03-03 21:22] BenParizek commented on #434
See: https://github.com/barrelstrength/craft-sprout-forms/issues/440

[2020-03-03 21:22] #434 closed

[2020-03-03 22:46] BenParizek opened #443 "Sprout Forms migration troubleshooting"
See ticket

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1emf7)

[2020-03-03 22:56] JJefferyDev commented on #440
Hi @BenParizek I sent you an email last week with my web.log and db files related to this bug.

[2020-03-03 22:57] BenParizek commented on #441
@adneforslund Currently, this is expected behavior but admittedly, we haven't spent much time considering multi-site support for Forms yet. From your comments, it sounds like something similar to the Craft **Translation Method** field setting could be handy, where you could decide if you want forms to be saved on a Per-Site, Per-Site Group, or Per-Language basis.

I will tag this as a Feature Requ

[2020-03-03 23:01] BenParizek commented on #440
@JJefferyDev I can confirm receipt. We're a bit backlogged right now catching up on several changes that were introduced in Craft 3.4.

I consider this a critical bug and we will get to it as soon as we can and I will update you and this thread when we do.

[2020-03-03 23:21] BenParizek commented on #439
Thanks for reporting @jrrdnx. I can recreate this and will need to look into this. The Relations fields in Sprout Forms piggyback on Craft's Relations fields a bit so I expect we're not adjusting an assumption somewhere. I'll update this thread when I have an update.

[2020-03-05 13:54] janmeeus commented on #414
@BenParizek

I tested with both the Basic Templates Number Field aswell as my custom (which are identical) and both times the `min="0"` did not show in the front-end. Only if I choose a min that is higher (so 1 and above) it shows in the front-end.

So I changed:

`{%- set min = field.min ? field.min : null %}
`
to
`{%- set min = field.min ? field.min : 0 %}
`

and that did the trick **for my part

[2020-03-05 19:04] 919Studios opened #444 "Validation Warning - no heading (SOLUTION INCLUDED)"
### Description (screenshots, logs, ...)
During html validation, a warning will occur as:
"vendor/barrelstrength/sprout-forms/src/templates/_components/formtemplates/accessible/tab.twig" does not contain a heading element after the `<section class="tab">`

### Steps to reproduce

1. **Create a form and use HTML validator on the page (https://validator.w3.org/#validate_by_input).**
2. **You'll noti

[2020-03-10 12:15] BenParizek commented on #444
Thanks @919Studios

I'll review and see if we can address this in our default templates.

[2020-03-10 12:37] BenParizek commented on #440
@JJefferyDev I think this may relate to another bug related to [Form Entries getting marked as Spam when they shouldn't be](https://github.com/barrelstrength/craft-sprout-forms/issues/415).

I believe the Integration will work if you disable all of the Captchas in the Spam Settings. The Integrations never get created if an item is marked as spam. Any submitted items Form Entries that didn't appear

[2020-03-10 15:07] BenParizek commented on #411
@jerome2710 Can you clarify how you have your forms setup, how you are submitting them, what field you are seeing this behavior with, and what browser you are seeing this in?

I'm not able to recreate this in several scenarios. In browsers that support HTML5 the HTML5 validation is stopping the form submission before several validation errors occur, so the button never gets disabled. If I force di

[2020-03-10 20:36] JJefferyDev commented on #440
@BenParizek I'll try that fix and get back to you.  However, I didn't have the Captchas or Spam filters set up or changed from the base settings.

[2020-03-12 00:24] daltonrooney opened #445 "Feature Request: Return class short name in getFields()"
### The problem (description, use case, screenshots...)

I'm trying to dynamically build a form with Vue by looping through each field and selecting the correct component in Vue. I created a JSON object using something like this

[code]
which I thought would give me all the necessary information I need to construct the form.

The only thing I'm missing from each field is the name of the component

[2020-03-12 09:38] BenParizek commented on #445
@daltonrooney I believe you can get what you need with a slightly modified building of your array in Twig:

[code]

Alternatively, you could build the JSON you are using via the [Element API](https://plugins.craftcms.com/element-api) plugin and get that value in PHP too.

Below is an example of the `config/element-api.php` file defining an endpoint to get any of your forms by its ID (i.e. `api/spr

[2020-03-12 13:42] lexislav opened #446 "Default section in sidebar not working"
### Description

The form section that will be selected by default in the sidebar navigation is not working. It always jumps to Forms, although Entries section is selected in settings.

_EDIT: this also leads to error, when user has sprout forms permissions for entries only: plugin jumps to forms section and tells user is is not authorized :-/_

### Additional info

- Plugins & versions: PRO 3.8.5

[2020-03-12 17:27] daltonrooney commented on #445
Got it - that's so simple, thanks!

[2020-03-12 17:27] #445 closed

[2020-03-13 13:32] lexislav opened #447 "unable to proceed 3.8.6 update"
### Description (screenshots, logs, ...)

3.8.6 update ends with this warning

[code]

[2020-03-13 17:37] BenParizek commented on #415
The JS Captcha should be resolved in v3.8.6.  Still looking into the others.

[2020-03-13 17:40] BenParizek commented on #402
As we need more info to proceed here and we don't have any other reports of this issue, I'm closing this out for now. Please drop us a note with more details if you'd like to re-open.

[2020-03-13 17:40] #402 closed

[2020-03-13 19:39] BenParizek commented on #447
@lexislav I tagged the release but forgot to update the composer.json file. I've updated the version and re-released so the update should now work!

[2020-03-13 19:39] #447 closed

[2020-03-16 15:20] jeremyfrank commented on #415
We also were getting reports of submissions that we were not able to find in the admin, and later found them in server logs flagged as a duplicate submission. Does 3.8.6 fix this or does the duplicate submission setting still need to be turned off?

[2020-03-17 14:18] jerome2710 commented on #411
@BenParizek I discussed this with our front-enders, but it seems like a generic issue. Regardless of form setup, fields or browser, this behavior will be the same.

The problem lies within the [disable-submit-button.js](https://github.com/barrelstrength/craft-sprout-forms/blob/v3/src/web/assets/formtemplates/src/js/disable-submit-button.js). If the front-end (eg. HTML5, Bouncer or Parsley) validat

[2020-03-17 22:19] JJefferyDev commented on #440
@BenParizek I've just installed v3.8.7 of Sprout Forms and disabled all Spam and Captcha settings and the Entry Integrations are still not working.  Would you like me to email you my database?

[2020-03-18 12:04] BenParizek commented on #395
If limiting category selection is needed, the best way to address this will be to override the Categories field template for a specific Form and display a different input where you manage how the field is limited on the front-end. Or to update the Category Elements you have to instead use an Entries Elements that provides a Limit option.

As it is expected that Craft will be merging the Entry and

[2020-03-18 12:04] #395 closed

[2020-03-18 12:14] BenParizek commented on #446
@lexislav In my tests the behavior is working as expected for simple use cases so I'm currently thinking that you are seeing odd behavior because of some combination of settings you have in place that we may not be planning for correctly. Below is the logic that's happening in Sprout Forms when choosing which section to redirect to, with some added comments. Can you confirm what settings you have

[2020-03-18 12:56] BenParizek commented on #365
@Skartz I've looked into this and as we are extending the Craft Categories field behavior for this field type, we are not able to set a limit (the Categories field type does not enable the Element `limit` setting.

I've added a few more comments on this thread for potential workarounds:
https://github.com/barrelstrength/craft-sprout-forms/issues/395

At this point in time, I would recommend consid

[2020-03-18 12:56] #365 closed

[2020-03-18 16:19] BenParizek commented on #429
@TomDeSmet This is working in my tests so I think I'll need to better understand what you are overriding to try to recreate.

One way to troubleshoot this would be to revert to using solely the default templates to confirm the checkbox logic still works for you, and then compare the default templates to the updates you've made to see where there might be a difference.

The javascript that manages

[2020-03-18 16:39] BenParizek commented on #444
@919Studios I've taken a closer look at this.

First, while I do want to support proper markup wherever possible there may be some areas where there are tradeoffs to support various settings. In this case, we do have a setting to enable headings on each tab. Under the Form->Settings->Templates you will find a "Page Titles" setting. Enabling that setting will output an `<h3>` page heading for each

[2020-03-18 16:51] BenParizek commented on #393
Updated default to be disabled on install.

[2020-03-18 16:51] #393 closed

[2020-03-18 20:14] 919Studios commented on #444
@BenParizek, your recomendation worked perfectly!  Once I turned on Page Titles the `<h3>` took care of html validation warning I was getting.  Thank you for the tip!

[2020-03-18 20:14] #444 closed

[2020-03-19 08:57] lexislav commented on #446
That is odd. The logic You are have send seems fine to me.
Well, but it dosn work even for administrator. In my case.
Sprout Forms has permissions to save to DB, not the spam.
The Default section (Výchozí sekce) is translated… to Formuláře (Forms) and Záznamy (Entries). (Might it be related to translations?)

The entries section is divided to Web groups…

Sprout SEO is installed as well.

If it he

[2020-03-19 16:32] BenParizek commented on #446
@lexislav I don't think the project config will help in this case cause it seems to be something in the database that's not creating the same logic.

I might try to delete and rebuild the `vendor/` folder to make sure all the latest dependencies are in place.

The other question I have is that if your logic is always defaulting to the forms tab, it seems that the `$canViewEntries && $settings->def

[2020-03-19 17:14] BenParizek opened #448 "Invisible reCAPTCHA takes over the form submit behavior"
Review how the javascript could be extended here. In the case where the user wants to handle the submit form behavior, it would be nice if they could disable the reCAPTCHA submit behavior and use their own.

Conversation in Craft Discord: https://discordapp.com/channels/456442477667418113/456442867163070466/690231643935473771

[2020-03-19 21:41] daltonrooney opened #449 "FR: Custom confirmation message per form"
### The problem (description, use case, screenshots...)

There's an option to redirect to a thank you page after a user submits a form. But when submitting via AJAX, we'd rather show an inline confirmation message than redirect the page.

### The solution (that feature you'd like to see)

Ideally this would be a WYSIWYG field in the general form settings that could contain variables based on the f

[2020-03-19 22:57] daltonrooney opened #450 "Entries marked as spam even when Captchas are turned off for specific form"
### Description (screenshots, logs, ...)

I have **Duplicate Submission Captcha** and **Javascript Captcha** enabled globally, but **Enable Captchas** turned off for a specific form. Form entries are being marked as spam anyway, having triggered both Captchas. These entries are being submitted via Javascript to /actions/sprout-forms/entries/save-entry, so the Javascript Captcha is even more myster

[2020-03-19 23:30] BenParizek commented on #449
@daltonrooney I'll bump this up on our list. Before our settings were on separate pages there was no easy way to add this to the interface. Now, we should have the room to make this happen.

[2020-03-19 23:32] BenParizek commented on #449
Related: https://github.com/barrelstrength/craft-sprout-forms/issues/269

[2020-03-19 23:33] BenParizek commented on #450
@daltonrooney I'll be digging into this shortly. Something seems to be up here but there are a few moving parts that are making it hard for me to pin down. I'll update this thread when I have more.

[2020-03-19 23:46] #443 closed

[2020-03-20 01:11] BenParizek opened #451 "404 not found console error for form js.map files"
See ticket:

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1gbnn)

[2020-03-20 08:57] lexislav commented on #446
Hi
at first - yes we are talking about the same action. I am clicking on the top-level “Sprout Forms“ on the sidebar, which opens the forms and Sould open the Entries (in my setting).

I have entered those three lines to the controller. Not sure if correctly - my php skills are limite to echo something :-/

Then when I click on “Sprout forms“ in CP, I got white screen with single “True“ on it.
Doe

[2020-03-20 09:37] thisisjamessmith commented on #450
Seeing the same problem with Google ReCAPTCHA enabled globally but disabled on a particular form.

[2020-03-20 10:00] thisisjamessmith commented on #448
To clarify further, this issue prevents us from doing ajax submissions when recaptcha is on, because it creates a race condition where Sprout's JS is firing at the same time as our own (as they both rely on the form's `submit` event).

[2020-03-20 10:07] BenParizek commented on #451
This appears to be a bug in Chrome or a few popular extensions like LastPass and AdBlock.

See this thread for several, not-ideal, workarounds: https://superuser.com/a/1524236

[2020-03-20 10:07] #451 closed

[2020-03-20 10:22] BenParizek commented on #446
@lexislav Hah. Well, those three lines are three separate lines that you'd probably have to add one by one. Each one kills the PHP script and tells you the value of the variable that it defines.

So, where Sprout defines the line:

[code]

You can kill the script after that to see what each of those values are:

[code]

AND

[code]
If you refresh after adding each of those lines separately, the tr

[2020-03-20 12:01] lexislav commented on #446
Got it.

\Craft::dd(Craft::$app->getUser()->checkPermission('sproutForms-viewEntries'));
True

\Craft::dd($settings->enableSaveData);
‚1‘

\Craft::dd($settings->defaultSection === 'entries');
false

\Craft::dd($settings->defaultSection);
‚záznamy‘

Here we go.
The value of default Section got translated.
So, I have tried to reset the translations file sprout-forms.php, line 33, ‚Entries‘ => ‚Zázna

[2020-03-20 12:10] #406 closed

[2020-03-20 12:15] BenParizek commented on #414
@janmeeus I believe I was mixed up here and that I fixed the issue you were experiencing in the Accessible Templates but had not corrected it in the Basic templates.

While you may have solved this for now, just to note, I've made the fix in both base templates in the most recent release v3.8.8.

[2020-03-20 12:15] #414 closed

[2020-03-20 12:18] BenParizek commented on #411
@jerome2710 I've updated the default logic for this in the most recent release (v3.8.8) to watch for any changes in input fields and to make sure the submit button does not have the disabled attribute if changes have been made.

I've also got on my list to revisit the form submit javascript logic as we now have several different things taking place on that action on the front-end. Thanks for repor

[2020-03-20 12:18] #411 closed

[2020-03-20 12:26] BenParizek commented on #426
@engram-design We've made several updates in the most recent release (v3.8.8) to clean up the File Upload field type implementation and align it more with Craft's Asset field without duplicating as much code. Our first implementation had a lot of duplicated code from Craft and I think it lead to a few inconsistencies in how assets got processed as Craft's underlying codebase changed.

I'm going to

[2020-03-20 12:26] #426 closed

[2020-03-20 12:33] BenParizek commented on #439
@jrrdnx This behavior has been fixed in Sprout Forms v3.8.8.

I've also updated the instructions text to be more form specific. Please note the previous text was applicable to the Craft Asset Field use case and values like `{slug}` are only available when the Asset Field is processing an Entry Model that has the `{slug}` variable.

In the Sprout Forms use case, when the File Upload field gets proc

[2020-03-20 12:38] #439 closed

[2020-03-20 12:47] BenParizek commented on #446
@lexislav Okay, I see what's going on now. Thanks for helping with those debugging statements.

I don't think your "Entries" label translation is the issue. I think the issue relates to our code accidentally wrapping the `entries` and `forms` slugs in translation tags. You should be able to translate the label, not the slug.

I've just pushed what I think will fix the issue to the `develop` branch

[2020-03-20 12:52] BenParizek commented on #406
This has been resolved in v3.8.8

[2020-03-20 13:44] lexislav commented on #446
Yes, it works. Thanks!
To resave the settings was neccessary, but it si working now.

[2020-03-20 17:18] BenParizek commented on #428
Additionally, make sure your Custom Email Template setting points to a **folder** and that the override template is named **email.twig** (or email.html). The email file must be named "email" or it won't be found.

[2020-03-20 17:18] #428 closed

[2020-03-20 19:35] BenParizek commented on #353
Just a note: I can confirm this is happening, however, all of the potential errors are returned remain quite inconsistent (Templates, Email Addresses, Deliverability). We'll be revisiting this along with the entire error workflow so it may be a bit longer before we address this but when we do, we'll be looking at the whole picture and re-considering if we should be piggybacking on top of Craft her

[2020-03-20 19:40] BenParizek commented on #353
Issue moved to [barrelstrength/craft-sprout-email #147](https://github.com/barrelstrength/craft-sprout-email/issues/147) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-20 19:40] #353 closed

[2020-03-20 20:38] BenParizek commented on #450
@daltonrooney Just to note, regarding the Javascript captcha, it looks like you may be on a version of Sprout Forms just before we fixed a bug with that Captcha in (v3.8.6).

[2020-03-21 11:50] BenParizek commented on #415
@jeremyfrank v3.8.6 fixes a bug in the Javascript Captcha validation. Probably best to test your particular use case right now regarding the other captchas.

@SophietjesCode One scenario that may be happening to cause what you are seeing could be if you have some additional javascript listening to the form's `submit` event. Right now, with the current implementation of the reCAPTCHA plugin, it is

[2020-03-22 20:20] lexislav commented on #104
On option if the field sould be visible in Form entries (to content editors) would be mor ethen wellcome.

[2020-03-22 23:09] daltonrooney commented on #450
@BenParizek You're right, I updated to the latest and now the Javascript Captcha is not being triggered. The Duplicate Submission Captcha is still catching entries even when disabled for the form, but I've disabled that globally for now.

[2020-03-24 13:04] SamLNL opened #453 "Custom notification email - style problem"
### Description (screenshots, logs, ...)
Since `update 7.1.1.1` I'm having problems sending notifications with my custom email templates. After some debugging, I noticed the problem; the css in the custom email template.

It looks like some style linter is checking the custom email template when sending a notification.
After uncommenting a lot of css, I received my expected notification.

**Some s

[2020-03-26 09:19] OscarBarrett opened #454 "Craft 2 to 3 migration failures"
### Description (screenshots, logs, ...)

We ran into a failure that seems to have been introduced in this commit a week ago: https://github.com/barrelstrength/craft-sprout-forms/commit/f057be47593e52c46951d74f188ba3e1bec9cc07

We don't have Sprout Email installed on the site we attempted the update for.

[code]

If we try 3.8.7, we get the following failure. Trying again lets us complete the upgr

[2020-03-26 15:54] BenParizek opened #455 "Allow fields hidden by rules to be required"
Currently, if a field is hidden by a rule it is not possible to make it required and making this field required has to happen via front-end. Add support for conditional validation along with conditional fields.

[2020-03-27 14:39] MisterMike commented on #453
I have the same issue. I have tried several email templates. None worked really until I removed the styles section.

[2020-04-02 12:53] jrrdnx opened #456 "Graph numbers don't match actual entries"
### Description

The numbers charted on the graph don't match the actual entries for each day. For example, in the attached screenshot:

- On April 1st we had 3 entries but the graph only shows 1
- On March 31st we had 0 entries but the graph shows 2.
- On March 30th we had 4 entries but the graph only shows 1.

![Screen Shot 2020-04-02 at 08 43 54](https://user-images.githubusercontent.com/458467

[2020-04-06 13:33] BenParizek commented on #453
Hi Folks. I'll be looking into this as soon as I have a chance this week.

[2020-04-06 13:42] BenParizek commented on #456
Thanks for reporting @jrrdnx. We'll update this thread once we have a fix.

[2020-04-06 13:54] BenParizek commented on #454
Thanks, @OscarBarrett. I'm catching up on support this week after a couple of busy weeks. I'll update this thread once we have a fix.

[2020-04-06 14:06] BenParizek opened #458 "How to use Sprout Forms in headless mode"
Add examples

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1hlfn)

[2020-04-10 00:44] BenParizek commented on #446
This fix is now released in Sprout Forms v3.9.0

[2020-04-10 00:44] #446 closed

[2020-04-10 00:46] #269 closed

[2020-04-10 00:56] BenParizek commented on #449
@daltonrooney Success and Error Message settings have been added in Sprout Forms v3.9.0. They can include variables from the submission and then render as Markdown.

Please see the [Upgrade Notes](https://sprout.barrelstrengthdesign.com/docs/forms/installing-and-updating-craft-3.html#upgrading-to-forms-v3-9-0) in the docs if you want to add support to existing templates.  Forms using the default f

[2020-04-10 00:56] #449 closed

[2020-04-10 01:00] BenParizek commented on #448
@thisisjamessmith Sprout Forms v3.9.0 adds native support for AJAX submissions (`Forms->[Form Name]->Settings->Templates`) improves the JS workflow around the form submission for standard and AJAX form submissions. We have also added several [Javascript Events](https://sprout.barrelstrengthdesign.com/docs/forms/javascript-events.html#beforesproutformssubmit) that can be used to extend the default

[2020-04-10 01:00] #448 closed

[2020-04-10 01:00] #413 closed

[2020-04-10 11:54] #424 closed

[2020-04-10 12:18] #458 closed

[2020-04-10 12:31] BenParizek commented on #453
@SamLNL @MisterMike We've just released v3.9.x that updates how Email Templates are processed. In my tests, styles are working so please let me know if you continue to run into any issues.

This update also makes the Email Template API more flexible and with Custom Templates you can now use `{% extends %}` or `{% include %}` anywhere within the top-level /templates folder.

[2020-04-10 12:31] #453 closed

[2020-04-14 00:53] daltonrooney commented on #389
I came across this today and would like to put in a vote for this feature as well. We're migrating a few forms from Guest Entries to Sprout Forms and need to be able to set the default status of entries to disabled so they can be reviewed by an editor before they're published.

[2020-04-14 00:55] daltonrooney commented on #450
Just tested with the latest version and it looks like captchas are disabled per-form as expected. Thanks!

[2020-04-14 03:34] daltonrooney commented on #389
Actually I was able to do this with a custom integration quite easily, problem solved on our end! It still seems like it would be a useful option to have in the default entry integration, though.

[2020-04-15 20:35] AnnaZLinka opened #459 "Issue with Date/time field in forms - submitted form not attached in email"
### Hei
We have used **Date/Time** field in one of our forms with default configuration. Have noticed that sending of the form after submit is registered in craft entries, email with notification is send, but no form is attached to it (even if the notification specifies Templates: Basic Notification (Sprout Forms)). When testing on production env to show the form (with the little eye icon) I const

[2020-04-16 10:47] BenParizek opened #460 "Call to undefined method Stringy\Stringy::appendUniqueIdentifier()"
The Javascript Captcha triggers this in some scenarios but users have also confirmed the method  exists in Craft's filebase.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1ic5f)

[2020-04-16 10:55] BenParizek commented on #459
Thanks for the detailed report @AnnaZLinka

I think the issue here is that we overlooked adding support for the DateField to the base email template. I'll get that in the queue to fix. In the meantime, if you need to get this working you can select "Custom" as your email template and set a custom folder in your templates folder to use for the email template. Copy our base email template to your Cu

[2020-04-16 10:58] BenParizek opened #461 "Expose errors to `onSproutFormsSubmitCancelled` JS event"
Users may wish to act on them

[2020-04-16 12:52] AnnaZLinka commented on #459
No worries @BenParizek :)

Thanks for the solution proposition. We've managed with using just a simple field there for now - date format wasn't so important after all in our case. Although looking forward for a fix.

[2020-04-16 16:47] MisterMike commented on #453
Thank you so much Ben, the template I intended to use (based on Cerberus) now works! Cheers:)

[2020-04-20 15:16] jonlongnecker opened #462 "Internal Server Error for Notifications"
### Description (screenshots, logs, ...)
Recently my notifications stopped working, and users are redirected to page that says "Internal Server Error" after submitting a form. I haven't changed anything, so I don't understand why this is happening now.

I get the same internal server error if I try to preview the notification through the control panel.

The form does go through, and the email noti

[2020-04-21 14:12] BenParizek commented on #462
@jonlongnecker

I believe I found the issue here and need to get through a few other bugs before I can get it released.

If you'd like to test the fix, you can edit the Custom Template class in the `barrelstrength/sprout-base-email` module and update the `getTemplateRoot()` method to the following:

https://github.com/barrelstrength/craft-sprout-base-email/blob/v1/src/emailtemplates/CustomTemplate

[2020-04-21 18:46] jonlongnecker commented on #462
@BenParizek I just made this change, but I'm still getting the same Internal Server Error on form submit. I edited `vendor/barrelstrength/sprout-base-email/src/emailtemplates/CustomTemplates.php`

[2020-04-22 03:59] caroldq55 opened #463 "Failed to upgrade sprout form from 3.8.8 to 3.9.0.1."
### Description (screenshots, logs, ...)

We would like to upgrade sprout from to 3.9.0.1 which is used in our craft CMS, but when I tried it on my local I can't have access to our cms admin page anymore.

I have tried `composer install` inside container, docker down and up but didn't work.

Here is the screenshot and error message:

<img width="1158" alt="Screen Shot 2020-04-22 at 12 14 48 pm" sr

[2020-04-22 11:03] BenParizek commented on #463
@caroldq55 The migration that appears to be filing is `m180314_161540_craft2_to_craft3` which should only be running when migrating from Craft 2 to Craft 3.

You mention that you are currently upgrading from 3.8.8 to 3.9.0.1. Can you share a bit more about when and how you migrated from Craft 2 to Craft 3? Did you upgrade Sprout Forms to the latest version before upgrading to Craft 3? Is there any

[2020-04-22 11:35] BenParizek commented on #462
@jonlongnecker Ok. I'll dig into this more as soon as I can. I understand it's pressing.

As a not-ideal short-term workaround, if you happen to be using Custom Templates, you may be able to switch back to the Basic Templates for a simpler email. I realize my first answer assumed you might be using Custom Templates as we recently had a bug around those.

Another thing to consider, that could contr

[2020-04-22 15:15] jonlongnecker commented on #462
Hey @BenParizek thanks for the detailed explanation. Unfortunately I'm not using custom templates for my email notifications (just the `Basic Notification (Sprout Forms)`).

However, when I went to look at my notifications to make sure I wasn't using any custom templates I found 3 similar email notifications. I only created one so I'm not sure why there were extra ones in there. Once I deleted tho

[2020-04-22 15:19] BenParizek commented on #462
@jonlongnecker Glad you got it solved. I'll explore whether we might be doing something funny in the template selection logic.

The unidentified Notification template question sounds like a question for your Git History!

[2020-04-22 15:36] jonlongnecker commented on #462
@BenParizek They weren't notification templates, just additional notifications. Like if I went to Forms > Notifications they were in that table. Almost like they got created on form submits or something. No git history unfortunately!

[2020-04-23 07:19] caroldq55 commented on #463
Thanks sooo much, it works 🎉!

[2020-04-24 14:52] SamLNL commented on #453
Works! Thanks @BenParizek

[2020-04-27 21:36] BenParizek commented on #463
This update has been added to the latest release v3.10.0

[2020-04-27 21:36] #463 closed

[2020-04-27 21:40] BenParizek commented on #415
@SophietjesCode @jeremyfrank

Broadly stated, this issue was one of a few similar issues caused by a couple different scenarios taking place with some recent updates to the Sprout Forms spam tracking and submit workflows.

If you haven't already, please update to the latest version of Sprout Forms and make sure to review and make the updates noted in the upgrade notes:
https://sprout.barrelstrengt

[2020-04-27 21:40] #415 closed

[2020-04-27 21:42] BenParizek commented on #450
This ticket relates to a couple scenarios. I'm closing this out as I believe we've address these scenarios in the latest releases. If you are still running into any issues, please open a new ticket with details around that specific issue.

[2020-04-27 21:42] #450 closed

[2020-04-27 21:44] BenParizek commented on #454
I believe these items have been addressed in the latest release v3.10.0.

If you're still running into any issues, please re-open or hit me up on Craft Discord and we can take a look at your database on a screen share and figure out what's going on.

[2020-04-27 21:48] BenParizek commented on #462
I believe this is resolved so I'm closing this out. Please re-open if any mysteries persist.

[2020-04-27 21:48] #462 closed

[2020-04-28 01:11] jaydensmith opened #464 "Can't open notifications in latest update"
### Description (screenshots, logs, ...)
Hey @BenParizek, there's an issue in the latest update that causes an error when opening a notification if you don't have the `barrelstrength/sprout-sent-email` plugin installed.

I've been able to reproduce on two sites today, one was an old Craft 2 site that was updated to Craft 3 some time ago, the other was built on Craft 3.

[code]

[2020-04-28 02:12] BenParizek commented on #464
@jaydensmith Thanks for reporting. I've just released v3.10.0.1 which should resolve this issue.

[2020-04-28 02:12] #464 closed

[2020-04-28 15:13] richardwiggins commented on #440
Hi @BenParizek, I'm having this same issue, as discussed on Discord. A fresh local install of Craft 3.4.16 and Forms 3.9.0.1.

Save Data is set to DB and form submissions are being saved, it's just not creating entries in the _integrated_ entry type. Send Rule is set to _always_.

Here's the setting for the integration:
<img width="1209" alt="Screenshot 2020-04-28 at 16 12 20" src="https://user-im

[2020-04-30 09:00] mrunkel opened #465 "'-' character doesn't work in regular expressions for Regular Expression field."
I'm trying to use the following regex `[\d,\-,\(,\),\s]*` with the Regular Expression field and I couldn't get the field to accept `-` as an acceptable character.

After much head scratching, testing, etc.  I decided to do some spelunking and I found https://github.com/barrelstrength/craft-sprout-forms/blob/ff7dc6da2b3c28f4a5661ac177e16c4f887ad4aa/src/fields/formfields/RegularExpression.php#L137

[2020-04-30 13:58] BenParizek opened #466 "Edit Forms permission not working as expected"
A user reports:

Just trying out the Sprout Forms free edition.

I have a user group for people that only should be able to view submissions.
But they can't access the plugin in the CP if the user permission 'Edit Forms' is checked off.
(Default section is also set to 'entries')

They get the following error:
HTTP 403 – Forbidden – yii\web\ForbiddenHttpException
User is not permitted to perform th

[2020-05-04 11:03] jrrdnx opened #468 "User group is unable to add new fields to form"
### Description

We have a Client Administrator group with full access both to Sprout Forms as well as access to all individual Sprout Forms permissions (the only exception is Edit Form Entries).

When adding a new field to any form, they receive a "A server error occurred" popup at the top of the screen and are unable to edit the field's detail or save the form.

<img width="1122" alt="Screen Sho

[2020-05-04 15:40] BenParizek commented on #468
Thanks @jrrdnx.

I'm able to recreate. Will let you know when we have a fix out.

[2020-05-04 15:41] BenParizek commented on #465
Thanks @mrunkel. I'll review your PR and let you know when we have a fix out.

[2020-05-05 02:36] #460 closed

[2020-05-05 08:11] richardwiggins commented on #440
Any news on this @BenParizek?

[2020-05-11 04:38] jaydensmith opened #469 "Email Preview 404"
Email preview button loads a 404.

[2020-05-12 09:50] jeffreyschmitz87 commented on #233
I'm also experiencing an issue with data containing line breaks and the `userAgent` column. I've attached an image which shows the broken columns data in Excel and I've added one ZIP - file containing two CSV - files. One containing multilines, one without multilines.

Problem 1: The `userAgent` column contains `;` characters which causes some data to be removed while converting the CSV data into

[2020-05-12 10:17] BenParizek opened #471 "Rendering options not passing class to template"
See ticket:

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1kd4z)

[2020-05-12 10:42] BenParizek commented on #233
Thanks for the additional details @jeffreyschmitz87. I'll review.

[2020-05-12 10:51] BenParizek opened #472 "Not receiving notifications while using MailTrap"
See ticket

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1kdc3)

[2020-05-12 12:52] BenParizek commented on #469
Thanks @jaydensmith.

We'll have a fix out shortly. If you need to correct things before we do, see this commit: https://github.com/barrelstrength/craft-sprout-forms/commit/a895ba05be43f6b23c8a9c2ce7dbfaaefbbaa3c3

[2020-05-12 13:10] #466 closed

[2020-05-12 13:12] BenParizek commented on #459
@AnnaZLinka We just released Sprout Forms vv3.11.3. The date field should now display in Email Notifications. Thanks for reporting.

[2020-05-12 13:12] #459 closed

[2020-05-12 13:12] BenParizek commented on #469
This is resolved in release v3.11.3

[2020-05-12 13:12] #469 closed

[2020-05-12 13:14] BenParizek commented on #468
@jrrdnx We just released v3.11.3 which should address this issue. Thanks for the detailed report.

[2020-05-12 13:14] #468 closed

[2020-05-12 16:32] franciurachel opened #473 "When saving a new field Rule, the Condition disappears."
I am having a double issue and cannot make the field Rules work.
First of all, they don't get saved in the backend. So, after I save a field rule with some conditions when I go back to the field Rule, values and conditions are empty, yet in the template, they appear (data-rules attr).
In the front-end, I get the error below from rules.js. And nothing work.

1. Create a new field Rule (for instance

[2020-05-12 17:58] riusi88 opened #474 "Unable to save Custom Template Folders"
After recently updating Sprout Forms, we are unable to save Custom Template Folders for our Notifications. The update seems to have also removed all of our saved Custom Template Folders across all our Notifications, preventing any emails from being sent out and causing an Internal Server error upon form submission.

### Steps to reproduce

1. Create or Select a Notification
2. Attempt to save Cust

[2020-05-12 18:10] riusi88 commented on #474
It may also be related but a 404 error also occurs when previewing a notification:

`yii\web\NotFoundHttpException: Template not found: sprout-email/notifications/preview/181944 in /.../craft3/vendor/craftcms/cms/src/controllers/TemplatesController.php:90
Stack trace:
#0 [internal function]: craft\controllers\TemplatesController->actionRender('sprout-email/no...', Array)
#1 /.../craft3/vendor/yiis

[2020-05-12 18:52] riusi88 commented on #474
@tplassman submitted an issue that may be the root problem:
https://github.com/barrelstrength/craft-sprout-base-email/issues/3

[2020-05-12 19:24] BenParizek commented on #473
Thanks for the detailed report @franciurachel. I'm catching up on a few tickets and will review this as soon as I can.

[2020-05-12 19:26] BenParizek commented on #474
Thanks @riusi88. I'm catching up on a few issues and will look into this as soon as I can.

[2020-05-12 20:22] gdelorey commented on #473
We're experiencing the same issue. Subscribing :)

[2020-05-13 08:36] engram-design opened #475 "Unable to save Show Reports Tab"
### Description (screenshots, logs, ...)
I can't save the state of the "Show Reports Tab". I do not have Sprout Report installed. See video https://d.pr/free/v/aKbS8G

### Additional info

- Craft version: 3.4.19
- Sprout Forms: 3.11.3

[2020-05-14 15:34] garycrane commented on #474
+1 with this issue. Can't seem to select a custom template in the email notification.

Craft CMS 3.4.19.1
PHP 7.2.30
MySQL 5.6.47

[2020-05-14 15:35] BenParizek commented on #475
I can recreate this. Looking into a solution.

[2020-05-14 16:09] jrrdnx opened #477 "User group receives Unauthorized message when adding/editing Notification"
### Description

We have a Client Administrator group that currently has access to both "View Notifications" and "Edit Notification Emails" permission settings.

When attempting to add/edit a new Notification, they are directed to a "Unauthorized: User is not permitted to perform this action" screen and are unable to save.

### Steps to reproduce

1. Create a new Notification, adding all relevant

[2020-05-14 23:54] BenParizek commented on #475
@engram-design I believe this is just a display bug. Currently, that setting can only be used if Sprout Reports is installed. There is a warning that should display but it looks like the issue here is that message isn't displaying and making that known. I'll fix that in the next release:
https://github.com/barrelstrength/craft-sprout-forms/commit/c168640b27b84f08fa1baf5f2a3c6efab241c8f0

Do you ha

[2020-05-15 00:01] engram-design commented on #475
Just wanted to clean up the sidebar sub-nav items, similar to removing Notifications, because its confusing.

Its not exactly earth-shattering that I can't hide the tab, just thought to let you know.

[2020-05-15 12:39] #476 closed

[2020-05-15 12:42] BenParizek commented on #475
@engram-design The warning message for this should show up again in the latest release.

I'll consider adding additional controls to display/hide those tabs but I'd prefer to explore making them feel more useful out the gates to begin with first. Do you have any feedback on how those pages could be improved so that you'd be less inclined to want to hide them out of the box?

Would better defaults

[2020-05-15 12:42] #475 closed

[2020-05-15 12:43] BenParizek commented on #465
@mrunkel This update has been included in Sprout Forms v3.11.4

[2020-05-15 12:43] #465 closed

[2020-05-15 12:44] BenParizek commented on #477
Thanks for reporting @jrrdnx. This has been addressed in v3.11.4

[2020-05-15 13:05] mrunkel commented on #465
Thanks @BenParizek .

[2020-05-16 11:31] j-greig opened #478 "Support for form asset upload to DigitalOcean Spaces"
Just wondering if this is possible?

If not will just use S3 - just finding the initial fixed price tier of Spaces quite appealing for my next project : )

[2020-05-16 16:31] BenParizek commented on #478
@j-greig I haven't tried, but theoretically possible. Sprout Forms' File Upload field is just a wrapper around Craft's Asset fields and will upload things wherever Craft's Asset Volumes tell it to upload things.

While DO Spaces isn't supported by default, Craft does support custom volume types and there is a plugin that appears to integrate Craft with DO spaces:
https://plugins.craftcms.com/dospa

[2020-05-16 16:31] #478 closed

[2020-05-16 19:30] BenParizek commented on #474
@riusi88 @garycrane There are two things going on here:

1. The Email Template setting saving issue has been resolved in the latest release
2. There was a bug in an earlier migration that could overwrite any shared settings between Sprout plugins. The only way to fix this if you need to preserve the settings you had before would be to roll back and re-run the update

If you need to review what the

[2020-05-16 19:30] #474 closed

[2020-05-17 10:49] garycrane commented on #474
Working for me now. Thanks for the update.

[2020-05-17 14:26] j-greig commented on #478
Thanks Ben, it works! 👌

[2020-05-17 15:51] mattcdavis1 opened #479 "Notifications Section in CMS Throws Exception"
### Description (screenshots, logs, ...)
The notifications controller attempts to call get_class on a string which throws an exception. [Here's a screenshot](https://drive.google.com/file/d/1d4DTMqLBGaAWHzbPuK_R1lt8pRhbUGh8/view?usp=drivesdk).

### Steps to reproduce

1. Navigate to {adminUrl}/admin/sprout-forms/notifications/edit/new
2. See exception

### Additional info

- Craft version: Craft S

[2020-05-18 13:36] BenParizek commented on #440
@richardwiggins Thanks for the details. I'm finally getting to this. I can recreate the error now and it seems to have to do with the Post Date setting. Craft recently changed the behavior of how we set some variables on Element Models so I'll look into what we need to adjust there to get this resolved.

[2020-05-18 14:27] #438 closed

[2020-05-18 14:29] BenParizek commented on #473
@franciurachel @gdelorey This should be resolved in release v3.11.6.

I've also added some additional cleanup so that if you happen to delete a field that is being used in an existing Rule, Sprout Forms will also remove that particular conditional statement that will no longer validate or delete the entire rule if that field was the only condition or behavior target of the rule.

Let me know if yo

[2020-05-18 14:29] #473 closed

[2020-05-18 14:41] BenParizek commented on #440
@JJefferyDev @richardwiggins I've just released v3.11.6 which fixes at least once scenario which may have been breaking things here which was the mapping of the Post Date value.

Please let me know if this resolves this. Jessica, it appears one of your forms had a postDate but not the other, so let me know if this resolves the one that you were having issues with. In general, the submission behavi

[2020-05-18 14:41] #440 closed

[2020-05-18 16:15] StijnCoolen opened #480 "Migration error after updating"
### Description (screenshots, logs, ...)

After upgrading sprout-forms (using `composer update barrelstrength/sprout-forms`) running `craft migrate/all` gives the following error: `PHP Fatal Error 'yii\base\ErrorException' with message 'Trait 'barrelstrength\sproutbase\base\BaseSproutTrait' not found'`

### Steps to reproduce

1. Update sprout forms
2. Run migrations

### Additional info

- Craft

[2020-05-18 16:18] BenParizek commented on #480
@StijnCoolen It looks like the composer packages are out of sync here.

The latest version of Sprout Forms is v3.11.6 which requires Sprout Base `^6.0.1`. Sprout Base 5.2 is not going to have the class the application is looking for.

Is there some reason you can't update to the latest?

[2020-05-18 16:38] StijnCoolen commented on #480
@BenParizek I manually changed Sprout Base to 6.0.1, migration now seems to fail at another point: Exception: Trying to access array offset on value of type null (.../vendor/barrelstrength/sprout-seo/src/migrations/m200420_000000_update_settings_model.php:40)

[2020-05-18 17:29] BenParizek commented on #480
@StijnCoolen Is there a reason you don't want to update to the latest for both Forms and SEO? The simplest path here is going to be to update to the latest of both all at once. The latest for Forms is v3.11.6 and SEO is v4.6.1

Both Forms and SEO will need to be updated together to get upgraded to Sprout Base ^6.x, as that dependency was a major release that both plugins depend on. Updating one or

[2020-05-18 19:59] nathannerdymind commented on #479
### Description (screenshots, logs, ...)

I am having the same error after updating to version 4.4.2 and installing the plugin on a new site. Can not create new notifications. Default template has been reset to custom template in settings `/admin/sprout-email/settings/notifications`

Craft Error `get_class() expects parameter 1 to be object, string given`
`/vendor/barrelstrength/sprout-base-email/

[2020-05-18 21:46] BenParizek commented on #479
I can recreate. Working on a fix.

[2020-05-18 21:51] nathannerdymind opened #481 "defaultBody field gets processed when value is null"
### Description (screenshots, logs, ...)
After updating to version 4.4.2 all of my notifications have stoped working and they show an Internal Server Error after a user submit a form on the site. They also show the same error when you try to test the notification in the admin panel through the test button. I am using a custom template and I have updated the settings page to match the same setting

[2020-05-18 22:31] BenParizek commented on #479
@mattcdavis1 @nathannerdymind I've just released Sprout Forms v3.11.7 and Sprout Email v4.4.3 which should resolve this issue.

@nathannerdymind I also tested updating from Sprout Email v4.3.0 to 4.4.2 and the globals settings do retain themselves. We recently had a migration bug that could cause settings to get reset so depending on the timing of your update, you could have run into that. That's

[2020-05-18 22:31] #479 closed

[2020-05-18 22:36] BenParizek commented on #481
@nathannerdymind We recently had a migrations bug and it sounds like you got affected by it. It's resolved now but the only way to fix it (aside from manually) would be to go back to the original db you updated from and re-run the update to the latest version of all the sprout plugins.

Here's the discussion of the bug in another thread:
https://github.com/barrelstrength/craft-sprout-seo/issues/20

[2020-05-19 06:52] StijnCoolen commented on #480
@BenParizek removing the plugins and installing them again both at the same time seems to be the fix.

[2020-05-19 08:10] richardwiggins commented on #440
@BenParizek Thanks for getting it sorted. I unfortunately had go a different route as I hadn't heard and needed to get it working.

[2020-05-19 10:35] jrrdnx commented on #477
@BenParizek Thanks for the help Ben. Unfortunately the client is still having issues creating new notifications.

Here is their description of what's happening:

Related error log:

[code]

[2020-05-19 13:39] franciurachel commented on #473
Thanks Ben

[2020-05-19 14:59] BenParizek commented on #481
This is due to a bug where if you are using a Custom Field Layout for your email Sprout Email still tries to process the `defaultBody` field and if it is set to null in the database, fails.

The short-term workaround is to just set the `defaultBody` column in the db to a string, instead of null, and things will process correctly. We'll get a release out shortly that improves the logic here so that

[2020-05-19 18:35] BenParizek opened #482 "Form macros"
https://app.breeze.pm/projects/15572/cards/3342622

[2020-05-19 19:09] jrrdnx commented on #477
@BenParizek I updated to 3.11.7 this morning after seeing #479 and the client isn't having any issues with notifications, only the following:

The "View Form Entries" permission is selected, but not the "Edit Form Entries" permission. Since this is related to a different permission, do you want me to open a new issue for this?

[2020-05-19 19:21] BenParizek commented on #477
@jrrdnx We can keep this a part of this thread. I haven't had time to dig into this yet but should have some time soon to try to recreate.

[2020-05-20 01:16] BenParizek opened #483 "CheckableInputs JS error"
https://discord.com/channels/@me/545061158101581825/707982149378244619

[2020-05-20 01:20] BenParizek opened #484 "AJAX submission should scroll to the Success/Error message after it displays"

[2020-05-20 01:21] BenParizek opened #485 "Add a `sprout-visible` class to the success and error message box"
Add a `sprout-visible` class to the success and error message box once it's made visible so folks can style it with CSS if they want:

- opacity: 100%;
- transition: opacity 1s ease-in;

[2020-05-20 02:02] #480 closed

[2020-05-21 13:39] BenParizek opened #486 "Implement Element::defineFieldLayouts() in Craft 3.5"
https://github.com/craftcms/cms/issues/4314#issuecomment-631793986

[2020-05-21 21:41] BenParizek commented on #481
This is resolved in Sprout Forms v3.11.8

[2020-05-21 21:41] #481 closed

[2020-05-25 12:19] rbrv commented on #477
Having the same problem here...

[2020-05-25 15:13] j-greig opened #487 "URL field not validating?"
I have a standard URL field that is reporting an invalid URL for any website link.

What could be causing this?

![image](https://user-images.githubusercontent.com/616194/82825018-58354c80-9ea2-11ea-90c4-c5dce52dfead.png)

Thanks!

----

Craft CMS Solo 3.4.20
Sprout Forms Lite 3.11.8

[2020-05-25 15:34] BenParizek commented on #487
@j-greig I just tested a URL field locally and am not seeing the same behavior. Can you share more about how you have things setup and output? Are you experiencing this using the default templates output by the `craft.sproutForms.displayForm('formHandle')` tag? Can you share what settings you have in place and what HTML is being output for that Website field?

[2020-05-25 16:17] j-greig commented on #487
Hi Ben, yes I'm just using `craft.sproutForms.displayForm` in my template.

(Is there anything else I should be including in terms of JS etc?)

I just deleted the form and made a new one with just a URL field, this is the HTML output:

[code]

And the field settings

![image](https://user-images.githubusercontent.com/616194/82829492-50c67100-9eab-11ea-8fcc-0fa2a8ebb665.png)

Thanks :)

[2020-05-25 16:31] BenParizek commented on #477
@jrrdnx @rbrv The 'View Form Entries' permission should be resolved in v3.12.0. A user with View Form Entries permission can now see the Edit page but the fields will only display as `readonly` and there will be no option to update the page unless they have the Edit Form Entries permission.

[2020-05-25 16:31] #477 closed

[2020-05-25 16:31] #471 closed

[2020-05-25 16:52] BenParizek opened #488 "Captchas do not get refreshed after AJAX submission"
This can lead to entries being marked as spam if certain captchas are enabled and a user submits a form a second time.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_341vx)

[2020-05-25 17:08] BenParizek opened #489 "Form Notification with custom template"
How do I send a Form Notification with a custom template?

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_2sw3x)

[2020-05-25 19:14] BenParizek commented on #487
@j-greig I can recreate this. It appears the "pattern" setting is being saved as an empty string instead of null, and the code is just checking for null. I will review this and other fields that use the HTML5 pattern behavior and update that logic.

[2020-05-26 01:03] BenParizek opened #490 "Form Field settings can be saved with empty string or null values"
When a field is created (probably all fields but this has been observed in the URL, Email, Number, and Regular Expression fields) the settings are initially saved in the `craft_fields.settings` column with null values:

{"cssClasses":null,"customPatternErrorMessage":null,"customPatternToggle":null,"customPattern":null,"placeholder":null}

However, after updating the field such as marking it as "re

[2020-05-26 07:44] lexislav opened #491 "Spam protection settings tab error after update to 3.12"
**Twig Runtime error
Impossible to access a key ("honeypotFieldName") on a null variable.**

when trying access the spam protection tab in sprout form settings.
![image](https://user-images.githubusercontent.com/7147349/82873861-726c3a80-9f35-11ea-86c4-1129d81131ac.png)

[2020-05-26 11:07] mrunkel opened #492 "Migration from 3.10 to 3.11.8 fails: dataSourceId column 'sproutreports.users'"
### Description (screenshots, logs, ...)

I've just upgraded all the barrelstrength plugins to their latest versions.  When I try to execute `./craft migrate/all`

I get the following error:

[code]
Note, there is some additional debugging output in there and I had to disable the `ob_start()` to get this display.

The problem seems to be this line:
[code]
On my database, dataSourceId is an integer

[2020-05-26 12:05] BenParizek commented on #492
@mrunkel Not sure how to explain this just yet. I see you're using MySQL 8.0.19. I wonder if it treats certain data type behaviors differently. I did test this on Maria DB. I don't see where a datetime error comes out of the line `DELETE FROM `sproutreports_reports` WHERE `dataSourceId`='sproutreports.users'`.

----

In any case, there was an issue where that `sproutreports.users` value could get

[2020-05-26 12:12] mrunkel commented on #492
I don't have a Data Sources tab? Or maybe I'm just looking in the wrong place? I'm only running the Sprout Forms, I don't have Sprout Reports installed.

Thanks for the quick response.

[2020-05-26 12:30] BenParizek commented on #492
@mrunkel Ok. I'm not sure where the source of this came from but you shouldn't even have a reference to the Users Data Source in the Sprout Forms UI. The Data Sources tab doesn't exist in Sprout Forms, nor does the Users Data Source.

Another potential way to fix this may be to manually change the `dataSourceId` values of those `sproutreports.users` rows to an existing Data Source ID associated wi

[2020-05-26 12:45] BenParizek commented on #492
@mrunkel A colleague tells me this may be caused from your MySQL being run in strict mode and, since the bug that I'm trying to solve in this migration is to correct a mismatch in data types, that I may need to update this migration to CAST the int value as a varchar so that this error doesn't occur. I'll explore that path today.

[2020-05-26 13:03] mrunkel commented on #492
okay, I'll poke around some.  I'm comfortable in making database changes directly.  Just didn't want to tear too much stuff in case you had a quick fix.   This is all on a local dev database, so nothing bad can happen (I can always download the production database again)...

I know that MySQL 8 made several big changes that resulted in a divergence from MariaDB's behavior.

FYI I have only three `

[2020-05-26 13:54] BenParizek commented on #492
@mrunkel Interesting. As you don't have any records, it seems this points to the error being entirely one of MySQL trying to resolve conflicting data types. That may suggest your easiest path to resolution in the short run is to simply comment out that code, as it wouldn't be updating any data anyways.

I'll update this once I get a fix out for the migration.

[2020-05-27 00:57] vanburenx commented on #492
Seeing a similar issue after trying to upgrade to **v3.12.0** but on **PostgreSQL**. Thanks.

**System Information**
- PHP version	7.2.31
- OS version	Linux 4.4.0-179-generic
- Database driver & version	PostgreSQL 9.5.21
- Craft edition & version	Craft Solo 3.4.20
- Sprout Forms 3.11.7

**Stack Trace**
[code]

[2020-05-27 18:40] BenParizek commented on #492
@vanburenx The postgres issue should be resolved in v3.12.1

@mrunkel I believe the MySQL issue is also resolved but please let me know if you run into any more scenarios. I don't feel like I'm testing the exact scenario reported but have attempted to make the code consider the scenario.

[2020-05-27 18:42] BenParizek commented on #487
@j-greig This is resolved in the default Form Templates we provide in v3.12.1.

If you happen to be overriding any templates for the fields URL, Email, Number, and Regular Expression, you'll want to update the logic in those templates as you see in this commit:
https://github.com/barrelstrength/craft-sprout-forms/commit/1cf7e5c79cab5aacac882830428dd3041f50a225

[2020-05-27 18:42] #487 closed

[2020-05-27 19:22] mklishevych commented on #492
Invalid datetime format: 1292 Truncated incorrect DOUBLE value: 'CAST('sproutreports.users' AS VARCHAR)'

[2020-05-28 11:36] BenParizek commented on #492
@mrunkel @vanburenx @mklishevych I've gone ahead and removed this migration from the latest releases, so hopefully, that will put this to rest.

We have a niche case where the data type of a column may be incorrect and, in some cases (probably depending on your database configuration), may have a (probably unused) value that is of the incorrect data type in that column. This migration was trying t

[2020-05-28 11:42] BenParizek commented on #491
@lexislav Could you share what version of Sprout Forms you were upgrading from when you ran into this?

One potential workaround that may be able to get things running again for you while we look into it would be to add those settings to the Sprout Forms config override file `config/sprout-forms.php`

https://github.com/barrelstrength/craft-sprout-forms/blob/v3.12.2/src/config.php#L86

[2020-05-28 11:44] BenParizek commented on #491
Also note, the format of those settings recently changed:
https://sprout.barrelstrengthdesign.com/docs/forms/installing-and-updating-craft-3.html#upgrading-to-forms-v3-10-0

[2020-05-29 13:29] lancekuttner opened #493 "Adding New Sprout form produces database exception 1118 Row size too large"
### Description (screenshots, logs, ...)
Database Exception reported
SQLSTATE[42000]: Syntax error or access violation: 1118 Row size too large. The maximum row size for the used table type, not counting BLOBs, is 8126. This includes storage overhead, check the manual. You have to change some columns to TEXT or BLOBs
The SQL being executed was: ALTER TABLE `content` ADD `field_defaultField7` text

[2020-05-29 14:26] BenParizek commented on #493
@lancekuttner Can you clarify what you mean by `Competitions > Forms > + New Form`

Is "Competitions" an Entry Channel? I'm confused because while it does appear to be a Sprout Forms error, the code is trying to update the `content` table which is not used by Sprout Forms. Sprout Forms would typically be trying to update a `sproutformscontent_formhandle` table.

Also, how many fields do you have i

[2020-05-29 15:18] lexislav commented on #491
I keep the line with updates, not miss a single one…

The override file setting worked for me.

Whats is correct settings format for google-recaptcha? Like this?

'barrelstrength\sproutforms\captchas\GoogleRecaptcha'  => [

Thanks

[2020-05-29 15:39] BenParizek commented on #491
@lexislav Each plugin has an example `src/config.php` with the settings. You can see the reCAPTCHA format here, however it looks like we need to update that with the new format that you have mentioned so `sproutformsgooglerecaptcha-googlerecaptcha` should be `barrelstrength\sproutforms\captchas\GoogleRecaptcha`: https://github.com/barrelstrength/craft-sprout-forms-google-recaptcha/blob/v1/src/conf

[2020-05-31 14:58] vanburenx commented on #492
Hey Ben, sorry to be back again but here's the current error after trying to upgrade to **v3.12.2**.

Thanks again for your patience with this and for creating/supporting this plugin in the first place.

**System Information**

PHP version 7.2.31
OS version Linux 4.4.0-179-generic
Database driver & version PostgreSQL 9.5.21
Craft edition & version Craft Solo 3.4.22.1
Sprout Forms 3.11.7

**Stack T

[2020-06-01 11:38] lancekuttner commented on #493
Hi Ben,

Many thanks indeed for your patient responses - I am trying to support a
system that I don't really understand.

The error is indeed a MySQL limitation as we are exceeding the limit of
columns in the Craft contents table (201 fields in total).

"Competitions" is the Plugin Name of the Sprout Forms. See screenshot
attached. The + New Form button is what causes the error.

Please advise if

[2020-06-01 16:36] RyVeata commented on #492
Also experiencing the same `RELEASE SAVEPOINT LEVEL1` error on my postgreSQL having tried to update my Sprout Forms from 3.11.3 to 3.12.2 this afternoon.  Tried upgrading in steps and have reached 3.11.7 but then end up not being able to upgrade because of the various SQL issues in this original thread which are resolved by the later updates.

[2020-06-03 13:25] AnnaZLinka opened #494 "Can't install Sprout Forms after upgrade to Craft 3. Database Exception: SQLSTATE[42S22]: error/Couldn’t install plugin"
### Description (screenshots, logs, ...)

I'm working with upgrading from Craft 2 to 3 on the project, but get a constant error while trying to install Sprout Form plugin. Havn't got any issues with Sprout Emails and Fields.

### Steps to reproduce
1. Imported db into Craft 3 project, but removed Sprout Forms from composer. Could install all plugins (beside Forms, not even tried) and have project

[2020-06-04 05:31] wooge opened #495 "Can't update sprout-forms 3.8.1 -> 3.12.2"
### Description (screenshots, logs, ...)
I'm attemptin to update sprout-forms but seemed to be locked in a loop of errors.

When I run ./craft update sprout-forms I get the following erors

`Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - barrelstrength/sprout-import 1.0.2 req

[2020-06-04 05:47] wooge commented on #495
Ok I seem to have solved it by:

1) Removing the "barrelstrength/sprout-import" entry from my composer.json
2) Changing the version number for "barrelstrength/sprout-forms" to the latest "3.12.2"
3) Deleting the /vendor/barrelstrength folderr
4) running composer update from the crat root.

[2020-06-04 12:45] lancekuttner commented on #493
Hi @BenParizek

Please may we still have some assistance to resolve this issue? At this stage, I do believe it is an issue with Sprout Forms. I cannot explain why it is accessing the Craft contents table, but what I can see is that whenever a field is added to a new form, then a new column is created for it. We have hit the limitation of 201 columns in that contents table and hence the DB limitati

[2020-06-04 15:59] justinholtweb opened #497 "Cannot get Google reCAPTCHA settings to save"
### Description (screenshots, logs, ...)

I cannot get Google reCaptcha settings to save, both from the settings in admin and also via a config setup. I enter the information including the keys from Google and upon save, the setting to enable reCaptcha is set back to inactive and none of the settings are retained.

### Steps to reproduce

1. Enable Google reCaptcha settings after installing plugin

[2020-06-04 23:46] BenParizek commented on #493
@lancekuttner I'm looking into this further. I'll report back when I can say more.

[2020-06-04 23:51] BenParizek commented on #495
@wooge Glad you got things resolved.

Broadly speaking, currently, the Sprout plugins have several shared dependencies which can lead to scenarios where if a shared dependency has a major version release, all installed Sprout plugins need to be updated at the same time or there can be issues. In this case, I think the shared dependency was Sprout Import which we dropped support for several months

[2020-06-04 23:51] #495 closed

[2020-06-05 03:18] BenParizek commented on #494
@AnnaZLinka I see the initial issue here. It's a bug in a migration and, right now, I believe the best way to get around it will be to initially upgrade to Sprout Forms v3.8.8 to ensure the migration throwing the error runs correctly, and then upgrade the rest of the way after that.

v3.8.8 is just before the bug gets introduced in v3.9.0 and is compatible with Craft 3.4 so you should be able to u

[2020-06-05 13:32] BenParizek commented on #491
I'm unable to recreate this in various tests so I'm probably missing a detail somewhere. If the override workaround works for now, please roll with that. We're in the middle of refactoring our settings architecture to improve on a few scenarios where settings have become tricky to manage and will be reviewing all these settings and how they are stored as we do that.

If this issue comes up for any

[2020-06-05 13:37] BenParizek commented on #497
@justinholtweb One thing to note here that may not be clear in the interface is that if you override _any_ `captchaSettings` in the config overrides, that will overwrite the whole array of captcha settings in the CP.

Let me know if that helps solve it or if the issue persists. I'm unable to recreate the issue in a few tests. If it's easier to troubleshoot over a screen share, hit me up at @BenPar

[2020-06-05 13:44] justinholtweb commented on #497
@BenParizek That makes a lot of sense, I was kind of afraid that was what was happening. I'm really only running a local config for emails to overcome the current bug with Honeypot field referenced at https://github.com/barrelstrength/craft-sprout-forms/issues/491, as after a 3.12 update I ran into the same issue reported where the Spam Settings admin screen would not load.

Here's what my current

[2020-06-05 13:47] BenParizek commented on #497
@justinholtweb The issue might just be in the reCAPTCHA settings key. We have a typo in the example config file

`sproutformsgooglerecaptcha-googlerecaptcha` should be `barrelstrength\sproutformsgooglerecaptcha\integrations\sproutforms\captchas\GoogleRecaptcha`

[2020-06-05 13:48] justinholtweb commented on #497
@BenParizek ah cool ok, i'll switch that out this morning and check the results and if it's all good after that will close the issue. Thanks for the quick reply! :)

[2020-06-05 13:51] BenParizek commented on #497
If that doesn't solve it, if you can share your db to sprout@barrelstrengthdesign.com, I'd be happy to take a closer look. Not sure what the Spam Settings issue is but sounds like it's affecting multiple folks.

We are working on addressing our settings architecture (which has caused some annoying bugs lately) so we may address this in a larger sense shortly, but I'm not sure that will solve the d

[2020-06-05 16:04] lexislav commented on #491
The override workaround works just now. Don’t worry…

[2020-06-05 19:47] justinholtweb commented on #497
@BenParizek That did it, changing that key in the config got it to read and preserve the settings correctly. Thanks for your quick replies, gonna close this out now.

[2020-06-05 19:47] #497 closed

[2020-06-09 08:24] TomDeSmet opened #499 "EmailDropdown field first option is always regarded as empty"
### Description
I have an EmailDropdownField in my form. All options are valid options, so I have no 'select' option as a first choice. The first option is set as default.
But none the less, the validation says no option was selected. So it seems it always expects the first option to not be valid.

This could be improved for a better UX.
And it would be nice if it was mentioned in the docs if this

[2020-06-09 08:35] TomDeSmet opened #500 "Notifications not send when using EmailDropdown mails together with spam send rule"
### Description
I have a send rule that doesn't send notifications when a mail is regarded as spam by Sprout.
But when setting the `to` email address from a EmailDropdownField, no notifications are sent at all. If I remove the spam rule, notifications are sent correctly.

Maybe this is by design as email addresses are obfuscated by default when using an EmailDropdownField?

Than maybe this should

[2020-06-10 14:38] Christopholus opened #501 "Custom notification field no longer displaying correct form values"
### Description (screenshots, logs, ...)
Since updating to a recent version of Sprout forms, all form notifications are being sent with  variable names instead of their values from the form.

We're using a custom field to render the content of our notifications a field called "emailBody". We use a custom notification template, where we render this field with {{emailBody}}.

However, all fields suc

[2020-06-11 07:36] AnnaZLinka commented on #494
Hi @BenParizek. Thank you for the advice. I got to install Forms 3.8.8 on Monday, but somehow.. destroyed it on Tuesday.
On Tuesday I started with downloading current db from Craft 2 customer. Got it running without Forms installed. Then tried install via CP. No loc though.
Tried also removing plugin from composer.json (+delete composer.lock) and run again. Gave a try with version 3.1.0. Right now

[2020-06-11 09:48] TomDeSmet opened #502 "Update search indexes error"
### Description (screenshots, logs, ...)
Same error as #425 but now present in 3.12.2 but on a different code block:

[code]

[code]

[2020-06-11 14:57] lexislav opened #503 "Entries field: add entry type option"
Would be handy, if there would be way to narrow entries list from the section to entries (select field).
By entry type (for example Section: News, Entry type: Offerings) or even by category (that would get more complicated I guess)

[2020-06-11 16:19] exophunk commented on #502
This happens for me as well in 3.12.2. All search index update jobs fail. I nailed it down to be the same issue as #376  with accessing session when running a search index update job.

it still crashes in barrelstrength/sprout-forms/src/fields/formfields/Invisible.php

Line 169: `$invisibleValue = Craft::$app->getSession()->get($this->handle);`

If you just put the whole thing (like 169 to 177) in

[2020-06-11 16:32] lexislav opened #504 "standard email template error: Impossible to invoke a method ("getFullNameExtended")"
When Name field is in use, not required and left empty by user, there is an error in email template:
`Impossible to invoke a method ("getFullNameExtended") on a null variable.`

I have fixe in mine template by adjusting template like this:

`{% elseif field.getFieldInputFolder() == 'name' and value and value.getFullNameExtended() != '' %}`

<img src="https://frontapp.com/assets/img/favicons/favico

[2020-06-11 16:34] lexislav opened #505 "entries field not listed in notifications standard template"
Form contains entries field which is correctly saved to database and might be checked on Sprout forms/Entries in CP.

But notification email template shows „No response“.
Haven't figured out how to fix this yet.

[2020-06-11 17:11] justinholtweb opened #506 "Getting a template render error using standard email templates"
### Description (screenshots, logs, ...)
Recently updated site to Craft 3.4.23 and Forms to 3.12.2 and now getting a Craft TypeError upon form submissions:

`Argument 1 passed to craft\web\View::renderTemplate() must be of the type string, null given, called in /Users/jholt/Sites/chalcedon-craft-3/vendor/barrelstrength/sprout-base-email/src/base/EmailTemplates.php on line 145`

Looking into that m

[2020-06-17 20:19] riusi88 commented on #501
I'm experiencing this same issue as well. Had to revert all notifications to use the default templates for the time being to get them working with the variable names.

- Craft:  3.4.22.1
- Sprout Email : 4.4.7
- Sprout Fields: 3.8.3
- Sprout Forms: 3.12.2

[2020-06-18 02:14] dean-yump opened #507 "Attachments not being sent in Notifications when option to save data to databse is disabled"
When we have the save data option disabled (which is a requirement for this project), the attachments do not come through with the email. The email comes through without the attachments. Attachments work fine with the option enabled. Have attached server info, versions and entry in web.log after submitting the form.

[web-excerpt.log](https://github.com/barrelstrength/craft-sprout-forms/files/4795

[2020-06-19 14:02] ademers commented on #497
Just ran in to this https://github.com/barrelstrength/craft-sprout-forms-google-recaptcha/issues/24

Perhaps update the example in the config file as mentioned https://github.com/barrelstrength/craft-sprout-forms/issues/497#issuecomment-639490248?

[2020-06-19 20:49] Christopholus commented on #501
Thanks @riusi88 , I ended up rolling my templates back to the default form templates for now to keep our client's notifications at least working correctly for now. @BenParizek please let me know if I can provide any more detail to help aid in the fix

[2020-06-23 10:58] BenParizek commented on #507
Thanks @dean-yump. We'll look into this and address that logic. Will update this thread when we have a fix.

[2020-06-23 14:49] BenParizek commented on #501
Thanks for reporting. I will update this thread when I have more info.

[2020-06-23 15:14] BenParizek commented on #503
The best way to do this now will be to create a [Custom Form Field](https://sprout.barrelstrengthdesign.com/docs/forms/custom-form-fields.html) integration.

I'll consider this a FR for now and look into it more when I have a chance.

[2020-06-24 17:13] besimhu commented on #415
Sorry to bring this issue back up.

I have the exact same issue with 3.12.2. I keep seeing `["Google reCAPTCHA can't be blank."]` as a reason it is under SPAM. I also only have Google reCAPTCHA as the only form of SPAM protection.

I have tested with invisible and regular "I am not a robot" CAPTCHA and I keep getting the same result.

What's more interesting is that it is only happening with one f

[2020-06-25 07:28] SophietjesCode commented on #415
We have the exact same issue as @besimhu . It is mostly 1 of the forms that gets flagged for no reason. I'm not talking about the occasional misclassification... . We had to save the spam's so that we can check regularly the wrongly spamflagged entries and resave them not as spam. :(

[2020-06-25 13:47] AnnaZLinka commented on #494
Hi @BenParizek, do you have any advice? Still stuck with Sprout Forms and upgrade :(

[2020-06-25 14:39] BenParizek commented on #494
@AnnaZLinka The last error posted there is also indicating that whatever version of Sprout Forms you are targeting is pulling in dependencies of packages that are released after that version and expect the code base to be different. The issue here is not in the code but in the targeted packages by composer and the only way to get around this will probably be to target the specific packages relatin

[2020-06-25 14:42] BenParizek commented on #415
@besimhu @SophietjesCode

I'm going to need more info to help troubleshoot. Can you please open a new ticket and provide information about what templates you are using, examples of the custom templates you are using if you are using custom templates, what other settings you have in place for the form causing the issue (any other captchas, any other submit behaviors?), and any custom javascript you

[2020-06-25 14:46] BenParizek opened #508 "Add option to disable specific captchas on a given form"

[2020-06-30 10:55] lancekuttner commented on #493
Hi Ben,

Apologies to press, but are you able to provide any update as yet? I have
to fend off a lot of questions as to why our commercial teams cannot add
new forms.

Many thanks,

On Fri, 5 Jun 2020 at 01:46, Ben Parizek <notifications@github.com> wrote:

--

*Lance Kuttner*

*Senior Consultant**, Team Lead*

Tel. +27 (0) 21 658 4100 <++27216584100> | Cell: +27 (0) 72 457 8804
<+27724578804>

4

[2020-06-30 13:11] lancekuttner commented on #493
Hi Ben,

An update from my side. It appears that when we try to add a new form, a
new column is added to the Craft content table with a fairly random name
such as "field_defaultField7_n3MixaHUjg"

There is no data added to the field in the table. I have altered that table
and dropped a bunch of those types of fields and I am now able to continue
with adding new forms.

I will continue to do this u

[2020-07-05 17:45] williamhibberd commented on #506
I am getting a very similar issue. I have just updated a site from Craft 2 to Craft 3.4.27.
When trying to preview or send a notification with a custom notification template I run into the same error as above.

[2020-07-06 12:14] RyVeata commented on #492
Thanks for reopening the thread @BenParizek.  Do you have any additional suggestions as to how to get round the `RELEASE SAVEPOINT LEVEL1` issue on PostgreSQL?  My site's still stuck on 3.11.7 at the moment until I can get a working upgrade.  Would deleting the reports table as per the mentioned issue or removing the migration be a way round it? Thanks for all your work maintaining and developing

[2020-07-14 14:39] darylknight opened #509 "Database Exception: SQLSTATE[22007]: Invalid datetime format"
### Description (screenshots, logs, ...)
Trying to update from 3.11.7 to 3.12.2, the migration fails, with the attached log.
### Additional info

- Craft version: 3.4.27
- PHP version: 7.4.6
- Database driver & version:  MySQL
- Plugins & versions:

Admin Bar   3.1.10
Amazon S3   1.2.8
Control Panel Nav   3.0.12
Cookies   1.1.12
Dashboard Begone   1.0.1
Element API   2.6.0
Field Manager   2.1.6
Im

[2020-07-15 20:08] BenParizek opened #510 "Incorrect integer value: 'sproutreports.users' for column 'dataSourceId'"
See ticket:

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_2xoi5)

[2020-07-15 20:10] BenParizek opened #511 "How to properly set up send rule"
See ticket

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_2xolp)

[2020-07-15 20:16] BenParizek opened #512 "rendering error any time I try to include a dropdown field that has one or more OptGroups"
See ticket:

[2020-07-16 18:16] BenParizek opened #513 "honeypot field name error"
See ticket:

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_2xr65)

[2020-07-16 18:49] BenParizek opened #514 "How to prepend data to asset upload filename"
https://craftcms.stackexchange.com/questions/35819/how-to-prepend-user-input-data-to-a-filename-uploaded-through-sprout-forms

[2020-07-17 05:34] caroldq55 opened #515 "Can't see name field data in notification email, it shows No Response"
### Description (screenshots, logs, ...)
I can see name data in form entry, and I add notification email when an entry is saved, but can't see name data in the email.

**form entry**
<img width="884" alt="Screen Shot 2020-07-17 at 3 31 37 pm" src="https://user-images.githubusercontent.com/44183456/87752002-aaf80880-c842-11ea-8075-d406f5378a70.png">

**notification email**
<img width="864" alt="Scr

[2020-07-17 14:48] BenParizek commented on #515
Thanks for reporting @caroldq55. We'll update this thread once we have a fix ready.

[2020-07-22 20:22] daltonrooney commented on #436
I know you've been thinking about ways to incorporate GraphQL support into Sprout Forms. I'm currently building a headless site (Nuxt) and came up against two issues that I wanted to share. Retrieving the full form seems to work just fine using the Element API, but I have a more pressing issue where we need to access Sprout Forms fields from GraphQL queries.

1. Using the Sprout Forms "Forms" fiel

[2020-07-24 16:21] williamhibberd opened #517 "Notification emails do not include Asset URLs"
### Description (screenshots, logs, ...)

I am using the [documentation code](https://sprout.barrelstrengthdesign.com/docs/forms/front-end-file-uploads.html#asset-urls) to display uploaded asset URLs in my notification emails. Notification emails sent when an entry is created do not include the Asset URL however test emails sent via the CP and emails sent on entry is updated do.

Assets are being

[2020-07-29 23:04] gdelorey commented on #455
This would be great!

[2020-08-06 10:45] azaitar opened #519 "Craft 3.5 Sprout Settings Error"
### Description (screenshots, logs, ...)
<img width="1460" alt="Bildschirmfoto 2020-08-05 um 20 16 44" src="https://user-images.githubusercontent.com/14804382/89523100-a17b1400-d7e2-11ea-86c5-a49e1bbbd51d.png">

### Steps to reproduce

1. Install Craft 3 latest Version (3.5)
2. Go to the Plugin Store Download Sprout Forms
3. go to "Plugins" and click on "Settings"
4. Json Error should be visible.

[2020-08-06 14:04] Keishma opened #520 "Can't find basic custom email template"
### Description (screenshots, logs, ...)

I have been following the documentation: https://sprout.barrelstrengthdesign.com/docs/email/template-overrides.html#customizing-templates. However I cannot find the path specified: "vendor/barrelstrength/sprout-base/src/app/email/templates/_components/emailtemplates/basic"

The only template I can find is here:
![image](https://user-images.githubuserconten

[2020-08-06 16:28] jrrdnx opened #521 "Craft 3.5: Saving any form wipes out all fields, unable to edit that form again due to error"
### Description (screenshots, logs, ...)

Recently upgraded to Craft 3.5/3.5.1 (occurs on both versions). When I make a change to an existing form and hit Save, it clears out all existing fields on that form and I am unable to edit that form again to fix the issue.

![Immediately after saving form. Note the Number of Fields column shows 0, previous value was 4](https://user-images.githubuserconten

[2020-08-06 16:30] jrrdnx commented on #521
Just confirmed that this happens both with new forms created, and existing forms. Hitting Save saves the form successfully, but without any fields. Unable to edit any existing form due to the error.

[2020-08-10 10:52] darylknight opened #522 "Migration error: sproutreports.users"
### Description (screenshots, logs, ...)
Just tried updating Sprout Forms from 3.11.7 to latest (Craft 3.4.30) and got this migration error.

[code]

### Additional info

- Craft version: 3.4.30
- PHP version: 7.4.8
- Database driver & version: MySQL 5.5.5

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https:/

[2020-08-10 10:56] darylknight commented on #522
Additionally, trying to update from 3.11.7 to 3.11.8 gives this error:

[code]

[2020-08-10 14:09] Keishma commented on #520
Edited this as the internal server error was due to my typo.

However I've located the basic email template, it's actually here:

vendor/barrelstrength/sprout-forms/src/templates/_integrations/sproutemail/emailtemplates/basic/email.twig

[2020-08-10 14:09] #520 closed

[2020-08-10 14:51] TomDeSmet opened #523 "Google reCaptcha issue on Chrome"
### Description
The Google reCaptcha (v2 I'm not a robot) spam filter gives an uncaught timeout (in Promise) error on Chrome. In FireFox it works perfectly.

I've found a lot of bugreports on Google over this, but no solution yet. And as it is part of the Sprout plugin, I was hoping you could find a solution?

This is the error:

[code]

- Craft version: 3.4.29.1
- PHP version: 7.3
- Database driv

[2020-08-10 18:13] justinholtweb commented on #506
@BenParizek Just checking in on this, seeing if you had any insight on a fix or troubleshooting info you might need that could help?

[2020-08-11 06:44] niels-vormenvorm commented on #521
I have the same issue, it also occurs on Craft 3.5.2

[2020-08-11 19:51] andypullen opened #524 "Changing the Primary Site removes all Sprout Forms data"
### Description (screenshots, logs, ...)
All Sprout Forms data will vanish from the dashboard and be unavailable to Sprout Forms twig functions after changing the Primary Site in Craft.

### Steps to reproduce
1. Create multiple Sites
2. Install Sprout Forms
3. Build a form, make some entries, create notifications, etc.
4. Change the Primary Site from one Site to another
5. All Sprout Forms data w

[2020-08-12 00:45] jwrudzin commented on #521
Same issue here on Craft 3.5.3.

[2020-08-13 10:20] darylknight opened #525 "Error saving Email Dropdown"
### Description (screenshots, logs, ...)

Just updated a client site to Sprout Forms 3.12.2 and am now unable to save an email dropdown field:

[code]

### Additional info

- Craft version: 3.4.30
- PHP version: 7.3

[2020-08-13 12:38] MisterMike commented on #521
Same here. Since the DB table persists if you delete the damaged form, you cannot recreate it. There ist an error in the backend: "Key "0" does not exist as the array is empty" (for line 20 in /vendor/barrelstrength/sprout-forms/src/templates/forms/_editForm.twig)

[2020-08-13 14:21] krizzzly commented on #522
this is related to this one: https://github.com/barrelstrength/craft-sprout-reports/issues/95#issuecomment-667912410

[2020-08-14 15:01] krizzzly commented on #502
its possible to surpress updating the search index inside the plugin:
`vendor/barrelstrength/sprout-forms/src/services/Entries.php:164`

`            $success = Craft::$app->getElements()->saveElement($entry,true,true,false);`

The last parameter tells NOT to update search indexes on entry savings.

[2020-08-14 20:21] JJefferyDev commented on #519
I'm also having this issue.  I'm going to try update everything else, uninstall Sprout, and reinstall it.

[2020-08-16 15:32] niallthompson commented on #521
Same issue here. Running Craft Pro 3.5.4

[2020-08-17 11:08] BenParizek commented on #521
@jrrdnx @jwrudzin @niels-vormenvorm @niallthompson I'm looking into this and am also in the final stages of polishing up a new major release to Sprout Forms is needed to address several of the migration issues we've had troubles with over the last months. I'm not sure if I'll be able to address this before we get that next major release out but will update this thread when I have more info.

[2020-08-17 11:25] BenParizek commented on #519
@azaitar @JJefferyDev I'll look into this and am also in the final stages of polishing up a new major release to Sprout Forms that is needed to address several of the migration issues we've had troubles with over the last months.

I'll update this thread if I can provide a temporary solution before we get that next release out but we probably won't try to fully support Craft 3.5 with the current r

[2020-08-17 11:33] BenParizek commented on #523
@TomDeSmet We'll take a look. We're currently focused on getting a release out to support Craft 3.5 and we'll circle back to this once we get through that.

[2020-08-17 11:36] BenParizek commented on #502
Thanks @krizzzly. @TomDeSmet @exophunk if you can use the above workaround for now, we're currently focused on getting a release out to support Craft 3.5 and will plan to roll this fix into that next release.

[2020-08-17 12:14] BenParizek commented on #524
@andypullen This looks like an oversight on our part. Sprout Forms (currently) just supports a single site in a multi-site install and saves its content based on the ID of that site.

We'll be looking into improved multi-site support at some point, but in your case (switching the primary site) the immediate fix may need to be done manually until we sort this out.

To do this I believe we'll need t

[2020-08-17 12:42] BenParizek commented on #522
@darylknight @krizzzly Looking into this.

We're currently focused on polishing up a major release that adds Craft 3.5 support and addresses several migration scenarios that have popped up over the last months. Due to an architectural decision I made a while back, some of our migration scenarios have become more tedious than they need to be and we're working on getting that resolved. I'll update t

[2020-08-18 20:24] joetunis commented on #521
Same issue here, and this is blocking some updates for a couple clients.  Commenting here to get notified when it is fixed.

[2020-08-24 10:34] lexislav commented on #521
Same issue, any progress on fix this?

[2020-08-24 10:36] nickcobley commented on #521
I've had to start looking at alternative form handlers as a result of this as of tonight, it's just taking too long. If a fix is close would be good to know.

[2020-08-24 14:11] fhamon commented on #521
You guys have an ETA ? I really need to give a date to my clients who are affected by this.

[2020-08-25 14:35] azaitar commented on #519
Thanks @BenParizek

I have another Issue when upgrading any Craft like 3.2.x or 3.3.x to the latest Craft the following error appears.

Should i open another Issue or should i just let this comment here ?

![Bildschirmfoto 2020-08-25 um 16 34 47](https://user-images.githubusercontent.com/14804382/91187854-e9f66500-e6f0-11ea-9f50-d5428c596d30.png)

[2020-08-25 23:19] andypullen opened #526 "Allow hidden fields to be selectable in Field Rules"
When creating a Rule to conditionally hide/show a field, make it possible to base the rule off of the value of a Hidden Field.

[2020-08-26 06:19] torgeirbeyer opened #527 "Spam protection not working"
### Description (screenshots, logs, ...)
I've activated all three captchas (using Settings in the dashboard, not config file), but we're still getting a lot of spam requests through our contact form. Everything looks good in the frontend form. It is only a problem on one of our forms at the moment. No requests get saved in the spam folder.

### Additional info

- Craft version: 3.4.19.1
- PHP vers

[2020-08-26 20:55] Jones-S commented on #344
@nicholashu Thanks for your example. I had this running with craft where it did not yet support a headless setup.
I forked sproutforms and made some hacky adaptations, I see you have it solved nicely though.

I also struggled getting that CSRF token to my frontend, but I see that you have a function doing that.
Are you using something like a `Netlify Function` or similar do get that token from a h

[2020-08-26 21:04] Jones-S commented on #436
@daltonrooney did you succeed sending data to the backend? I also am working with nuxt and (aside from having GraphQL support, which I don't need necessarily, but it would be a nice-to-have for future projects) I have problems with sending data back to sproutforms (csrf tokens). I know this is a bit off-topic here, but as these topics belong together I dare to add this comment here.
Also I want to

[2020-08-26 21:10] daltonrooney commented on #436
@Jones-S I was never able to get AJAX submissions working from a 2nd domain with CSRF turned on. I think that's a result of Yii's behavior when validating CSRF tokens. [I had a conversation going on StackExchange about this](https://craftcms.stackexchange.com/a/35813/5589), my somewhat unsatisfactory solution was to disable CSRF from a few whitelisted domains so I could successfully create a submi

[2020-08-26 21:15] Jones-S commented on #436
I see. Maybe I even followed that thread back then, because I did the same...
But I believe in this thread there may be a solution:
https://github.com/barrelstrength/craft-sprout-forms/issues/344
Maybe I am wrong, but it seems that @nicholashu is getting that CSRF token from somewhere in his next.js frontend...

[2020-08-26 21:17] daltonrooney commented on #436
@Jones-S Getting the CSRF token into the front-end shouldn't be the tricky part, take a look at https://nystudio107.com/blog/using-the-craft-cms-graphql-api-on-the-frontend#controller-of-fury

[2020-08-26 21:30] Jones-S commented on #436
Oh I see. Thanks for the link. Do you think that would work for two domains, and you missed that option back then, or are there other pitfalls I am missing now?

[2020-08-26 21:36] daltonrooney commented on #436
My problem (as discussed in that SE post I linked to) isn't getting the CSRF token, it's that Yii doesn't accept the CSRF token without a matching cookie, which you don't get for cross-domain requests. I got around the problem by disabling CSRF for my domain. Since CORS is active I think the chance of CSRF exploit is pretty low although I am still hoping for a solution that doesn't require disabli

[2020-08-26 21:38] Jones-S commented on #436
Oh I see, the cookie... Alright. I think I have to stick to disabling it then. Thank you very much for elaborating, and sorry for diluting the true topic of this thread. 👋

[2020-08-27 01:19] nicholashu commented on #344
@Jones-S `functionTOGetCsrf` is just a fetch request that sends a GET request to the CsrfControllers Csrf action (in the last example code block).

However, I have since improved this process and the Csrf module is no longer needed. It turns out craft's session info API gives you a CSRF token you can use.

`csrf.ts`

    export default class CSRF {
	  static getCsrf = async () => {
	     try {
		c

[2020-08-27 01:25] nicholashu commented on #436
I updated my response to your CSRF issue here https://github.com/barrelstrength/craft-sprout-forms/issues/344#issuecomment-681213805

I have users submitting forms via AJAX with CSRF, no cookies required.

[2020-08-27 09:21] Jones-S commented on #344
Thanks for sharing!
Just for clarification: I read that you don't need cookies. (in #436) but as far as I understand:

https://craftcms.com/knowledge-base/enabling-csrf-protection

I will only be able to make a POST request if that token matches the things saved in the cookie.
Or with what value is your CSRF token compared with?

Thanks for some more help 😅

[2020-08-27 09:41] Jones-S commented on #436
@daltonrooney Oh there is one more thing I forgot about. When I try to send a POST request to a backend on another domain I have CORS problems even without any CSRF stuff going on (I have that disabled for those requests...).

In my original fork if sproutforms I messed around with response headers to send `Allow-Origin: *`.
How did you cope with this problem?
(@BenParizek maybe there is a simple

[2020-08-27 10:00] Jones-S opened #528 "Add setting to allow returning Access-Control-Allow-Origin: * when saving an entry"
### The problem (description, use case, screenshots...)
In a truly headless setup one can have two domains. One for the backend, one for the frontend. Now when submitting a form via AJAX the post requests goes to the backend to the saveEntry controller of sproutforms.
Because this one is not returning `Access-Control-Allow-Origin: *` the request will fail from the beginning.

### The solution (tha

[2020-08-27 12:38] john-dunkel opened #529 "Error when editing form saved in Craft 3.5"
### Description (screenshots, logs, ...)

After updating to Craft 3.5 Sprout Forms stopped working. As soon as you try to open a form that was created or at least saved in Craft 3.5, the following error appears:

<img width="837" alt="grafik" src="https://user-images.githubusercontent.com/50204846/91442150-ad9e4280-e871-11ea-8da8-20d091f0ba8e.png">

In the form overview, it also states that there

[2020-08-27 13:20] nicholashu commented on #344
calling `users/session-info` returns an object with `csrfTokenValue`. Add that value to the body of your POST to `/sproutForms/entries/saveEntry`

e.g.,
`formData.append('CRAFT_CSRF_TOKEN', csrfToken);`
just like in my original comment

The CSRF token provided is valid for the current users session, it's just not stored in cookies as I am using craft in headless mode. I've used this method to prov

[2020-08-27 13:32] Jones-S commented on #344
Alright. I see. Thanks for your help. I now need to solve some CORS issues, because I can't even send the post request, due to missing `Allow-Origin` headers. I think I do understand the CSRF token stuff though. So thanks a lot for your (very quick) help. Much appreciated.

[2020-08-27 20:02] daltonrooney commented on #436
@Jones-S Also on SE: https://craftcms.stackexchange.com/a/35800/5589

😉

[2020-08-27 20:25] Jones-S commented on #436
Ok 🙈. Well read on my part. Thanks for pointing it out. Cheers

[2020-08-28 11:57] darylknight commented on #529
Yeah I just saved a form on a 3.5.5 production site and it literally deleted all the fields.

[2020-08-31 03:27] nickcobley commented on #529
This one is already open here https://github.com/barrelstrength/craft-sprout-forms/issues/521

Unfortunately, there is absolutely no indication when they are going to fix it

[2020-08-31 12:59] jerome2710 commented on #497
I was having the same issue, the suggestion above would be helpful @BenParizek .

[2020-09-02 12:22] BenParizek opened #530 "Nested field conditions"
https://craftcms.stackexchange.com/questions/36131/sprout-forms-field-rule-combination

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_30x1p)

[2020-09-02 13:17] BenParizek commented on #519
@azaitar This will be addressed once we get the Craft 3.5 compatible release out.

[2020-09-02 13:25] azaitar commented on #519
Any expected date for the new release ?

[2020-09-02 13:27] BenParizek commented on #519
@azaitar I can't promise a date yet. Getting closer, but still lots of testing to do.

[2020-09-02 13:28] BenParizek opened #531 "Unknown column 'pluginId' in migration"
See ticket.

[2020-09-02 13:40] BenParizek commented on #521
Hi all. The current version of the Sprout plugins have not been tested on Craft 3.5. I'm working on a new major release for Craft 3.5 that will address this and several ongoing migration issues we've been having over the past couple of releases.

The short version is that a while back I made an architectural decision to break out some shared Sprout functionality into multiple composer packages. As

[2020-09-02 13:43] BenParizek commented on #529
@john-dunkel @darylknight @nickcobley Sprout is not yet Craft 3.5 compatible and I'm working to address that.

I've posted a longer explanation of where things stand in the linked ticket:
https://github.com/barrelstrength/craft-sprout-forms/issues/521#issuecomment-685744505

[2020-09-02 13:44] nickcobley commented on #521
@BenParizek

Thanks for the update. Can I suggest you get this information into https://github.com/barrelstrength/craft-sprout-forms/blob/v3/README.md or somewhere prominent? As this is a risky one where even if you do a test upgrade of your production site, if you don't hit save on a form, you may never see this issue until it's too late. I have one production site now where going backwards is to

[2020-09-02 14:16] john-dunkel commented on #529
Closed this issue because of the redundancy with [#521](https://github.com/barrelstrength/craft-sprout-forms/issues/521)

[2020-09-02 14:16] #529 closed

[2020-09-02 15:49] extensibleseth commented on #521
Should composer.json be updated to require "craftcms/cms": "~3.4.0"?

[2020-09-02 15:57] BenParizek commented on #521
@extensibleseth Yes. That's something I'll be considering. Generally speaking, non-major releases are not supposed to have breaking changes but that hasn't been the case for our plugins in several of Craft's releases 3.2, 3.3, 3.4. They are aware of this and I know they are making an effort to reduce these scenarios but with 3.5 we're running into this again, so it may make sense for us to move to

[2020-09-02 17:40] BenParizek opened #532 "Subscription Form Field"
For connecting opt-ins to MailChimp and other services.

[2020-09-02 18:35] BenParizek commented on #528
Thanks for the thoughts @Jones-S. I'll look into addressing this after we get Craft 3.5 support out the door.

For now, if it's helpful to add support for yourself before we get to that, perhaps you could try adding something like the following to the saveEntry method that is used when submitting a form:
https://github.com/barrelstrength/craft-sprout-forms/blob/v3/src/controllers/EntriesController

[2020-09-02 18:43] BenParizek commented on #344
While I'll need more time before I can get it into a release, I've posted a potential update that can be made to add support for Allow-Origin headers via an event or temporary hack if anybody needs to address this in the meantime:
https://github.com/barrelstrength/craft-sprout-forms/issues/528#issuecomment-685922801

[2020-09-02 18:58] BenParizek commented on #527
@torgeirbeyer The default captchas are pretty simple. Have you taken a look at the reCAPTCHA plugin?:
https://plugins.craftcms.com/sprout-forms-google-recaptcha

reCAPCHA can be more robust based on Google's dataset and has additional settings in the Google interface to be more strict if you need to be.

Another step that can help in some scenarios is to use Cloudflare for your DNS and route thing

[2020-09-02 19:00] BenParizek commented on #526
Related: https://craftcms.stackexchange.com/questions/36131/sprout-forms-field-rule-combination

[2020-09-03 19:19] MFFoX commented on #521
@BenParizek Thanks for all the useful information about this issue. I am glad to hear about this change as we've had a lot of problems with the split packages for a while.

In the meantime, do you have any kind of ballpark for the amount of time you're looking at for a 3.5 compatible release? Any information would be helpful for me as we have multiple sites scheduled to go out in the next coming w

[2020-09-09 18:10] cakleimeier opened #533 "Migration error: json syntax error"
### Description
I'm trying to install Sprout Forms on a site that is newly-upgraded from Craft 2 and which also used Sprout Forms. During the migrations, I get the following error and the migration fails:

[code]

The error looks to be coming from `vendor/yiisoft/yii2/helpers/BaseJson.php:133`

### Additional info

- Craft version: 3.5.5
- PHP version: 7.2.20
- Database driver & version: MySQL 5.7

[2020-09-14 09:13] exophunk commented on #521
I understand that this is a complicated issue that can not be fixed quickly.

I am also surprised, that there is no warning message or notice in any readme even 12 days later. The Sprout Forms Documentation states that the plugin is [compatible](https://sprout.barrelstrengthdesign.com/docs/forms/installing-and-updating-craft-3.html#requirements) with Craft 3.3+

Having all fields deleted on saving

[2020-09-14 12:04] thisisjamessmith opened #535 "Stuck in a loop of creating infinite forms"
### Description (screenshots, logs, ...)

As soon as I click on 'Create Form', it starts an unstoppable loop of creating infinite forms in the DB. They only way I can stop it is by turning off my local server. I have two forms already successfully created, but creating a third triggers this behaviour.

Edit to add: Disabling the Async Queue plugin solves this problem (but then means that notificat

[2020-09-14 12:18] thisisjamessmith commented on #535
Seems like this is a bug with Async Queue - I've resolved it using the suggestion in this seemingly unrelated thread: https://github.com/ostark/craft-async-queue/issues/31

[2020-09-17 11:21] Jones-S commented on #528
Hi Ben, Sorry for my late response, I had to get some vacation ;).
I see that this is a possibility, and I did a similar approach a year back, but because I use composer to install plugins, I had to fork your forms and install my own version. Maintaining this is impossible though. I can't pull in your changes all the time, so this proved to be a no-no for me. I would be glad if this could somehow

[2020-09-17 11:27] Jones-S commented on #337
Oh I just realized that I can't access settings...
<img width="576" alt="image" src="https://user-images.githubusercontent.com/7059580/93464331-4b24e900-f8e9-11ea-8e6d-c244c0b3e67a.png">
What could this be about? I can access all other tabs and locally I can also submit forms and read the incoming submissions within the CP, butI can't access the Settings because of this error.

[2020-09-21 17:28] JJefferyDev opened #536 "Add a variable to the user uploaded filename"
### The problem (description, use case, screenshots...)
The files need to be organized by the user's name who uploaded them through the Sprout Forms.  This is needed for dynamic forms that are present on every job application page.  Currently all files from one job application form go to the same subfolder for the job.  This is necessary because all job applications then get downloaded from the fr

[2020-09-21 21:17] janklan commented on #521
@extensibleseth is right. It's been 7 weeks since the issue was reported and while I understand the resolution will take some time, I don't understand why composer.json still allows installing the plugin on Craft CMS 3.5?

[2020-09-23 19:55] cakleimeier commented on #533
After some review, I think this issue might be related to the issues detailed in [this comment](https://github.com/barrelstrength/craft-sprout-forms/issues/521#issuecomment-685744505).

[2020-09-25 12:20] torgeirbeyer commented on #521
We're also experiencing this on a site with Craft 3.5.10.1 and Sprout Forms 3.12.2. Do you know when this problem will be fixed? our clients can't make new forms for their website. @BenParizek

[2020-09-29 19:20] redzioch commented on #521
@BenParizek Same here... Any estimated fix timeline?

[2020-10-12 10:42] tomdavies commented on #521
@BenParizek We've used (and paid for) your plugins for a long time, so it pains me to write this but, I've got to say I think it's pretty unacceptable for a commercial plugin not to put the fact that it's incompatible with the current Craft release front and centre of the promotional material / documentation.

Failing to do so for this length of time, doubly so. This isn't going inspire trust from

[2020-10-12 18:49] cakleimeier commented on #533
@BenParizek Is there any commit for Sprout _Forms_, specifically, that I could reference to get past this issue, as in this comment? https://github.com/barrelstrength/craft-sprout-reports/issues/98#issuecomment-685710988

[2020-10-14 12:43] #535 closed

[2020-10-15 11:02] tomdavies commented on #521
Hi @BenParizek thanks for the considered reply. Sorry if I came off a bit brisk in my prev message.

**If you could update the documentation (or even just the repo readme) with a version of what you've just said,  I think that would ease a lot of the frustration you're seeing** - Craft devs tend to be a humane bunch and are likely to be realistic about the timeframe for a fix. We all make software

[2020-10-15 19:23] brandonkelly commented on #521
We just released Craft 3.5.13 which provides backwards compatibility with the old way of submitting field layout data, which solves the primary issue here. I’ve also submitted PR #537 which fixes similar issues, such as when saving a field’s settings.

If anyone wants to help test this, make the following changes to your `composer.json`:

- Change your `craftcms/cms` requirement to `"3.5.13" or `"

[2020-10-15 19:53] simonda86 commented on #521
@brandonkelly I've tested this and it fixes the issue for me!

Thanks Brandon!

[2020-10-16 00:05] redzioch commented on #521
@brandonkelly

It seems that saving Checkbox fields is broken now. I get an error "<field_name> is invalid", despite value. Changing field type to Multi-select solves the problem.

[2020-10-16 02:23] brandonkelly commented on #521
@redzioch Sorry, just released 3.5.13.1 with a fix for that. FFR please report Craft-specific issues over at https://github.com/craftcms/cms/issues.

[2020-10-16 02:25] brandonkelly commented on #524
Craft will automatically update all non-localizable elements’ `siteId`s when the primary site changes. If that’s not happening, it’s probably because the element type(s) aren’t [getting registered properly](https://craftcms.com/docs/3.x/extend/element-types.html#registration).

[2020-10-20 13:59] simonda86 opened #538 "Form hits error when sending notification"
I've recently updated a site from Craft 2 to Craft 3, I'm now getting an error when submitting one of the forms, full stack trace below.

[code]

When I'm looking at the `sproutemail_notificationemails` table there are blank values, I'm wondering if this is causing the issue?

<img width="1197" alt="Screenshot 2020-10-20 at 14 56 56" src="https://user-images.githubusercontent.com/495114/96596529-b

[2020-10-22 13:12] BenParizek commented on #538
Thanks @simonda86. I'm working on Craft 3.5 support this week. I'll update this thread once I get that out.

[2020-10-22 14:54] terence1990 commented on #538
Hey @simonda86

Just been looking through old issues and this one: https://github.com/barrelstrength/craft-sprout-forms/issues/394 has a reference the same error message:

"The Form associated with the saved Form Entry Element does not match any selected Forms."

He said he fixed it:

"I "fixed" the disappearing fields issue before seeing your recommendations in that thread—and did it manually by