[2020-10-22 16:00] simonda86 commented on #538
Thanks @terence1990

I've been looking at this a bit further and I noticed that these 4 rows with the null values don't appear on the old Craft 2 site, so I've deleted these and it's working now!

[2020-10-22 17:40] BenParizek commented on #533
@cakleimeier I'm catching up on support this week and next and working on a release with Craft 3.5 support. I'll update this thread once I get that out.

[2020-10-26 20:53] cakleimeier commented on #533
@BenParizek Thanks for the update!

[2020-10-27 08:37] jeffreyschmitz87 commented on #325
Hi Ben,

I'm experiencing the same issue with Sprout Forms version 3.12.2. I have a multisite with multiple users assigned to one or more of the sites. When someone has created a report and clicks on the 'Export' button the error message is visible. When the person clicks on 'View report' and then clicks on 'Export' it does work.

**Additional info**
- Craft version 3.4.27
- PHP version: PHP 7.2
-

[2020-10-27 11:02] BenParizek commented on #325
I'll take a look @jeffreyschmitz87 and follow up once I have more info. It looks like one of my commits accidentally closed this ticket.

[2020-10-27 11:20] BenParizek opened #539 "Notifications not appearing after migration"
They are still in the db.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_34bnx)

[2020-10-27 13:05] VdVChiel opened #540 "Cannot update plugin to the Pro version"
### Description (screenshots, logs, ...)

I'm currently working on a project that needs multiple forms, when using sprout forms you need the pro license for this.
When trying to upgrade from the craft backend I get redirected to the store but nothing loads.
![Schermafbeelding 2020-10-27 om 13 58 05](https://user-images.githubusercontent.com/10195598/97305053-e308e180-185c-11eb-978a-77bef4a96548.pn

[2020-10-27 13:08] BenParizek commented on #540
@VdVChiel Sprout Forms has not been updated to support Craft 3.5 yet. I'm working on that this week and will update this thread once we get it out and get the plugin re-enabled in the store.

[2020-10-27 14:16] #521 closed

[2020-10-27 14:32] wes-lawson commented on #519
@BenParizek any eta on the Craft 3.5 compatible release?

[2020-10-27 15:16] BenParizek commented on #519
@wes-lawson et al. I've just released Sprout Forms v3.13.0 with Craft 3.5 support.
https://plugins.craftcms.com/sprout-forms

Let me know if you run into any other issues. I will be turning my focus toward getting all migration issues resolved next.

[2020-10-27 15:16] #519 closed

[2020-10-27 15:17] BenParizek commented on #540
@VdVChiel I've just released Sprout Forms v3.13.0 with Craft 3.5 support.
https://plugins.craftcms.com/sprout-forms

Let me know if you run into any other issues. I will be turning my focus toward getting all migration issues resolved next.

[2020-10-27 15:20] BenParizek commented on #337
@Jones-S regarding your final comment here, I've just released Sprout Forms v3.13.0 with Craft 3.5 support.

[2020-10-27 15:35] BenParizek commented on #515
I've just released Sprout Forms v3.13.0 that adds support for the name field in the default Form email template:

https://github.com/barrelstrength/craft-sprout-forms/blob/v3/src/templates/_integrations/sproutemail/emailtemplates/basic/email.twig#L112

[2020-10-27 15:35] #515 closed

[2020-10-27 15:40] BenParizek commented on #504
@lexislav I've tested this and it appears to be working when no value is submitted. I've been making several changes so it's possible I addressed this indirectly but let me know if the issue continues for you and we can dig in more to your scenario and figure it out.

[2020-10-27 15:40] #504 closed

[2020-10-29 09:19] Nielsvdel opened #541 "Can't run export directly"
When I want to run an export of a form it is only possible when I am in my admin account. If I switch to a user with the the same rights as the admin then I get an error saying I don't have permission. But when I click on "Run Report" and then on "Export" in the top right corner I can run the export. Hope you can help me out!

- Craft version: 3.4.30
- PHP version: 7.0
- Plugins & versions: 3.12.2

[2020-10-30 04:09] engram-design opened #543 "Custom fields aren't available in entry element index"
No custom fields appear for entries, when looking at "All Forms" or for any individual form:

![Screen Shot 2020-10-30 at 3 06 54 pm](https://user-images.githubusercontent.com/1221575/97658883-92de8900-1ac1-11eb-8a91-d6e4e92a7e1d.png)

Pretty sure this is due to Craft 3.5 updates. This should be a pretty easy fix, and also takes care of https://github.com/barrelstrength/craft-sprout-forms/issues/4

[2020-11-04 15:42] krizzzly opened #545 "after migration from Craft v2 to v3 no notifications are sent"
### Description (screenshots, logs, ...)

### Steps to reproduce

1. migrate to v3
2. fill a form with added notification

I can perfectly send the test email from "Notifications", but the event is never triggered when filling the form, even that the form entry is correctly created and the notification has the correct event and form attached.

```vendor/barrelstrength/sprout-base-email/src/service

[2020-11-04 16:02] krizzzly commented on #545
found the solution: db table ```sprout_settings``` with an entry model ```barrelstrength\sproutbaseemail\models\Settings``` has in settings ```"enableNotificationEmails":""``` but it needs to be ```"enableNotificationEmails":true```
There is no GUI lightswitch for that.

[2020-11-06 10:04] jeffreyschmitz87 opened #546 "Sprout Report dropdown value is incorrect"
### Description & steps to reproduce

I have a form containing two dropdowns (screenshot 1 and 2):
**Screenshot 1**
![Screenshot 2020-11-06 at 09 42 14](https://user-images.githubusercontent.com/34717885/98345068-7045f600-2014-11eb-975c-516118c66f57.png)

**Screenshot 2**
![Screenshot 2020-11-06 at 09 38 45](https://user-images.githubusercontent.com/34717885/98345102-7fc53f00-2014-11eb-8e1f-68b17f

[2020-11-06 21:43] riusi88 opened #547 "JavaScript Error, Uncaught TypeError: this.form is null"
A Javascript error associated with Sprout forms is preventing certain form features from working properly. For instance the Address field is unable to swap between State and Province when selecting between United States and Canada as the Country field value.

`Uncaught TypeError: this.form is null
    t https://polyurethanes.basf.us/cpresources/8e0de842/addressfield.js?v=1600981513:2
    <anonymou

[2020-11-11 13:32] BenParizek commented on #541
@Nielsvdel We're working on an update that should address this issue. I'll update this thread once we get that out.

[2020-11-11 13:46] BenParizek commented on #545
Thanks @krizzzly. Our next big update is focused on improving the migration workflows for our plugins.

Sounds like you've found a path forward here for now, and I'll make a note on this ticket once we get that next update out to indicate this is resolved without the need for a manual db update.

[2020-11-11 13:58] BenParizek commented on #547
Thanks @riusi88

I'll look into this as soon as I can. Do you happen to be using custom template overrides?

If so, have you tested the Address field with the default templates to see if you experience the same behavior? The error message "this.form is null" suggests that the javascript might not be finding the Form by expected <form id="x"> value.

[2020-11-11 14:00] riusi88 commented on #547
Hey @BenParizek thank for looking into this. I have reset all the Form templates to the basic, and accessible defaults with no success as well.

[2020-11-11 14:02] BenParizek commented on #546
Thanks for the detailed ticket @jeffreyschmitz87. I'll look into this and update this thread once we get a fix out.

[2020-11-11 18:44] riusi88 commented on #547
Hey @BenParizek I discovered a markup issue in the websites layout templates that triggered the JS error. There were some extra rouge closing `body` and `html` tags that I believe prevented the JS from functioning properly. Once I removed those extra closing tags the JS worked properly.

[2020-11-11 18:44] #547 closed

[2020-11-16 04:29] MichaelWheldon opened #548 "Renamed fields do not get attached to a form"
### Description (screenshots, logs, ...)
Fields do not save and attach themselves to the form. The following is after creating a single line field and naming it "Contact name".

<img width="1440" alt="Screen Shot 2020-11-16 at 3 23 08 pm" src="https://user-images.githubusercontent.com/9004820/99212665-c8080c80-281f-11eb-854c-c21b9fe58614.png">

### Steps to reproduce
1. Create a new form
2. Drag o

[2020-11-16 04:34] MichaelWheldon commented on #548
I’ll also add, saving a form with any field results in the following error:

<img width="1440" alt="Screen Shot 2020-11-16 at 3 34 15 pm" src="https://user-images.githubusercontent.com/9004820/99213261-3f8a6b80-2821-11eb-93f9-f78e7da89e00.png">

[2020-11-16 12:31] BenParizek commented on #548
@MichaelWheldon It looks like you may be using the release just before we added Craft 3.5 support. Can you upgrade to Sprout Forms v3.13.0 and let me know if that gets things resolved for you?

https://github.com/barrelstrength/craft-sprout-forms/blob/v3/CHANGELOG.md#3130---2020-10-27

[2020-11-16 12:31] #548 closed

[2020-11-16 12:39] #486 closed

[2020-11-16 12:40] BenParizek commented on #543
Thanks @engram-design. Added in v3.13.1.

[2020-11-16 12:40] #543 closed

[2020-11-16 14:19] BenParizek opened #549 "Error: Class 'barrelstrength\sproutbasereports\migrations\m200520_000001_update_user_datasourceid' not found"
See stack trace in ticket.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_35vbh)

[2020-11-16 20:47] MichaelWheldon commented on #548
@BenParizek will do! thanks for the speedy reply :)

[2020-11-16 21:11] MichaelWheldon commented on #548
@BenParizek confirmed it now works with sprout 3.13.1 and latest craft + compose v2

thanks again for the help!

[2020-11-23 14:39] exophunk commented on #502
This bug is open since june and was not included in any of the last releases.

Will you fix this in a next release? it's a one-line code change, see krizzly's comment

[2020-11-25 11:20] rauwebieten opened #550 "Invisible field default value is not set"
### Description (screenshots, logs, ...)

Invisible field default value is not set when submitting form.
(hidden field works as expected)

### Steps to reproduce

1. create hidden veld with default value
2. submit form
3. check form entry, default value is not set

### Additional info

- Craft version: Craft Pro 3.4.30
- PHP version: 7.3.19
- Database driver & version:  MySQL 5.5.5
- Plugins & ver

[2020-11-27 16:56] tomdavies opened #551 "Changing default site causes forms/submissions to "disappear" in the CP / front end"
### Description

1. When using Craft 3.4.30 and Sprout Forms 3.12.2 on a Craft multi-site install,
2. And where forms have been created with one default site set
3. Then the default site is changed
4. All the forms and submissions previously submitted are still present in the DB, but are no longer visible in the CP and no longer render on the front end
5. Changing the default site back to the orig

[2020-11-30 16:35] BenParizek commented on #551
@tomdavies I'm closing this out and will post updates on this in this other ticket here:
https://github.com/barrelstrength/craft-sprout-forms/issues/524

I'm currently working through all the Sprout Forms migration bugs and hope to have a release out that resolves all of these items as well as the underlying architectural decisions that are causing them around the release of Craft 3.6.

[2020-11-30 16:35] #551 closed

[2020-11-30 16:49] tomdavies commented on #551
understood. Sorry I missed the existing issue!

[2020-11-30 16:57] BenParizek commented on #541
Closing this out. Please follow duplicate issue for updates: https://github.com/barrelstrength/craft-sprout-forms/issues/541

[2020-11-30 16:57] #541 closed

[2020-11-30 17:07] BenParizek commented on #510
See: https://github.com/barrelstrength/craft-sprout-forms/issues/492

[2020-11-30 17:07] #510 closed

[2020-11-30 17:07] BenParizek commented on #509
Closing this out to consolidate with ticket: https://github.com/barrelstrength/craft-sprout-forms/issues/492

[2020-11-30 17:07] #509 closed

[2020-11-30 17:20] #549 closed

[2020-11-30 17:52] BenParizek commented on #533
@cakleimeier If you still have your original db, could you share with me the value you see in the database column for the checkboxes field (or the multiple checkbox fields) in your form? It seems something stored in the database isn't what we are expecting it to be.

To find the custom fields in your database, you can look in the Form content table which is named using the `formHandle` and look fo

[2020-12-01 13:50] BenParizek commented on #502
@exophunk Sorry for the delay. This should be addressed in a release soon. I'm working through addressing several structural issues that have been leading to some recurring migration problems. Once I get through that milestone in cleaning that up I'll be able to address these issues more quickly again and I'll update here as soon as I have this out in a tagged release.

[2020-12-01 13:53] BenParizek commented on #550
Thanks for reporting @rauwebieten. I'll update this thread once we get a release out to address this.

[2020-12-01 19:01] BenParizek commented on #502
@krizzzly. @TomDeSmet @exophunk Do any of you have a step by step example of how to recreate this? And an example of what value you are using in the Invisible Field?

I'm currently unable to recreate this using an Invisible field in a Form layout that captures a static value or dynamic value based on another field in the form and submitting the form via the front-end or back end. I'd like to avoid

[2020-12-01 19:54] BenParizek commented on #494
@AnnaZLinka I've tracked down what is going on here and will have a fix for this migration in our next release. I'm still working through several items so can't promise a date on that at the moment.

The issues is in how we handle the Payload Forwarding 'Submit Action' setting during the migration and generate a new Custom Endpoint Integration (which is the new way we handle that in Craft 3)

If y

[2020-12-02 00:10] BenParizek commented on #501
@Christopholus @riusi88

This is the expected behavior now. This feature was changed due to a security vulnerability and is mentioned in the [upgrade notes](https://sprout.barrelstrengthdesign.com/docs/email/installing-and-updating-craft-3.html#upgrading-to-email-v4-2-0).

To create similar behavior you will need to do what it sounds like you'v done – confine your dynamic variables in the Control

[2020-12-02 00:10] #501 closed

[2020-12-02 01:26] BenParizek commented on #538
This was due to a migration bug where the Craft 2 Form Notification Email did not get saved with an Email Template ID. I'll get a fix in the next release and if anybody run into this before then, resaving any Form Notification Emails should get the correct values in the db and correct this issue.

[2020-12-02 01:42] BenParizek commented on #506
@justinholtweb @williamhibberd I'll have a fix out for this in the next release.

This was due to a migration bug where the Craft 2 Form Notification Email did not get updated and saved with an Email Template ID. If you'd like to fix this before then, resaving any Form Notification Emails should get the correct values saved in the db and correct this issue.

[2020-12-02 04:17] #489 closed

[2020-12-02 04:34] BenParizek commented on #525
Hey @darylknight. I realize you may have found your way past this issue already.

If you're still experiencing this, I'm going to need more details about how you have the field setup. From your error log, it appears the error is being caused by a compiled template which makes me think that a pre-upgrade version of the template code might be throwing the error instead of the latest code and that cl

[2020-12-02 04:56] BenParizek commented on #505
@lexislav The relations field should output a list of the selected Titles in the Notification Email Template. In my tests this is working as expected so if you're still experiencing the above I may need to know more about your notification settings and if you're doing anything custom with your templates. The code that should be outputting the Entries field and other Relations fields is here:

http

[2020-12-02 07:27] darylknight commented on #525
Thanks for checking Ben. Sprout Forms is no longer installed on this site, so I think we can close this specific issue.

[2020-12-02 07:27] #525 closed

[2020-12-02 09:08] lexislav commented on #505
Unfortunatelly we have been forced to switch from sprout forms. So, right now I can’t provide any info about this.
Take care

[2020-12-02 12:26] AnnaZLinka commented on #494
Hey @BenParizek. Glad that you are going further with fixing it! 💪 I had to get around with the forms since it took quite a lot of time, so used another form plugin instead. So that particular project won't need a quick fix now. Although we still have some projects on Craft 2, not in upgrading process there yet, so please keep me inform when the fix is released.

[2020-12-02 13:43] BenParizek commented on #505
Understood. Thanks @lexislav.

[2020-12-02 13:43] #505 closed

[2020-12-07 13:54] espensgr commented on #454
I'm getting this error too.
I dont have the campaign mails plugin, but the other plugins and are getting the second error:

[code]
And i have to run the ./craft migrate/all twice to get the sprout migrations to run.
If you found a manual fix for this that would be nice to

### Additional info

- Craft version: 2.7.10 -> 3.5.10
- PHP version: 7.2
- Database driver & version: MySQL 5.7
- Plugins & v

[2020-12-08 20:05] extensibleseth opened #552 "Form versioning"
### The problem (description, use case, screenshots...)
Fields were removed from a form which now needs to have them again.

### The solution (that feature you'd like to see)
Provide optional versioning for form configurations, either separately or as a whole. Rules, notifications, redirect, title, etc...
Also allow users the option to retain data on field removal, and remove it afterwards while r

[2020-12-09 14:19] BenParizek commented on #552
Thanks @extensibleseth. I'll tag this as a FR and consider our options when I have a chance to dig deeper and explore if Craft versioning may be able an option for custom elements like Forms.

Right now, when deleting a field it does prompt the user to indicate that the field and its data will be removed. That would be the time to grab a report for the archives. But I understand that's not what yo

[2020-12-09 14:45] BenParizek commented on #454
@espensgr I'm currently working on a release that should address these migration issues more comprehensively. I can't promise a date yet, but it's my primary focus right now. I've re-opened this and will update this thread once we get a release out that addresses it.

[2020-12-09 15:45] jerome2710 opened #553 "Users are unable to save notifications"
### Description (screenshots, logs, ...)
Despite having all `Sprout Forms` and `Sprout Email` permissions, my users receive the "User is not permitted to perform this action" when saving notifications. According to the stack trace, the permission `global-editNotifications` is required. This seems strange, I suggest 'global' should be the plugin handle here?

`global-editNotifications` is also not

[2020-12-10 12:19] jerome2710 opened #554 "'Save as a new form' creates relations to original fields"
### Description (screenshots, logs, ...)
When saving as form as 'Save as a new form', the fields inside these forms get related. Every change in the fields of form A will also be applied to form B.

### Steps to reproduce

1. Create a form with one or more fields
2. Save it and re-save it with 'Save as a new form'
3. Edit a field, eg. change the title. The field title of both forms will be changed

[2020-12-15 11:56] espensgr commented on #454
Any chance the release is coming within this year?
It's just to inform our costumer if we are able to migrate their site this year 😄

[2021-01-05 13:39] jerome2710 commented on #553
Hi @BenParizek,

Can you inform us when this issue will be fixed? We/our clients are paying for your updates and almost a month without any sign of life is worrying..

[2021-01-14 09:34] redzioch opened #556 "How to get submit status using AJAX?"
I am submiting form using AJAX:
https://sprout.barrelstrengthdesign.com/docs/forms/submitting-a-form-via-ajax.html

and listening to onSproutFormsSubmit event:
form.addEventListener('onSproutFormsSubmit', function(event) {
    // ...
}, false);

How can I get any information if form was submitted successfully?

[2021-01-15 16:46] sjwarner-bp commented on #492
Believe that I am experiencing the same issue here.

Trying to upgrade from:

[code]

to:

[code]

(i.e. latest at the time of writing)

Get:

[code]

Did anyone find a way to progress with this issue? I can update more incrementally if necessary, but am hoping for some guidance on the best way to navigate this problem.

[2021-01-21 14:03] espensgr commented on #454
Any update on the release or this bug?

[2021-01-26 20:43] exophunk commented on #554
Once again, a very severe bug, that is not adressed for more than a month...

Even worse, if you delete the duplicated form, it will delete the field layout of the original form which leads to total failure:

- Renders the complete sprout forms plugin unusable, because it throws a breaking `yii\base\InvalidConfigException` error when opening the plugin entries page
- Breaks the original form and m

[2021-01-31 19:29] jamesmacwhite commented on #274
Sorry for my lack of response on this, I can confirm it still happens when going from Craft 2 -> 3, however based on your explanation it sounds like this is touching on core Craft CMS rather than anything being done by Sprout in it's migration track?

The easiest solution is to re-do the sidebar in Craft 3, but the issue is the project this is related to is still a live Craft 2 site and is changin

[2021-02-01 02:11] JJefferyDev opened #557 "Sprout Forms does not install with Craft 3."
### Description (screenshots, logs, ...)
![image](https://user-images.githubusercontent.com/3834326/106406819-5dfb0e80-63ef-11eb-8518-b667dec3582e.png)

### Steps to reproduce

1. Try to install Sprout Forms either from the Plugin store or with Composer on a Craft 3.6.2 website.
2. See that the plugin is not automatically installed, try and install from admin dash, see error message.

### Addition

[2021-02-01 23:01] JJefferyDev commented on #557
I tried installing on a fresh install of Craft 3.6.2 and it worked.

[2021-02-05 18:31] wes-lawson opened #558 "Craft 3.6.3 Upgrade Issue"
Issue after upgrading to Craft version 3.6.3.

When navigating to Forms or Reports I am receiving an error stating "A server error occurred."

My forms and reports never load in the admin panel. The form is still visible and functions properly on the website.

In my craft logs I am seeing this "Column 'name' in order clause is ambiguous". I recently implemented this fix for the reports https://git

[2021-02-08 12:53] jerome2710 commented on #554
Hi @BenParizek. For your information, after some internal discussion we made a decision and just disabled all of our clients auto-renewals for the Sprout-plugins. From now on, we will stop implementing the Sprout-plugins in new websites as well. During the past year, the overall quality of the plugins has plummeted as well as lack of support and updates. This issue as well as #553, #546 and #325 i

[2021-02-09 06:48] engram-design commented on #558
@wes-lawson See my PR here https://github.com/barrelstrength/craft-sprout-forms/pull/559

[2021-02-09 14:41] wes-lawson commented on #558
@engram-design thanks for this fix!

Looking at the reports issue, do you know what this line in "sprout-base-reports > source > elements > Report.php" needs to be updated to?

`'name' => Craft::t('sprout-base-reports', 'Name'),`

[2021-02-11 02:04] BenParizek commented on #494
This should be addressed in the latest release of Sprout Forms.

I'm catching up on several support tickets right now and working on a large update to improve the migration process that has been causing a lot of issues like this. There will likely be several smaller updates coming out over the next couple of weeks so, if possible, I'd recommend holding off on updating until we get Sprout Forms v4.

[2021-02-11 02:04] #494 closed

[2021-02-11 02:06] BenParizek commented on #506
This should be addressed in the latest release of Sprout Forms.

I'm catching up on several support tickets right now and working on a large update to improve the migration process that has been causing a lot of issues in our plugins. There will likely be several smaller updates coming out over the next couple of weeks so, if possible, I'd recommend holding off on updating until we get Sprout Form

[2021-02-11 02:06] #506 closed

[2021-02-11 02:08] BenParizek commented on #538
This should be addressed in the latest release of Sprout Forms.

I'm catching up on several support tickets right now and working on a large update to improve the migration process that has been causing a lot of issues in our plugins. There will likely be several smaller updates coming out over the next couple of weeks so, if possible, I'd recommend holding off on updating until we get Sprout Form

[2021-02-11 02:08] #538 closed

[2021-02-11 03:12] BenParizek commented on #558
This has been fixed in the latest Sprout Forms and Sprout Reports.

https://github.com/barrelstrength/craft-sprout-reports/issues/106

[2021-02-11 03:12] #558 closed

[2021-02-11 03:22] BenParizek commented on #454
This should be resolved in the latest release.

Just to note, I'm catching up on several support tickets and working on a large update to improve the migration process that has been causing a lot of migration issues in our plugins. There will likely be several smaller updates coming out over the next couple of weeks so, if waiting on the migration is an option, It may be worth holding off on updat

[2021-02-11 03:22] #454 closed

[2021-02-11 16:04] BenParizek commented on #556
@redzioch I'll consider this a bug.

I'm currently focused on a few other priorities right now but will revisit this once I get through those and update this ticket once I do.

[2021-02-11 16:09] espensgr commented on #454
The migrations are working now, thanks

[2021-02-11 16:18] espensgr opened #560 "Honeypot admin-settings error"
### Description

The spam protections site in the admin gets a `honeypotFieldName` error in the latest updates.

![image](https://user-images.githubusercontent.com/3862891/107664721-03826d80-6c8d-11eb-9d70-fcfc49f5c505.png)

I have just updated from Craft 2, and there may be some issues related to my issue from that: #454

### Steps to reproduce

1. Login to site
2. go to `/admin/sprout-forms/sett

[2021-02-11 16:26] BenParizek commented on #492
This migration issue should be addressed in the latest release of Sprout Forms.

I'm catching up on several support tickets right now and working on a large update to improve the migration process that has been causing a lot of issues in our plugins. There will likely be several smaller updates coming out over the next couple of weeks so, if possible, and you can hold off on updating until we get

[2021-02-11 16:26] #492 closed

[2021-02-11 16:28] BenParizek commented on #524
The latest release now registers Form and Entry elements as described above.

[2021-02-11 16:28] #524 closed

[2021-02-11 17:18] BenParizek commented on #545
This migration should be fixed with the latest update.

[2021-02-11 17:18] #545 closed

[2021-02-11 18:23] BenParizek commented on #554
@jerome2710 I appreciate your comment and apologize for the hassles.

I take responsibility for the struggles this past year and am actively trying to correct the issues but understand that the recent issues have put some projects in a tough place and the decisions you need to make.

The short explanation:

A couple of years ago I made a decision to update the Sprout plugin structure to share seve

[2021-02-16 11:32] jamesmacwhite opened #561 "Cleanup/removal of old Sprout Form data after a certain time period"
### The problem (description, use case, screenshots...)

It would be nice to have old form data automatically purged after a certain amount of time. Something like this should be of course optional and not automatically enabled. While generally a good idea for being able to keep the Craft CMS database less bloated there are also potential data management considerations, example for GDPR if forms a

[2021-02-18 19:12] kerrig commented on #525
I'm currently running into this exact issue.
Sprout Forms Lite v3.13.2.3

I attempted to clear my compiled template cache and it fixed it on first save but attempting to edit the email dropdown field again will not save and throws the error (even after trying to clear the compiled template cache again). I just freshly installed this plugin on this site so it wasn't updated from a previous version.

[2021-02-18 19:23] kerrig opened #562 "Error saving Email Dropdown field"
I'm currently running into this exact issue.
Sprout Forms Lite v3.13.2.3

I attempted to clear my compiled template cache and it fixed it on first save but attempting to edit the email dropdown field again will not save and throws the error (even after trying to clear the compiled template cache again). I just freshly installed this plugin on this site so it wasn't updated from a previous version.

[2021-02-22 17:29] lancekuttner commented on #493
Hi Ben,

Can you recall whether this was ever resolved? I am trying to upgrade our Craft installation and it is falling over on an issue with Sprout Forms. I am receiving some assistance from Oli, but he is having a hard time with it - I suspect it may have something to do with this issue.

Many thanks,

[2021-02-23 16:10] jamesmacwhite commented on #274
@BenParizek So looking into this a bit more. The forms themselves are assigned to the right groups as you said. It does appear to be an element index setting related problem.

![image](https://user-images.githubusercontent.com/8067792/108871384-0405f700-75f1-11eb-985a-81e2ec44556c.png)

From migration a Craft 2 site with Sprout Forms and also Sprout Email, we can see the type value is the old Craf

[2021-03-15 13:17] BenParizek commented on #493
@lancekuttner This was not resolved yet. I saw a pull request from Oli recently so perhaps that was related to this.

I am in the process of polishing up a major upgrade that will be addressing some of the structural migration issues that we've been having in our plugins. There is a light at the end of the tunnel. I'll be addressing this as soon as I can get that release out.

[2021-03-15 13:22] BenParizek commented on #561
Thanks @jamesmacwhite. A good idea. I've marked this as a Feature Request and will explore our options.

I can't promise a timeline so the custom console request may be the way to go if this is needed in the short run.

[2021-03-15 21:33] #557 closed

[2021-03-16 02:05] BenParizek commented on #562
Hi @kerrig. My apologies for the slow reply. I've been renegotiating several business relationships so that I can give our plugins the proper focus again and I'm just about back to more responsive replies.

I'm unable to reproduce this issue in my tests. If this is still an issue, would you be able to send your db over to sprout@barrelstrengthdesign.com so I can take a closer look?

From your log

[2021-03-16 02:35] BenParizek commented on #553
@jerome2710 I've been in the process of renegotiating several business relationships over the past couple of months so that I can turn my focus back to Sprout and be more responsive moving forward.

Unfortunately, I don't have a quick fix for this issue. A couple of years ago a made an architectural decision to use composer modules for shared functionality between our plugins and it later lead to

[2021-03-16 03:22] BenParizek commented on #560
This appears to be a migration issue. I'll update this thread once I have a fix out.

[2021-03-16 09:06] espensgr commented on #560
Is it possible to manually fix this?

[2021-03-16 12:36] BenParizek commented on #560
@espensgr Good question and I should have offered such right upfront.

I haven't dug into this yet to know if there might be more at play, but I think you could get over the issue by adding a Sprout Forms config file to your config folder: `config/sprout-forms.php` and providing the settings there:

[code]

Once you refresh the page and the page gets loaded, you can also probably remove that `conf

[2021-03-16 13:58] OscarBarrett commented on #522
Manually skipping the migration appears to work. (i.e. add `m200520_000002_update_datasourceId_column_type_sproutforms` to the migrations table manually)

[2021-03-16 16:00] joelstrom opened #564 "Redirect page for multi-site"
### Description (screenshots, logs, ...)
I am having an issue getting the thank you page redirect to work when using one line Sprout Forms on a multi-sites Craft website.
The issue seems to be that the Redirect page field for each form is not translatable, which means that the url will be the same for all languages and domains. This is obviously an issue when working with multiple different langua

[2021-03-16 17:01] BenParizek commented on #564
Hey @joelstrom

A lot of folks using multi-site forms build a different form for each language, as that helps translate things and have different field or setting requirements.

If you're able to use a single form for multiple sites and just need different redirects you can potentially override the default `form.twig` template and update the redirect logic in the template that gets output with the

[2021-03-16 20:54] joelstrom commented on #564
Thank you for your swift reply.

Creating separate forms for each language version just to change the redirect is too much work for sure, but your suggestion sounds like a good alternative.
I do have experience from Custom Form Templates, so I am confident in getting it to work with your help without further hassles.

[2021-03-16 20:54] #564 closed

[2021-03-18 09:16] espensgr commented on #560
Nice, that worked, thanks.

[2021-03-18 09:40] espensgr opened #565 "Offset error in article field on migration"
Migrating the Article fieldtype in a form from Craft 2 to Craft 3 results in an offset error in the `{{craft.sproutForms.displayForm(handle)}}`.

### Steps to reproduce

Update Craft from 2 to 3

### Additional info

- Craft version: 3.5.19.1
- PHP version: 7.4.2
- Database driver & version:  MySQL 5.7.26
- Plugins & versions: Sprout Forms 3.13.2.3

Error:
[code]

[2021-03-18 10:11] BenParizek commented on #565
@espensgr Can you confirm that by "Article Field" you mean the default Entries Relation field provided by Sprout Forms and not a custom field on your project? And, if that's the case, can you share a screenshot or description of the settings you have for that field?

[2021-03-25 09:44] espensgr commented on #565
Sorry, had written an answer here but forgot to comment it 🤦

@BenParizek yeah, it is is the Entries Relation field
**Craft 2:**
![Skjermbilde 2021-03-25 kl  10 33 49](https://user-images.githubusercontent.com/3862891/112451550-eb0a7600-8d55-11eb-8ab6-eace4eb2977d.png)

**Craft 3:**
![Skjermbilde 2021-03-25 kl  10 34 39](https://user-images.githubusercontent.com/3862891/112451627-02e1fa00-8d56-11e

[2021-03-27 20:46] BenParizek opened #566 "Entries Field not working when submitting value as hidden input"
@espensgr reports: when i try to add this field as a hidden input in the form, as the user are not adding this themself, it is not added to the submission:

[code]

[2021-03-27 20:53] BenParizek commented on #565
@espensgr I've opened a new ticket with your final comment on the hidden field. Let's keep each ticket to one topic so it's easier to keep track of where things stand. I'll follow up on that ticket when I have more.

--

Regarding this item, I'm unable to recreate this error. Do you happen to be using any custom form templates on your site? Is it possible this custom template was copied at one poi

[2021-03-28 09:46] espensgr commented on #566
Just going to add that the field in question is a Entries Relation field

[2021-03-28 12:47] BenParizek commented on #566
@espensgr Thanks for saying that, I think I now understand what you are trying to do and this may relate to the other issue you had opened more than I realized initially.

While the data you are submitting for the Entries Relations field should be an array, the array will be defined by the input field `name` parameter, not in the `value` parameter as your example does above. If you ever needed to

[2021-03-28 12:55] espensgr commented on #566
Well this don't relate to the other issue i think, but i do think this may fix this issue. Will give it a go and report back.
But this did work in Craft 2 though, so maybe this was the wrong way in Craft 2 too?

[2021-03-28 12:55] espensgr commented on #565
Yeah, good call.

--

I get the error on the default displayForm tag in twig `{{craft.sproutForms.displayForm(handle)}}`, so no custom template here. And in Craft 3 i guess it defaults to the Sprout default template?

[2021-03-28 17:06] BenParizek commented on #565
@espensgr Depending on when you started using Sprout Forms the Form Template may be different. I'd recommend using the "Accessible Templates" option if you can, as we are deprecated the initial "Basic Templates".

I might be missing something still. How is it that you are not using custom templates, but you are also running into the above issue where the Entries Relations field code in your form i

[2021-03-29 14:19] espensgr commented on #565
Okey, good to know.
It has been a switch from the manual to the `displayForm` at some point, and thing we used the custom code only to override the Entries Relations field with JS before the submit.
I have solved this by manuell setup of the form as we had to use some other custom stuff to we don't use the `displayForm` tag anymore. So we can close this and open it if someone else encounter this.

[2021-03-29 23:43] BenParizek commented on #493
@lancekuttner (cc: @olivierbon, also mentioned above)

I just released Sprout Forms v3.13.4 which should address this issue.

The release will:

- Fix the bug where the initial save of a new Form will create an errant, temporary column in the main `content` table
- Clean up the errant, custom fields in that exist in the main content table that are prefixed with the temporary `field_defaultField...

[2021-03-29 23:43] #493 closed

[2021-03-29 23:48] BenParizek commented on #522
This should now be fixed if you upgrade to the latest (v3.13.4).

[2021-03-29 23:48] #522 closed

[2021-03-29 23:52] BenParizek commented on #491
As of the Sprout Forms v3.13.4 release, this should now be addressed properly in the migrations.

[2021-03-29 23:52] #491 closed

[2021-03-29 23:54] #527 closed

[2021-03-29 23:55] BenParizek commented on #560
As of the Sprout Forms v3.13.4 release, this should now be addressed properly in the migrations.

[2021-03-29 23:55] #560 closed

[2021-03-29 23:56] BenParizek commented on #513
As of the Sprout Forms v3.13.4 release, this should now be addressed properly in the migrations.

[2021-03-29 23:56] #513 closed

[2021-03-29 23:59] BenParizek commented on #533
I'm closing this out as I believe it had to do with a migration workflow which should now be addressed in the latest release.

Please drop me a note at sprout@barrelstrengthdesign.com or re-open with additional comments if the issue persists.

[2021-03-29 23:59] #533 closed

[2021-03-30 00:02] BenParizek commented on #565
Thanks for the follow-up @espensgr

I think I may still be missing part of the picture but I'd be happy to take a closer look at the code if anything else comes up down the road. Glad you've found a path forward.

[2021-03-30 00:02] #565 closed

[2021-03-30 00:04] BenParizek commented on #566
I'm assuming this was addressed where you said you got things working in this other thread (https://github.com/barrelstrength/craft-sprout-forms/issues/565#issuecomment-809417999)

Feel free to re-open if we need to follow up on anything else.

[2021-03-30 00:04] #566 closed

[2021-03-31 12:40] heggemsnes opened #568 "Duplication / Saving and then deleting the copy causes error "Invalid field layout ID: ""
### Description (screenshots, logs, ...)

Deleting a copied form causes internal server error.

In DB two elements with same ID shows up. Deleting both removes the error ( but also the forms ).

### Steps to reproduce

1. Create a form with some fields
2. Save it as a new form
3. Save the new form
4. Delete the copy
5. Error page shows up

### Additional info

- Craft version: Craft Pro 3.6.11.2
-

[2021-04-01 09:30] romain-lgr commented on #389
Hi @daltonrooney, may I ask how you did it? I am trying to achieve the same thing. Thanks!

[2021-04-01 11:47] BenParizek commented on #389
@romain-lgr The docs for custom integrations are here:
https://sprout.barrelstrengthdesign.com/docs/forms/custom-integrations.html

And you could copy what you need from the Entry Element Integration as a starting point:
https://github.com/barrelstrength/craft-sprout-forms/blob/v3.13.4/src/integrationtypes/EntryElementIntegration.php

This is still on our list, I've just got to focus on a few othe

[2021-04-01 12:28] BenParizek commented on #568
@heggemsnes I can recreate this issue. Looking into a fix.

[2021-04-01 13:26] BenParizek commented on #568
@heggemsnes It appears that we were not properly updating the duplicated form with the new field layout ID. So a new field layout exists in the database, but the duplicated form gets created with a duplicate field layout ID from the form it was duplicating. Once one of the forms is deleted, the other will no longer have a matching field layout in the database and trigger the error you describe.

I

[2021-04-01 13:29] #568 closed

[2021-04-09 06:01] stigzelm commented on #521
Any tips on how to get the fields back after they have disappeared?

[2021-04-09 10:13] nicholashu commented on #521
From my experience they are lost in the ether, without some serious trawling through the database. However, the field references are still in the db so, you can't create a new field with the same handle. I found it easier to just delete the form (and remove it from the database table, if you need to reuse the handle) and start again..

[2021-04-09 13:16] BenParizek commented on #521
@stigzelm I don't have a quick answer. The issue was related to a change in how the field layout tab was defined during the form submission. If you'd like to drop me a note at sprout@barrelstrengthdesign.com and share your database or arrange a time to share screens and look at what's in the database, happy to take a look.

[2021-04-09 13:29] stigzelm commented on #521
@BenParizek Thanks. We ended up rebuilding the form. The only down side with this is that now all submissions to this form are empty. We will manage with this downside. Would have been nice if there was a easy way to restore the removed fields.

[2021-04-21 14:15] jamesmacwhite opened #570 "Accessible form field template uses <legend> nested in a <div> that is invalid to HTML5 specification"
### Description (screenshots, logs, ...)

According to the HTML5 spec, a `<legend>` cannot be wrapped with a `<div>`.

https://github.com/barrelstrength/craft-sprout-forms/blob/v3/src/templates/_components/formtemplates/accessible/field.twig
https://github.com/barrelstrength/craft-sprout-forms/blob/v3/src/templates/_components/formtemplates/accessible/field.twig#L31-L49

![image](https://user-imag

[2021-05-05 12:19] umkasanki commented on #325
We have the same issue
Craft Pro 3.6.13
Sprout Forms 3.13.5

![изображение](https://user-images.githubusercontent.com/496132/117139720-3da76b00-adb5-11eb-9f3c-fc19d177fec2.png)

[2021-05-12 14:03] jonlongnecker opened #574 "Increased Spam"
### Description (screenshots, logs, ...)
Hey there - within the last month I've noticed a huge increase in spam through the contact form on all my sites and my client's sites. I'm not really interested in using Google Re-Captcha because - well - it makes me want to punch my screen every time I have to use it 😂.

Anyhow. I keep marking these emails as spam inside the Craft CP, but the next ones are

[2021-05-12 14:41] BenParizek commented on #574
@jonlongnecker Marking items as spam in the CP is just a method of categorization to get them out of the main list of elements and give you a chance to have a workflow around reviewing them or deleted them.

As Craft becomes more popular it's possible that more spam tools check for specific things that they can exploit related to that CMS, however, it's also possible the IP addresses of your serve

[2021-05-27 11:22] BenParizek commented on #570
@jamesmacwhite Thanks for calling this out. I'll look into improving on this in a future release.

In the meantime, if you'd like to update this in your current setup, you can override that specific field template with the underlying HTML that you'd like to use: https://sprout.barrelstrengthdesign.com/docs/forms/template-overrides.html#customizing-templates

[2021-05-27 11:23] jamesmacwhite commented on #570
@BenParizek Thanks Ben. That's what I've done, but thought I'd flag it upstream.

[2021-06-23 22:06] Chris-esser opened #578 "Install failing -> Table 'craft_sproutforms_forms' already exists"
I attempted to upgrade sprout forms to v3.13.5.
Craft Control panel shows install failed.
web.log shows:
-------------
2021-06-23 21:41:06 [-][20110][-][error][craft\db\MigrationManager::migrateUp] Failed to apply Install (time: 0.016s). Output:

The SQL being executed was: CREATE TABLE `craft_sproutforms_forms` (
---------------
How do I get past this error?

[2021-07-01 11:51] BenParizek commented on #578
@Chris-esser The error suggests that either you may have tried to upgrade once and failed and tried again or that we may have a bug somewhere in our migration code that doesn't check if a table exists.

If you are still having issues with this, and can rule out the first scenario, can you provide any additional info from the error logs on the second scenario such as which file and line of code is

[2021-07-04 11:35] Chris-esser commented on #578
Hi Ben,
Yes, I believe there was a previous attempt to upgrade and then we rolled back.

Is there a solution for this? Is it as simple as dropping the table and running the upgrade?

Chris Esser
Deloitte Services LP
Tel/Direct: +1 (615) 882 - 6067
www.deloitte.com

From: Ben Parizek ***@***.***>
Sent: Thursday, July 1, 2021 6:52 AM
To: barrelstrength/craft-sprout-forms ***@***.***>
Cc: Esser, Chri

[2021-07-13 12:05] BenParizek commented on #578
@Chris-esser It really depends the data you are working with that you need to preserve. If you can trigger a new upgrade with the old database, that of course is the best option. If you've already upgraded and this remains a thing, you'll need to evaluate what data you need to keep or potentially hack the migration code to do something it's not doing. It's hard to say until we figure out which par

[2021-07-29 11:26] mEsUsah opened #579 "Form export - MS Excel does not understand it"
### Description (screenshots, logs, ...)

Microsoft Excel does not open the CSV files that get exported by sprout forms. Does not automatically separate fields into table row cells. Have to use Yarn Reports to make it Excel-friendly.

### Steps to reproduce

1. Go to the CP page for sprout forms
2. Go to entries
2. Click on "Export" -> "No limit" -> "Export"
3. Open the csv file with MS Excel

###

[2021-07-30 14:19] cstoerzer opened #580 "File Upload not working - no error"
### Description

I set up a new form and use a file upload field - everything gets displayed correctly and I don't get any errors. Entries are not strored in the DB - just notification. Mail is sent, but the field is missing completely. Asset is also not stored in selected volume. So it seems that it is just ignored.

### Additional info

Reload Page

- Craft version:Craft Pro 3.6.17
- PHP version

[2021-08-11 09:15] jerome2710 commented on #554
@BenParizek just wanted to let you know that despite your given information above, we are again a few months later and nothing has happened still. Although we've already given up our faith in your plugins and service, I still find it unacceptable you leave your clients dangling helpless, who've installed and paid for your plugins.

I would like to advise Craft (cc @angrybrad & @brandonkelly) to su

[2021-08-11 23:33] JJefferyDev opened #582 "Cannot create new form page after Craft 3.7 upgrade"
### Description (screenshots, logs, ...)
After upgrading to Craft 3.7.8 the pages on my sprout forms no longer display in tabs and I cannot create a new page in existing forms.  I can create a new form without issue.

Before Craft 3.7.8 upgrade:
![image](https://user-images.githubusercontent.com/3834326/129116479-3501bac9-c50c-4988-97d4-fdd003dc5185.png)

After Craft 3.7.8 upgrade:
![image](https:

[2021-08-12 10:03] jerome2710 opened #583 "Notifications do not respect dynamic system email settings"
### Description
When creating a new notification, [the fromName and fromEmail are prefilled based on the system email settings](https://github.com/barrelstrength/craft-sprout-base-email/blob/v1/src/services/NotificationEmails.php#L233). However, when having dynamic mailer from names and emails, the environment variables are not rewritten resulting in invalid values.

![Schermafbeelding 2021-08-12

[2021-08-13 07:14] lancekuttner opened #584 "CSS problem adding fields to forms in Sprout Forms 3.13.5"
### Description (screenshots, logs, ...)
![Sprout CSS Issue](https://user-images.githubusercontent.com/11380153/129318289-c3651b81-8d12-487e-9d3f-7a5282f5ce89.png)

The above is what we are seeing when following the steps below.
Please refer to email support request "_Re: Sprout Forms CSS issues_" 03/08/2021 and subsequent response from Craft Support with temporary CSS fixes (which have been suffi

[2021-08-13 15:03] BenParizek commented on #582
@JJefferyDev I just released Sprout Forms v3.13.6 which addresses this issue.

[2021-08-13 15:03] #582 closed

[2021-08-13 15:04] BenParizek commented on #584
@lancekuttner I just released Sprout Forms v3.13.6 which I believe addresses these issues.

[2021-08-13 15:04] #584 closed

[2021-08-16 10:29] cstoerzer commented on #580
Hi,

I tried the same now, with a clean install of craft cms and sprout forms. Same behavior – E-Mail is sent, but no file attachment to email and no file upload to volume.

Any suggestions?

Christian

[2021-08-16 11:43] BenParizek commented on #580
@cstoerzer This issue had to do with a change in the Element publishing workflow introduced in Craft 3.7.

I've just released Sprout Forms 3.13.7 which should resolve the issue. You will be required to upgrade to at least Craft 3.7.5 for the fix.

[2021-08-16 11:43] #580 closed

[2021-08-17 16:04] cstoerzer commented on #580
@BenParizek thank you - works now if saving of entries is enabled.

But does still not work, if saving of form entries is disabled. But I can live with that for now.

[2021-08-23 20:56] #472 closed

[2021-08-23 20:57] extensibleseth commented on #562
We've run into this when trying to save duplicate email values. It might be a non-unique key issue.

[2021-08-24 11:32] BenParizek commented on #579
@mEsUsah This doesn't appear to be universal behavior, it might be a workflow issue. Can you take a look at the discussion here and see if anything mentioned about the workflow helps solve the issue you are seeing:
https://github.com/barrelstrength/craft-sprout-reports/issues/89#issuecomment-627827012

[2021-08-24 12:30] BenParizek commented on #583
@jerome2710 Those fields don't support environment variables yet (if we indicate that they do anywhere, let me know).

To use Environment Variables that get processed by that code you would need to update your Craft System Email settings:
/admin/settings/email

I'll mark this as a feature request as it would be good to allow variation there if needed. I will try to address this after our next majo

[2021-08-24 12:57] BenParizek commented on #554
@jerome2710 I respect your frustration.

While there is still an issue I need to address while duplicating forms (fields don't get duplicated right now), the issue where incorrect relationships were created was addressed in v3.13.5 earlier this year. I apologize that I overlooked updating this thread. Due to the nature of the bug, the upgrade may require manual steps to fix during the upgrade. I'v

[2021-08-24 13:24] jerome2710 commented on #583
Hi @BenParizek,

Thank you for your reply. It is correct that you do not indicate that these fields support environment variables. However, as pointed out in [NotificationEmails.php#L233](https://github.com/barrelstrength/craft-sprout-base-email/blob/v1/src/services/NotificationEmails.php#L233), the default is based on Craft's /admin/settings/email which do support environment variables. So while

[2021-08-24 13:36] BenParizek commented on #583
@jerome2710 I see what you're saying now. The values get populated there when a new email is created without getting parsed. This is a bug.

If you want to fix things locally you can update those two lines to the following:

[code]

I'll mark this as a bug and aim to have that update in the next release.

[2021-09-08 01:55] BenParizek opened #587 "Bug when using multiple address fields on a form"
Default JS for address fields when changing countries is not specific enough. The second address on the page will swap out the first addresses fields if the fields need to be updated for that second address region. And the fields for the second address never get updated.

[2021-09-14 11:59] niels-vormenvorm opened #588 "Safari not sending forms"
### Description (screenshots, logs, ...)
When the form on https://www.tcalbergen.nl/inschrijven is filled, it is not saved when using safari, chrome is working perfectly. Even after disabling all other Javascript files it's still nog working. I don't know where to look anymore

### Steps to reproduce

1. Fill the form in safari (https://www.tcalbergen.nl/inschrijven)

### Additional info

- Craft

[2021-09-20 11:28] kevadamson opened #589 "Craft 2 to 3 migration - Invalid datetime format"
Finally getting around to updating a website from Craft 2.9.2 to 3.7.13. I get this error installing the Sprout Forms plugin:

[code]

### Additional info

- Craft version: 3.7.13
- PHP version: 7.2.34
- Database driver & version: MySQL 8.0.26

[2021-09-23 11:06] BenParizek commented on #589
@kevadamson It seems like the CustomQuery data source is somehow getting migrated twice. I'm not sure why that would be. Perhaps there is a scenario where the two values existed before you started the migration.

If you'd like to try a workaround on your end, if you don't use the CustomQuery data source or if it's easy to migrate the reports you do use it for manually, you could try deleting it fr

[2021-09-23 11:20] kevadamson commented on #589
Thanks @BenParizek

Do I delete this:

![image](https://user-images.githubusercontent.com/1021744/134498165-9a68b4e4-4c7d-445d-b59d-68b354f51ffd.png)

from `craft_sproutreports_datasources`?

[2021-09-23 11:28] BenParizek commented on #589
@kevadamson Yes, that's the one.

I'm operating on limited context here, so be sure to back up your db first and you may not want to do that if you have any reports of that type as they'd be referring to that data source in the reports table via `craft_sproutreports_reports.dataSourceId` and that could cause new issues.

[2021-09-23 12:31] kevadamson commented on #589
I "fixed" by one by deleting the migration files from the vendor folder that were erroring. Seems to have worked ...

[2021-09-23 14:37] riusi88 opened #590 "Rules Error: Invalid request while validating conditions"
### Description
After updating to the most recent version of the plugin and Craft CMS, and creating a Form with some rules, I receive this JS error: "Invalid request while validating conditions".

### Steps to reproduce

1. Create Form, and add a multiple choice field (3 options) and 3 dropdown fields.
2. Create 3 rules based on the multiple choice field options. The rule should unhide one of the

[2021-11-16 01:08] rn1988 opened #591 "Creating new Form produces timeout"
### Description (screenshots, logs, ...)

Creating a new form takes a long time or even causes the database to stuck. This happens with bigger systems that have a lot of content. The query/process that blocks the system is:
ALTER TABLE `content` ADD `field_defaultField1` text

Sprout Forms adds and removes this field while creating the form. The issue could be related to these changes:
https://git

[2021-11-16 12:19] BenParizek commented on #591
@rn1988 Can you confirm which version of Sprout Forms you have installed? The issue you link to above was addressed in release [v3.13.4](https://github.com/barrelstrength/craft-sprout-forms/blob/v3/CHANGELOG.md#3134---2021-03-29). Have you upgraded past that version and run the migrations included in v3.13.4?

The error you link to above was accidentally creating rows in the craft_content table wh

[2021-11-16 12:34] BenParizek commented on #590
@riusi88 If this remains an issue, I may need more info to help troubleshoot. In a simple test, I'm seeing the expected behavior and no console errors. https://cln.sh/EiH0qg

If you haven't already, as a starting point to troubleshoot further I'd try to create a copy of your db, delete all other fields except the ones in question, and try to output the form on a simple page to confirm that is work

[2021-11-17 04:52] rn1988 commented on #591
Hi @BenParizek

Can confirm it is 3.13.6 (double-checked it)

Yes, in my investigation I found this change and was thinking that these changes may cause the issue.

Yes,  I can confirm that there are no open migrations (Utilities shows 'No content migrations.')

I only see the 'field_defaultField1' column in the database table. That is the one that gets deleted and created while creating a new for

[2021-11-17 13:02] BenParizek commented on #591
@rn1988 I've been unable to recreate this yet but I do see us doing something odd in how we modify the Craft content table before we establish a Sprout Forms content table. I'll need to dig into that a bit and can follow up once I know more.

Do you happen to have `allowAdminChanges` set to false? I'm not sure how this would behave but if Craft's field's fall under the changes that Project Config

[2021-11-18 00:40] rn1988 commented on #591
Hi @BenParizek, thanks for investigating!

Yes, it is false on staging/production and true in the local environment. I can see in all environments that the alter table of content (adding and deleting) is the bottleneck.

[2021-11-22 16:24] DrewBold opened #592 "Checkbox / Radio Buttons not translating using static file"
Hello,

Checkboxes and Radio Button labels are not translating using the static site.php file. I have also included and modified the sprout-forms.php file in the appropriate folder for craft site translations.

/translations/fr/site.php
/traslations/fr/sprout-forms.php

EG: "Yes" => "Oui"

### Additional info

- Craft version: 3.5.17.1
- PHP version: 7.3.16
- Database driver & version:  MySQL 5.6.

[2021-11-23 13:04] BenParizek commented on #592
Thanks for reporting @DrewBold. I've pushed a fix in Sprout Forms v3.13.8. You should be able to use the 'site' translation category for those labels now.

[2021-11-23 13:04] #592 closed

[2021-11-23 17:18] DrewBold commented on #592
@BenParizek  Thank you!

[2022-01-28 09:13] TomDeSmet commented on #562
I'm having the same issue right now. Any ideas on this?

[2022-02-01 14:38] kerrig commented on #562
Apologies for creating this ticket and never responding, was super busy when I created this and ended up doing a manual database update and completely forgot to update here. @extensibleseth is correct it was related to duplicate email values, I believe there was code trying to throw an actual error within validate, which was then getting caught by the validate code and turning into an array to str

[2022-02-15 19:02] Jones-S opened #596 "Sproutform Migration deleting random columns (m210328_000000_clean_up_default_fields_in_content_table)"
### Description (screenshots, logs, ...)
We have recently worked on a multisite craft installation. We have not touched an existing site using sprout forms but worked on another. Now when deploying we run the craft command `migrate/all`.
This looks like this:

![sprout](https://user-images.githubusercontent.com/7059580/154128802-50eda3ac-a1b9-442f-b4c8-09c194db9950.jpg)

Now the weird thing is, th

[2022-02-28 14:08] romainpoirier opened #599 "obfuscateEmailAddresses doesn't work anymore"
### Description (screenshots, logs, ...)
I am using Sprout Forms / Fields / List / Email / Report and have updated from a Craft 2 project to Craft 3.

I was previously using this function, which works under Craft 2:
`craft.sproutFields.obfuscateEmailAddresses(contactThematic.settings.options, valueThematic)`

But I have now this error under Craft 3:
`Neither the property "obfuscateEmailAddresses"

[2022-02-28 19:00] BenParizek commented on #596
@Jones-S The reason this migration exists is due to a bug where we were accidentally creating columns in the content table when we were initializing new fields in the Sprout Forms form builder. The intention of the migration is to try to clean those columns up so while we definitely tried to be defensive in our code here it seems, if this is a bug in our code, you have a scenario where something a

[2022-02-28 19:41] BenParizek commented on #599
@romainpoirier This behavior should happen by default when using the Email Dropdown field.

If you need to access in your templates, you can access it via Craft's Template API now:

[code]

[2022-03-01 10:11] Jones-S commented on #596
Hey @BenParizek
Thanks for getting back to me. Thanks for the offer for a chat, I will get back to that, when I find more time, but that will probably only be after March...
I don't understand why our fields match the pattern...
Where would I find the logs though? I could quickly check those. Maybe this will bring us one step further...

Thank you.

[2022-03-01 13:01] BenParizek commented on #596
Craft will log this to /storage/logs/web.log

I typically delete the contents of web.log before the action I'm troubleshooting. Take the action to generate the log. Then you can search the log for "Dropped column" for that error message or "[error" for any errors or "sprout" for more general stuff that our plugins may have done and see what you find.

[2022-03-08 13:42] romainpoirier commented on #599
Thank you Ben, but now using the _Email Dropdown_ field combined with `obfuscateEmailAddresses` I get this error:

It looks like it failed to interpret the option value, which is a digit when checking the outputted HTML code:
[code]

If I disable `obfuscateEmailAddresses`, the outputted options are the email addresses.

[2022-03-09 11:21] romainpoirier commented on #599
Just to be more specific:

In my case, I need a custom integration where I build the form layout, using the fields handles and `sprout-forms/entries/save-entry` action.

[2022-03-09 13:02] romainpoirier opened #600 "Argument 1 passed to craft\web\View::renderTemplate() must be of the type string, null given"
### Description (screenshots, logs, ...)
Using the native render form method:
`{{ craft.sproutForms.displayForm('contact') }}`

I get this error:
`Argument 1 passed to craft\web\View::renderTemplate() must be of the type string, null given, called in /vendor/barrelstrength/sprout-base-email/src/base/EmailTemplates.php on line 145`

While there is a correct template path in `/admin/sprout-forms/set

[2022-03-09 13:45] BenParizek commented on #600
@romainpoirier The error your posting looks like it's coming from a misconfiguration of the Email Templates, not the Form Templates. For next steps I'd consider:

1. Confirm your form data is being saved to the database
2. Check your notification email settings for this form and confirm the templates being used there are accurate
3. If things still aren't working after that, try disabling the Noti

[2022-03-09 13:53] BenParizek commented on #599
@romainpoirier I may be misunderstanding what you're troubleshooting here. I'm testing locally and everything is working fine so I expect we just need to track down where the configuration is setup incorrectly. Where are you getting the `does not comply with RFC 2822`?

Does your setup reflect the configuration described here?:
https://sprout.barrelstrengthdesign.com/docs/forms/email-dropdown-fiel

[2022-03-09 14:40] romainpoirier commented on #599
I'm using AJAX method:
[code]

And I get this error when checking the error in the console:
`POST /sprout-forms/entries/save-entry 500 (Internal Server Error)`

Clicking on the error is showing this:
[code]
Yes, I think that my setup reflects the configuration as described in the documentation.

[2022-03-09 15:24] romainpoirier commented on #600
Yes, despite the error it was being saved and I can retrieve the submissions under `/admin/sprout-forms/entries`.

Ok I finally don't get this error anymore. It seems that it was maybe related to the template email path.

In my Craft 2 project my email template was located here:

While in Craft 3 it should be located here:

[2022-03-09 15:25] romainpoirier commented on #599
Maybe that was related to #600, I don't get the error anymore.

[2022-03-09 15:29] romainpoirier commented on #600
Unfortunately, I now get this error while I try to preview the email template from `/admin/sprout-email/notifications/edit/{id`}:

While the file belongs at the correct path. Submissions are saved, but notifications never sent.

[2022-03-09 18:27] #599 closed

[2022-03-10 08:14] romainpoirier commented on #600
`_emails/notification` is the default email template, which could be setup from `/admin/sprout-forms/settings` → `Default Form Templates` but is useless in my case.

In parallel, for my contact form, I have a `_emails/notificationAdmin` and a `_emails/notificationVisitor` templates folder, because I'm sending two emails on submit. In both folders I have an `email.twig` and `email.txt` template. Th

[2022-03-11 15:05] romainpoirier commented on #599
Unfortunately, I still get this error again. I don't understand why, maybe that was not related to the template as described in #600. Any idea why / how to investigate?

[2022-03-30 13:22] jamesmacwhite commented on #589
I'm still hitting this on MySQL 8 for a Craft 2 to 3 migration.

I've tried starting with completely blank sprout reports tables but the issue is migrations being called from different Sprout modules/plugins make it hard to try and patch around it. Deleting the migrations from vendor isn't ideal when you want to have a fully automated migration track.

The one fix that seems to work is making the

[2022-03-30 18:53] jamesmacwhite commented on #589
Actually, temporarily disabling strict mode seems to allow the migrations to complete. Hooking a custom migration track before the plugins migration track can allow you to run a dbCommand to execute a SET SESSION sql_mode query to drop strict mode temporarily. It's not ideal, but it works and temporary.

[2022-03-30 19:35] jamesmacwhite commented on #492
FYI for anyone coming across this after the issue being closed. You can still hit this issue with MySQL 8 and strict mode, see https://github.com/barrelstrength/craft-sprout-forms/issues/589

[2022-04-04 09:35] krizzzly commented on #283
@BenParizek we experience the same error in the logs, we receive multiple equal warnings for 1 form submission.
i can confirm that the form that is submitted has a notification on entry creation attached, and also the email is sent out correctly.

[code]

thx for support

[2022-04-08 10:24] krizzzly opened #602 "Captcha errors triggered for good submissions"
### Description (screenshots, logs, ...)
[code]

A couple of submissions didnt get saved because of these errors, but the submissions were valid, because the $_POST showed good values of people trying to subscribe to some services.

### Additional info

- Craft version: Craft Pro 3.7.30.1
- PHP version: 7.4.28
- Database driver & version:  MySQL 5.7.26
- Plugins & versions: Sprout Forms | 3.13.8

[2022-05-10 14:57] hatyi opened #604 "The Form associated with the saved Form Entry Element does not match any selected Forms."
One of my client has this issue on a live site and I'm unable to figure out what could be wrong.
This can't be reproduced in a docker - dev environment and neither on production if I go in and test. - "this just happens" in some scenarios -

Getting these errors:
`2022-05-10 16:35:36 [-][-][-][error][barrelstrength\sproutbaseemail\services\NotificationEmailEvents::handleDynamicEvent] When a form e

[2022-05-24 11:54] BenParizek commented on #604
@hatyi Are you experiencing any unexpected behavior from your notifications? If so, can you describe what you're seeing in more detail?

The above error messages may not mean anything if things are working. In the current version of Sprout Email these messages can be triggered whenever you have multiple notification events setup. When an action happens, Sprout Email checks if any of the Notificati

[2022-05-25 07:44] SamLNL commented on #602
Same here

[2022-05-27 15:51] jamesmacwhite opened #606 "errorClass on field is always an empty string ''"
### Description (screenshots, logs, ...)

I'm using the accessible form template and associated template parts and notice that when a validation error occurs, the error is correctly shown, but there is no error class on the field itself. There is an `errors` class on the main form element but not on the fields themselves.

I can see on the outer container `div` of the field there is just a bit of

[2022-06-04 13:28] wallacio opened #608 "Markup in Opt-in message field generates escaped HTML"
### Description (screenshots, logs, ...)
Ussing Markup in an 'opt-in' message field causes HTML characters to be rendered in default Accessible Template

**Markup in field**
![image](https://user-images.githubusercontent.com/104447069/172001084-875de961-a59c-4ff1-8b3b-1433bd9c36c6.png)

**Output HTML**
![image](https://user-images.githubusercontent.com/104447069/172001038-682cd01f-5f21-430c-8c2e-5

[2022-06-14 09:44] hatyi commented on #604
Hello @BenParizek

Thanks for your response, it's highly appreciated. I haven't got back to you since we are still "investigating" this internally, the client has many forms created on the site, and we just need to slowly figure out what might be wrong on our end. It's been like this for 6+ months on this project and I don't experience other errors related to your plugin(s) on other sites I'm work

[2022-06-17 12:47] mijewe commented on #596
I am also having this issue.

The migration is deleting a bunch of fields that don't start with `field_defaultField`

Looks to me like the `if (!strpos($customColumnName, $orphanFieldPrefix) === 0) { ` line is the problem.

Doing a bit of sanity debugging, I think this is a brackets issue.
It's currently evaluating "(NOT strpos) = 0"
But it wants to be evaluatng "NOT (strpos=0)"

because
[code]

O

[2022-06-20 01:25] pixelmachine opened #609 "Type error with address field"
I've added an address field to my form and I'm getting an error regardless of any other configuration.

[code]
Latest Craft Pro and Commerce

[2022-06-20 12:34] #604 closed

[2022-06-20 20:55] pixelmachine commented on #609
Update: I've tried reinstalling, disabling all other plugins, trialing Pro etc. etc. and nothing seems to work.

[2022-06-21 00:06] pixelmachine opened #610 "Exporting and importing forms"
I wanted to transfer a form from a development site to live site but I can't see any way to do so. There's a whole page in the help docs but it doesn't really fully explain and I think perhaps it's referring to Sprout Import which seems to have been discontinued? It's quite confusing.

Sprout Import referrers to using FeedMe but FeedMe doesn't support Sprout Forms at all...

Is any of this still s

[2022-06-22 11:38] jamesmacwhite opened #611 "Sprout Forms user permissions are invalid on Craft 2 to Craft 3 migration"
### Description (screenshots, logs, ...)

I recently migrated a large Craft 2 site and some of the new type values set in the user permissions migration are not the correct values:

https://github.com/barrelstrength/craft-sprout-forms/blob/v3/src/migrations/m190318_000000_updates_user_permissions_groups.php.

* View entries should be: `sproutForms-viewEntries`.
* The edit form permissions should b

[2022-07-07 17:28] jamesmacwhite commented on #591
I am hitting the same issue. Trying to create a new form leads to timeout on our staging and live environments. On my development environment I can sometimes create a new form.

Craft CMS 3.7.46.1
Sprout Forms 3.13.8
MySQL 8

I have 263 columns in the content table 3 of those are random fieldDefault fields.

[2022-07-08 04:33] anthonyjharrison commented on #596
Adding another voice to this issue running craft `3.7.47.1` and sprout forms `3.13.8`

I have a field `field_defaultField1` which the migration deletes but then proceeds to delete all the other fields after that. The fields preceding that field seem unaffected. (that's just my take).

terminal output - as you can see first item is correct, the next 6 are incorrect.

[code]

entry in `console.log`

[2022-07-08 07:16] jamesmacwhite commented on #591
I have had some success cloning an existing form which appears to not timeout but does take a while. None of the fields are cloned, but I don't really need that, just to be able to initialise a new form.

[2022-07-29 11:32] BenParizek opened #612 "Craft 4 Support"
Sprout Forms is in the process of being updated to Craft 4. Please see the statement in our docs for additional details:
https://sprout.barrelstrengthdesign.com/docs/support/road-map.html

Follow this thread if you'd like to be notified when the upgrade is ready.

[2022-08-01 16:50] gdelorey opened #613 "Google ReCaptcha Error - Forms Treated as SPAM"
We are using Sprout Forms with Google ReCaptcha enabled, and recently found out that form submissions from the Safari browser on Mac do not get recorded in Sprout. In doing some troubleshooting, the following is true:

1. This happens across all forms (existing and new for testing)
2. If I enable storage of spam submissions, we do see the entry arrive but marked as spam. The reason given by Sprout

[2022-08-15 01:36] benjamin-smith commented on #596
Happening on an install of ours as well, the below columns are being dropped.

"craftcms/cms": "3.7.44"
"barrelstrength/sprout-forms": "3.13.8",

[code]

[2022-08-15 19:04] squiddot commented on #562
I'm running into this issue as well. It seems like somewhat of a normal form requirement? Error is happening when any of the values (the emails in this case) are the same.

[2022-09-11 22:50] japo32 opened #615 "Form added to a Matrix field block doesn't load the JS for captchas in staging or prod environment"
### Description (screenshots, logs, ...)
When a form is added to the template of a matrix field block on a staging or prod environment the JS required for captchas isn't loaded.
When you inspect the page, none of the `<script>` tags related to the form are added.

![failed](https://user-images.githubusercontent.com/676680/189552230-2b329d29-780b-4fb4-8014-d434fa889ba9.png)

DEV
![local](https://us

[2022-09-16 06:38] darwinsoftware commented on #596
This is the correct analysis and fix. Quite an annoying problem if you don't have the ability to edit the migration file before migrate/all is executed (e.g. if migrate/all is executed immediately as part of an automated deployment workflow).

In our case, we pulled the database to development during a short content freeze, fixed the migration as per the above, ran the migration on dev, and then p

[2022-09-28 20:28] michaelfromtheoutfit commented on #596
Hey all!

I'm having the exact same problem.

I'm planning to do exactly what @darwinsoftware mentioned above - but I'm curious if @BenParizek released a new version with that particular migration corrected and we first upgraded to that version of the plugin, would that solve the problem also?

I feel like this issue is going to keep cropping up for people.

[2022-09-29 08:07] mijewe commented on #596
I get the feeling this plugin is somewhat abandoned. There is a PR for the fix but it doesn't seem like it'll get merged in.

https://github.com/barrelstrength/craft-sprout-forms/pull/614

[2022-09-29 08:18] anthonyjharrison commented on #596
Yeah I get the same feeling although their roadmap states they're readying for Craft 4...  https://sprout.barrelstrengthdesign.com/docs/support/road-map.html#commercial-plugins Maybe there's hope... @BenParizek any thoughts on progressing a fix for this?

[2022-10-10 06:10] KBjana commented on #609
I've just updated from Craft 3.7.16 to Craft 3.7.55.3 and am now having the same issue. I also updated Sprout Forms from 3.13.7 to 3.13.8 but downgrading doesn't fix the issue so I believe it's a Craft update that's caused the error

[2022-10-20 10:03] KasimMahroof commented on #609
I've had the same issue and managed to track down the cause to the [barrelstrength/sprout-base-fields](https://github.com/barrelstrength/craft-sprout-base-fields) dependency that is specified in this project's composer.json.

In the [barrelstrength/sprout-base-fields](https://github.com/barrelstrength/craft-sprout-base-fields) project, it has an issue with a dependency which I've made a pull reque

[2022-11-04 11:25] BenParizek commented on #596
I'm adding this bug to the top of my list to review and will try to have a fix out soon.

The [Road Map](https://sprout.barrelstrengthdesign.com/docs/support/road-map.html) (recently updated with a few more comments) continues to be the best summary of where things stand as I continue on the long road to catching up and getting back to a more responsive level of support.

[2022-11-04 21:30] BenParizek commented on #610
Currently Forms cannot be saved in the Project Config which allows migrating schema between environments. I will re-evaluate this once the plugins are updated to Craft 4.

My apologies for the silence, I had to take some personal time to get through a few things in life, and am now more actively working on Sprout again, with the current focus getting this updated to be compatible with Craft 4.

[2022-11-04 21:47] BenParizek commented on #610
Thanks for the feedback. I'll work on improving the clarity around this in Craft 4.

[2022-11-05 00:11] BenParizek commented on #615
The plugin does not yet support Matrix fields. We'll consider adding support as we can. If you'd like to follow the feature ticket it can be found here: https://github.com/barrelstrength/craft-sprout-forms/issues/76

[2022-11-05 00:18] BenParizek commented on #615
My initial response was incorrect, but I don't have a good answer to why this happens right now, and won't have the time to dig in deeper until I get our Craft 4 plugins out. My apologies on needing to push this back but I'm catching up on a lot things right now and have to prioritize until I get fully caught up. I'll mark this as a bug for now.

We're just using Craft/Yii tags in the templates, s

[2022-11-05 00:37] BenParizek commented on #579
I just released v3.13.9 which adds unicode support for exported data which should play nicer with Excel. Let me know if that doesn't solve your issue.

[2022-11-05 00:37] #579 closed

[2022-11-05 00:38] BenParizek commented on #609
I've just released v3.13.9 which should resolve this issue.

[2022-11-05 00:38] #609 closed

[2022-11-05 00:43] BenParizek commented on #596
I've just released Sprout Forms v3.13.9 which should resolve this migration. Let me know if you continue to run into issues.

This issue seems to have been introduced when Craft started appending random strings to the content table columns in 3.7.0.

[2022-11-05 00:43] #596 closed

[2022-11-05 01:29] #530 closed

[2022-11-05 02:53] #589 closed

[2022-11-05 02:54] #507 closed

[2022-11-05 05:37] BenParizek commented on #608
Just released Sprout Forms v3.13.10 which fixes this.

[2022-11-05 05:37] #608 closed

[2022-11-05 05:38] BenParizek commented on #611
This is fixed in Sprout Forms v3.13.10.

[2022-11-05 05:38] #611 closed

[2022-11-30 13:27] mmorkt commented on #493
I'm getting the same error trying to create a `new form`.
Craft CMS v3.7.47.1
Sprout Forms v3.13.8